/*------------------------------------*\
    #BACKGROUNDS
\*------------------------------------*/

.bgr-base {
	background-color: $color-base;
}

.bgr-second {
	background-color: #f0edf7;
}

.bgr-third {
	background-color: #dff5fd;
}

.bgr-fourth {
	background-color: #7be67b;
}

.bgr-fifth {
	background-color: #b4a2e3;
}

.bgr-sixth {
	background-color: #f09ee0;
}

