/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

.visibility-hidden {
	visibility: hidden !important;
}

.step-two__agenda {
	margin-bottom: 0 !important;
}