/*------------------------------------*\
    #ALIASES
\*------------------------------------*/

@mixin font-size($font-size...) {
    @include inuit-font-size($font-size...);
}

// Placeholder @mixin for Sass
@mixin placeholder {
   	&::-webkit-input-placeholder {
       	@content;
   	}

   	&:-moz-placeholder { /* Firefox 18- */
       	@content;
   	}

   	&::-moz-placeholder {  /* Firefox 19+ */
       	@content;
   	}

   	&:-ms-input-placeholder {
       	@content;
   	}
}