/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@mixin clearfix {
	&:before,
	&:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
	& {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}
}

//MEDIA QUERIES MIXINS
@mixin screen-height($res-min, $res-max) {
    @media screen and (min-height: $res-min) and (max-height: $res-max) {
        @content;
    }
}

@mixin max-screen-height($res) {
    @media screen and (max-height: $res) {
        @content;
    }
}

@mixin min-screen-height($res) {
    @media screen and (min-height: $res) {
        @content;
    }
}

@mixin max-screen-height-and-max-screen-width($res-height, $res-width) {
    @media screen and (max-height: $res-height) and (max-width: $res-width) {
        @content;
    }
}

@mixin min-screen-height-and-min-screen-width($res-height, $res-width) {
    @media screen and (min-height: $res-height) and (min-width: $res-width) {
        @content;
    }
}

@mixin portrait($res-width) {
    @media screen and (orientation:portrait) and (max-width: $res-width) {
        @content;
    }
}

@mixin landscape($res-width) {
    @media screen and (orientation:landscape) and (max-width: $res-width) {
        @content;
    }
}

//animation mixin
@mixin anim ($delay, $duration, $animation, $function) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $function;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $function;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-timing-function: $function;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-timing-function: $function;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}