/*------------------------------------*\
    #FONTS
\*------------------------------------*/


@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Light.otf')  format('opentype'),
         url('fonts/BrandonGrotesque-Light.woff') format('woff'), url('fonts/BrandonGrotesque-Light.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Medium.otf')  format('opentype'),
         url('fonts/BrandonGrotesque-Medium.woff') format('woff'), url('fonts/BrandonGrotesque-Medium.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Bold.otf')  format('opentype'),
         url('fonts/BrandonGrotesque-Bold.woff') format('woff'), url('fonts/BrandonGrotesque-Bold.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'BrandonGrotesque';
  src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),  url('fonts/BrandonGrotesque-Black.otf')  format('opentype'),
         url('fonts/BrandonGrotesque-Black.woff') format('woff'), url('fonts/BrandonGrotesque-Black.ttf')  format('truetype'), url('fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
