/*------------------------------------*\
    #TABS
\*------------------------------------*/


.tabs {
	margin-top: 60px;

	@include max-screen($breakpoint-medium) {
		margin-top: 30px;
	}
}

	.tabs__nav {
		margin-left: 0;
		margin-bottom: 43px;

		@include max-screen($breakpoint-medium) {
			margin-bottom: 30px;
		}

		li {
			display: inline-block;
    		vertical-align: middle;
    		margin-right: 100px;

    		@include max-screen($breakpoint-medium) {
    			margin-right: 30px;
    		}
		}

		a {
		    font-weight: 500;
		    color: #8b909f;
		    position: relative;
		    display: inline-block;
		    text-decoration: none;

		    &:hover {
		    	color: $color-secondary-2;
		    }

		    &.is-active {
		    	text-decoration: none;
		    	color: $color-secondary-2;

		    	&:before {
		    		visibility: visible;
		    		opacity: 1;
		    		width: 30px;

		    		@include max-screen($breakpoint-medium) {
		    			width: 15px;
		    		}
		    	}
		    }

		    &:before {
		    	content: '';
	    	    position: absolute;
	    	    visibility: hidden;
	    	    opacity: 0;
	    	    margin-left: 10px;
	    	    left: 100%;
	    	    top: 50%;
	    	    transform: translateY(-50%);
	    	    -webkit-transform: translateY(-50%);
	    	    width: 0px;
	    	    height: 2px;
	    	    background-color: #2d2e2f;
		    	-webkit-transition: width .3s ease, opacity .2s ease;
		    	transition: width .3s ease, opacity .2s ease;

		    	@include max-screen($breakpoint-medium) {
	    			margin-left: 5px;
	    		}
		    }
		}
	}