/*------------------------------------*\
    #FIVE STEPS
\*------------------------------------*/

.step-box {
	padding: 40px;
	background-color: #cff0fc;
	margin-top: 50px;


	p {
		font-size: 25px;
		color: #4c4d4f;

		b, strong {
			font-weight: 500;
		}
	}

	&.disabled {
		opacity: .3;
	}
}

.step-links {
    margin: 70px 0;

    .prev {
        float: left;
    }

    .next {
        float: right;
    }
}

	.step-part {

		.btn--secondary-border {
			margin-bottom: 50px;
		}

		&:last-of-type {
			.btn--secondary-border {
				margin-bottom: 0;
			}
		}

		&.disabled {
			opacity: .3;
		}
	}

