/*------------------------------------*\
    #LOGIN POPUP
\*------------------------------------*/


.login-popup {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    h2 {
        text-transform: uppercase;
        padding-top: 50px;
        margin-bottom: 10px;
        font-size: 35px;
    }

    p {
        margin-bottom: 80px;
    }

    .input {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .btn {
        margin-top: 30px;
        margin-bottom: 25px;
    }

    a {
        text-decoration: underline;
    }

    .forgot-pass {
        font-size: 11px;
        text-decoration: none;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $color-secondary-2;
        font-weight: 500;

        &:hover {
            color: lighten($color-secondary-2, 15%);
        }
    }

    .sod_select {
        border: none;
        border-bottom: 1px solid #c0c0c0;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px;

        &:before {
            right: 0;
        }

        &.focus {
            border-color: transparent;
            border-bottom: 1px solid #c0c0c0;
            box-shadow: none;
            outline: none;
        }

        &:hover {
            border-bottom-color: #5fccf5;
            box-shadow: 0px 1px 0px 0px #5fccf5;
        }
    }
}

.login-popup--signup {

    h2 {
        padding-top: 0;
    }

    p {
        margin-bottom: 50px !important;
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

    .login-popup__left,
    .login-popup__form {
    	flex: 45% 1 1;
    }

    .login-popup__left {
    	background-color: $color-primary;
        flex: 55% 1 1;
    }

    .login-popup__form {
    	padding: 50px;

        p {
            margin-bottom: 20px;
        }
    }

    .sign-up {
        text-decoration: underline;
    }