/*------------------------------------*\
    #CCG PROFILE
\*------------------------------------*/

.member-profile--ccg {
	@extend .member-profile;
	background-color: $color-primary;

	.member-profile__first {
		background-color: transparent;
		width: 100%;
		padding-right: 0;
		padding-bottom: 25px;
		
		.member-profile__info {
			width: 25%;
		}
	}


	.icon {
		color: $color-secondary-1;
	}

	@include max-screen($breakpoint-extralarge - 1) {
		.member-profile__first {
			.member-profile__info {
				width: 33%;
			}
		}
	}

	@include max-screen($breakpoint-large - 1) {
		.member-profile__first {
			.member-profile__info {
				width: 50%;
			}
		}
	}

	@include max-screen($breakpoint-medium - 1) {
		.member-profile__first {
			.member-profile__info {
				width: 100%;
			}
		}
	}
}
	
	.profile-content {
		padding: 70px 0 40px;

		table {
			table-layout: fixed;

			th {
				padding-left: 30px;
				border-left: 1px solid #5abce1;
				border-right: 1px solid #5abce1;
				
				&:first-child {
					width: 450px;
				}
			}

			td {
				background-color: white;
				padding-left: 30px;
				word-wrap: break-word;
				border: 1px solid #eaeaea;
			}

			a {
				color: #4c4d4f;
				border-bottom: 1px solid rgba(#4c4d4f, 0);
				padding-bottom: 5px;
				transition: all ease .2s;

				&:hover {
					text-decoration: none;
					border-bottom: 1px solid rgba(#4c4d4f, .5);
					padding-bottom: 0;
				}
			}

			@include max-screen($breakpoint-extralarge - 1) {
				th {
					&:first-child {
						width: 300px;
					}
				}
			}

			@include max-screen($breakpoint-extralarge - 1) {
				td:before {
					padding: 20px !important;
				}
			}
		}
		
		.is-completed {
			background-image: url(images/is-completed.png);
			background-repeat: no-repeat;
			background-position: center;

			@include max-screen($breakpoint-extralarge - 1) {
				background-position-y: center;
				background-position-x: calc(50% + 5px);
			}
		}

		.not-completed {
			background-image: url(images/not-completed.png);
			background-repeat: no-repeat;
			background-position: center;

			@include max-screen($breakpoint-extralarge - 1) {
				background-position-y: center;
				background-position-x: calc(50% + 5px);
			}
		}

		ul {
			margin-bottom: 60px;
			
			.is-completed,
			.not-completed {
				background-position: left;	
			}

			li:before {
				display: none;
			}
		}
	}