/*------------------------------------*\
    #INFO PANEL
\*------------------------------------*/

.info-panel {
	padding: 105px 0;

	@include max-screen($breakpoint-large) {
		picture {
			text-align: center;
			display: block;
		}
	}

	@include max-screen($breakpoint-medium) {
		padding: 70px 0;
	}

	.media__img {
		padding: 0 18px;

		@include max-screen($breakpoint-medium) {
			text-align: center;
		}
	}

	.media__body {

		@include max-screen($breakpoint-medium) {
			text-align: center;
		}
	}

	h2 {
		line-height: 1;
		margin-bottom: 16px;
	}

	&.entry-content {

		ol {
			li {
				&:before {
					color: #4e436b;
					font-weight: bold;
				}

			}
		}
	}

	ol, ul {
		margin-left: 0;
	}

	ul {
		margin-bottom: -22px;
	}
}