/*------------------------------------*\
    #FOOTER MAIN
\*------------------------------------*/

$breakpoint-footer:							900px;

.footer-main {
	padding: 0 50px;

	@include max-screen($breakpoint-footer) {
		padding: 0 30px;
	}

	@include max-screen($breakpoint-medium) {
		padding: 0 15px;
	}

	.justifize, .justifize__box {

		@include max-screen($breakpoint-footer) {
			display: block;
		}
	}
}

	.footer-main__top {
		padding-top: 35px;
		padding-bottom: 30px;
		border-bottom: 1px solid #e6e7e8;

		@include max-screen($breakpoint-footer) {
			padding-top: 25px;
			text-align: center;
			padding-bottom: 10px;
		}
	}

	.footer-main__bottom {
		padding: 25px 0;
		position: relative;

		small {
			font-size: 13px;
			font-weight: 300;
			color: #8b909f;

			@include max-screen($breakpoint-footer) {
				text-align: center;
				display: block;
				margin-bottom: 30px;
			}
		}
	}

	.back-to-top {
		@extend %text-style-1;
		color: #8b909f;

		@include max-screen($breakpoint-footer) {
			display: block;
			text-align: center;
		}
	}

	.footer-main__logo {

		@include max-screen($breakpoint-footer) {
			display: block;
			text-align: center;
			margin-bottom: 30px;
		}
	}

.nav-footer, .social-icons {

	ul {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
		font-size: 0;

		@include max-screen($breakpoint-footer) {
			text-align: center;
			display: block;

			.contact-form & {
				text-align: left;
			}
		}
	}

	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 25px;

		a {
			text-transform: uppercase;
			color: #8b909f;
			font-size: 11px;
			font-weight: 500;
			letter-spacing: .1em;
		}

		@include max-screen($breakpoint-footer) {
			margin: 0 10px;
		}
	}
}

.nav-footer {

	@include max-screen($breakpoint-footer) {

		li {
			margin-bottom: 20px;
		}
	}
}

.social-icons {

	span {
		display: none;
	}

	li {
		margin-left: 20px;
	}

	a {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #bbbdc2;
		position: relative;

		&:hover {
			background-color: lighten(#bbbdc2, 10%);
		}
	}

	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		color: white;
	}
}