/*------------------------------------*\
    #MANAGMENT FLOW
\*------------------------------------*/

.managm-flow {
	background-color: #edf7fb;
	padding: 80px 0;
	text-align: center;

	.justifize {

		@include max-screen($breakpoint-large + 100) {

			.justifize__box {
				width: 30%;
				text-align: center;
				padding: 0 10px;
			}
		}


		@include max-screen($breakpoint-large - 2) {
			display: flex;
			flex-flow: column wrap;
			align-items: center;


			.managm-flow__wrapper {

				&:nth-last-child(3) {
					order: 2;
				}
			}

			.justifize__box {
				width: auto;
				margin-bottom: 20px;
			}
		}
	}

	.justifize__box {
		white-space: normal;
		vertical-align: top;

		&.icon-wrap {
			color: rgba(#3f4245, .3);
			position: relative;
			top: 105px;

			@include max-screen(900px) {
				display: none;
			}
		}
	}

	.icon-angle-arrow {
		max-width: 122px;
		position: relative;
		left: 50%;
		padding-bottom: 13px;
	    transform: translateY(100%);

		@include max-screen(900px) {
			display: none;
		}
	}

	.icon-arrow2-down-parent {
		top: 0 !important;
		left: 45%;
		transform: rotate(90deg);

		@include max-screen(900px) {
			display: none;
		}
	}
}

	.managm-flow__wrapper {
		min-width: 30%;
	}

	.managm-flow__icon-wrap {
		width: 231px;
		max-width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		@include max-screen($breakpoint-large - 1) {
			width: 250px;
		}

		span {
			@extend %text-style-1;
			color: white;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			z-index: 2;
			text-align: center;
			font-size: 11px;
			font-weight: 700;
		}
	}

	.managm-flow__icon-circle {
		position: relative;
		z-index: 1;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 50%;
		background-color: #ffd659;
	}

	.managm-flow__item-text {
		text-align: center;

		p {
			@extend %text-style-1;
			color: #8b909f;
			font-size: 11px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		h2 {
			@include font-size(21px);
			line-height: 25px;
			text-transform: uppercase;
			max-width: 250px;
			margin-left: auto;
			margin-right: auto;

			@include max-screen($breakpoint-large) {
				@include font-size(19px);
			}

			+ p {
				margin-top: -13px;
   				margin-bottom: 25px;
			}
		}
	}