/*------------------------------------*\
    #NAV STEPS
\*------------------------------------*/

.nav-steps {
    background-color: #eef7fc;
    position: relative;
    margin-bottom: 80px;

    @include max-screen($breakpoint-header) {
        margin-bottom: 50px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $color-primary;
        z-index: 1;
        transition: width .1s ease;
    }


    &.step-active {

        &:before {
            width: 50%;

            @include max-screen($breakpoint-header) {
                display: none;
            }
        }
    }

    .container {
        position: relative;
        z-index: 2;

        @include max-screen($breakpoint-header) {
            padding: 0;
        }
    }

    ul {
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
        font-size: 0;
        @include max-screen($breakpoint-header) {
           display: none;
        }
    }

    li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 20%;

        @include max-screen($breakpoint-header) {

            &:not(:last-child) {
                a {
                    border-bottom: 1px solid rgba(#3c3f42, .1);
                }
            }
        }

        &.is-active,
        &.current-menu-item {

            a {
                color: white;
                transition: background-color .4s ease .1s;
                background-color: $color-primary;
            }

            &:before {
                background-color: rgba(#fff, .2);
            }

            &:first-child {

                &:after {
                    background-color: rgba(#fff, .2);
                }
            }
        }

        &:first-child {

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 10px;
                bottom: 10px;
                width: 1px;
                background-color: #dbe0e2;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 10px;
            bottom: 10px;
            width: 1px;
            background-color: #dbe0e2;
        }

        @include max-screen($breakpoint-header) {
            display: block;
            width: 100%;

            &:before {
                display: none;
            }
        }
    }

    a {
        @extend %text-style-1;
        background-color: #eef7fc;
        display: block;
        text-align: center;
        height: 64px;
        line-height: 64px;
        white-space: nowrap;
        transition: all .3s ease .2s;
        color: #3c3f42;

        @include max-screen($breakpoint-header) {
            height: auto;
            line-height: normal;
            padding: 20px;
            text-align: left;
        }

        &:hover {
            text-decoration: none;
        }
    }

}

    .step-tooltip {

        &:hover {
            .step-tooltip__text {
                visibility: visible;
                opacity: 1;
            }
        }
    }

        .step-tooltip__text {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 110%;
            background-color: #ffcc4e;
            width: 100%;
            padding: 15px 25px;
            color: #fff;
            border-radius: 3px;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            line-height: 17px;
            transition: opacity .3s ease-in;

            @include max-screen($breakpoint-header) {
               display: none;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-width: 0 10px 11px 10px;
                border-style: solid;
                border-color: transparent transparent #ffcc4e transparent;
            }

            &.step-two {
                background-color: #5fd65f;

                &:before {
                    border-color: transparent transparent #5fd65f transparent;
                }
            }

            &.step-three {
                background-color: #7ad5f8;

                &:before {
                    border-color: transparent transparent #7ad5f8 transparent;
                }
            }

            &.step-four {
                background-color: #a293d8;

                &:before {
                    border-color: transparent transparent #a293d8 transparent;
                }
            }

            &.step-five {
                background-color: #e283d5;

                &:before {
                    border-color: transparent transparent #e283d5 transparent;
                }
            }
        }