/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    box-sizing: border-box;
    transition: all .2s ease;
    background: none;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    color: $color-secondary-2;
    display: inline-block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;
    height: 37px;
    font-weight: 500;


    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }

    &::-webkit-input-placeholder {
       color: $base-text-color;
       font-weight: 300;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $base-text-color;
       font-weight: 300;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $base-text-color;
       font-weight: 300;
    }

    &:-ms-input-placeholder {
       color: $base-text-color;
       font-weight: 300;
    }
}

/**
 * Primary input.
 */
.input--primary,
%input--primary {
    /**
     * @hover
     */
    &:hover,
    &:focus {
        border-bottom-color: $color-base;

        -webkit-box-shadow: 0px 1px 0px 0px $color-base;
        -moz-box-shadow: 0px 1px 0px 0px $color-base;
        box-shadow: 0px 1px 0px 0px $color-base;
    }

    /**
     * Error state.
     */
    .is-error &,
    &.is-error {
        border-bottom-color: #faa1b8;
        -webkit-box-shadow: 0px 1px 0px 0px #faa1b8;
        -moz-box-shadow: 0px 1px 0px 0px #faa1b8;
        box-shadow: 0px 1px 0px 0px #faa1b8;
    }
}

/**
 * Textarea input.
 */
.input--textarea {
    resize: none;
    min-height: 166px;
    line-height: 1.5 !important;
    overflow: hidden;
    padding-top: 15px !important;

    &:focus {
        // min-height: 90px;
    }
}


.input--border {
    border: 1px solid #c0c0c0;
    height: 44px;
    line-height: 42px;
    padding: 0 20px;

    /**
     * @hover
     */
    &:hover,
    &:focus {
        border-color: $color-base;
        -webkit-box-shadow: 0px 0px 0px 1px $color-base;
        -moz-box-shadow: 0px 0px 0px 1px $color-base;
        box-shadow: 0px 0px 0px 1px $color-base;
        border-radius: 4px;
    }

    &[disabled] {
        background-color: #f4f5f6;
        border-color: #eaeaea;
        color: #8b909f;
        @include unselectable;
        /**
         * @hover
         */
        &:hover,
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #eaeaea;
        }
    }

    /**
     * Error state.
     */
    .is-error &,
    &.is-error {
        border-color: #faa1b8;
        -webkit-box-shadow: 0px 0px 0px 1px #faa1b8;
        -moz-box-shadow: 0px 0px 0px 1px #faa1b8;
        box-shadow: 0px 0px 0px 1px #faa1b8;
        border-radius: 4px;
        color: #f76288;

        &::-webkit-input-placeholder {
           color: #f76288;
        }

        &:-moz-placeholder { /* Firefox 18- */
           color: #f76288;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
           color: #f76288;
        }

        &:-ms-input-placeholder {
           color: #f76288;
        }

        + .input-info {

            .input-info__icon {
                color: rgba(#f76288, .6);

                .input-wrap.is-active & {
                    color: #f76288;
                }
            }
        }
    }
}

.input--audit {
    border: none;
    border-top: none;
    min-height: 100%;
    padding: 0 30px;
    color: #8b909f;
    font-weight: 500;

    &:hover {
        background-color: #edf2f4;
    }

    &:focus {
        background-color: transparent;
        box-shadow: 0px 0px 0px 2px rgba($color-primary, .6);
    }
}

.input-wrap {
    position: relative;
    margin-bottom: 30px;
}

.input-info {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 2px;
}

    .input-info__icon {
        color: rgba(#8b909f, .4);
        width: 20px;
        height: 20px;
        display: block;
        cursor: pointer;

        .icon {
            vertical-align: top;
        }

        .input-wrap.is-active & {
            color: $color-base;
        }
    }

    .input-info__content {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease;
        top: 100%;
        right: -12px;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        padding: 10px 12px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        width: 240px;
        background-color: white;
        font-size: 15px;
        line-height: 20px;

        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background-color: white;
            transform: rotate(45deg) translateY(10px);
            -webkit-transform: rotate(-45deg) translateY(10px);
            position: absolute;
            right: 20px;
            bottom: 100%;
            -webkit-box-shadow: 1px -1px 0px 0px rgba(224,224,224,1);
            -moz-box-shadow: 1px -1px 0px 0px rgba(224,224,224,1);
            box-shadow: 1px -1px 0px 0px rgba(224,224,224,1);
        }

        .input-wrap.is-active & {
            visibility: visible;
            opacity: 1;
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
        }
    }
