/*------------------------------------*\
    #MEMBER PROFILE
\*------------------------------------*/

.user {
	position: relative;
	margin-bottom: 55px;
}

	.user__img {
		width: 500px;

		@include max-screen($breakpoint-large) {
			width: 100%;
		}
	}

	.user__content {
		max-width: 630px;
		background-color: white;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
		text-align: left;
		padding: 38px 0 0 50px;

		@include max-screen($breakpoint-large) {
			position: static;
			padding: 30px 0 0 30px;
		}

		@include max-screen($breakpoint-medium) {
			padding: 20px 0 0 0;
		}

		h1 {
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}

		.user__content-title {
			padding-bottom: 35px;
			display: block;

			@include max-screen($breakpoint-medium) {
				padding-bottom: 20px;
			}
		}




.member-profile {
	display: flex;
	flex-flow: row wrap;

	h2 {
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(#fff,.15);
		margin-bottom: 65px;
		color: #fff;
		white-space: nowrap;

		@include max-screen($breakpoint-medium) {
			margin-bottom: 40px;
		}
	}

	h4 {
		color: #fff;
		margin-bottom: 0;
		line-height: 1;
	}

	small {
		font-size: 15px;
		color: rgba(#fff, .6);
	}
}

	.member-profile__first,
	.member-profile__second {
		padding-top: 80px;

		@include max-screen($breakpoint-large) {
			width: 100%;
			padding-top: 50px;
		}
	}

	.member-profile__first {
		width: 66.66%;
		background-color: $color-secondary-1;
		padding-right: 50px;
		padding-bottom: 80px;

		@include max-screen($breakpoint-large) {
			width: 100%;
			padding-bottom: 50px;
		}

		@include max-screen($breakpoint-medium) {
			width: 100%;
			padding-bottom: 20px;
			padding-right: 15px;
		}

		.member-profile__info {
			display: inline-flex;
			align-items: center;
			margin-bottom: 45px;
			width: 50%;

			@include max-screen($breakpoint-medium) {
				width: 100%;
				margin-bottom: 35px;
			}
		}

		.icon {
			margin-right: 7%;
		}

	}

	.member-profile__second {
		width: 33.33%;
		background-color: $color-primary;
		padding-left: 50px;
		padding-right: 50px;

		@include max-screen($breakpoint-large) {
			width: 100%;
			order: -1;
			padding-bottom: 20px;
		}

		@include max-screen($breakpoint-medium) {
			padding-left: 15px;
			padding-right: 15px;
		}

		.member-profile__info {
			padding-bottom: 20px;
		}
	}

	.member-profile__content {
		font-size: 0;
	}




.member-data {

	.tabs {
		margin: 0;
	}

		.tabs__nav {
			margin-bottom: 0;
		}

		.tabs__item {
			padding-top: 70px;
		}

		.accordion {
			margin-bottom: 110px;
		}

		.accordion__item {
			margin-left: 0;

			h2 {
				a {
					span {
						font-size: 17px;
						float: right;
						color: #4c4d4f;
						font-weight: 300;
						position: relative;

						&.is-completed:before {
							content: '';
							width: 13px;
							height: 13px;
							position: absolute;
							top: 2px;
							left: -33px;
							background-image: url(images/is-completed.png);
							background-repeat: no-repeat;
							background-position: center;
						}

						&.not-completed:before {
							content: '';
							width: 13px;
							height: 13px;
							position: absolute;
							top: 2px;
							left: -33px;
							background-image: url(images/not-completed.png);
							background-repeat: no-repeat;
							background-position: center;
						}
					}
				}

				&:before {
					display: none;
				}
			}

			.icon-arrow {
				top: 45%;
			}
		}

		.accordion__item-content {
			padding: 70px 0 40px;

			form {
				+ a.btn {
					margin: 20px 0 0;
				}
			}
		}

		.table-workflow {
			table-layout: auto;
		}

		tr.bold {
			td {
				font-weight: 700;
				color: #4c4d4f;
				background-color: white;
				padding-left: 20px;
			}
		}

		td.bold {
			font-weight: 700;
			color: #4c4d4f;
			background-color: white;
			padding-left: 20px;
		}

		form {
			td:first-child {
				width: 354px;
			}

			+ .member-data__form-info {
				margin-top: 70px;
			}

			+ a.btn {
				margin: 20px 0 110px;
			}
		}

		@include max-screen($breakpoint-extralarge - 1) {
			.tabs__nav {
				width: 100%;

				li {
					margin-right: 60px;
				}
			}

			form {
				overflow-x: scroll;

				+ .member-data__form-info {
					margin-top: 30px;
				}
			}

			.table-workflow {
				table-layout: fixed;
			}
		}

		@include max-screen($breakpoint-large - 1) {
			.accordion__item h2 {
				a {
					font-size: 18px;

					> span {
						margin-left: 50px;
						margin-top: 5px;
					}
				}
			}
		}

		@include max-screen(600px) {
			.accordion__item h2 a {
				> span {
					margin-left: 33px;
					float: left;
					font-size: 16px;
				}
			}
		}
}

	.member-data__nav {
		background-color: #edf2f4;
		padding: 50px 0;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@include max-screen($breakpoint-large - 1) {
			> .container {
				display: block;
			}

			.tabs__nav {
				li {
					display: block;
				}

				& + .btn {
					margin-top: 30px;
				}
			}
		}
	}

	.member-data__form-info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		p {
			font-weight: 500;
			color: #8b909f;
			font-size: 21px;
			margin-bottom: 0;

			&:first-child {
				color: #3c3f42;
			}

			span {
				font-size: 17px;
				font-weight: 300;
				margin-left: 20px;
			}
		}
	}


