/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/

.pagination {
	margin: 0;
	list-style-type: none;
	font-size: 0;
	padding: 70px 0;

	li {
		display: inline-block;
		font-size: 15px;
		vertical-align: middle;
		margin-left: 10px;
		font-weight: 400;
		text-align: center;
	}

	a {
		text-decoration: none;
		display: block;
		color: #8b909f;
		transition: all .15s ease;
		position: relative;
	}

	.icon {
		color: #a1a4aa;
		height: 15px;
	}

	.page-number {
		border-radius: 50%;
		width: 26px;
		height: 26px;
		line-height: 25px;
		background-color: transparent;
		border: 1px solid transparent;

		&:hover {
			border-color: $color-primary;
		}

		&.is-active {
			color: white;
			background-color: $color-primary;
		}

		.prev,
		.next {
			line-height: 20px;
		}

		&:first-child {
			margin-left: 0;

			.icon {
				margin-left: -2px;
			}
		}

		&:last-child {
			margin-right: 0;

			.icon {
				margin-left: 2px;
			}
		}
	}

	.dots {
		height: 26px;
		line-height: 20px;
		letter-spacing: .1em;
	}

}