/*------------------------------------*\
    #TEXT-IMG-BOX
\*------------------------------------*/

.text-img {
	padding-bottom: 100px;

	@include max-screen($breakpoint-medium) {
		padding-bottom: 50px;
	}
}

.text-img-box {
	text-align: center;

	h2 {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	p {
		margin-bottom: 20px;
	}
}


.who-we-are {

	.container--narrow {
		text-align: center;
		padding-top: 100px;
		padding-bottom: 80px;

		@include max-screen($breakpoint-large - 1) {
			padding-top: 40px;
			padding-bottom: 20px;
		}

		p {
			font-size: 19px;
			line-height: 29px;

			@include max-screen($breakpoint-large - 1) {
				font-size: 17px;
			}
		}

		h2 {
			@include font-size(35px);
			margin-bottom: 10px;

			@include max-screen($breakpoint-large - 1) {
				@include font-size(25px);
			}
		}
	}


}

	.who-we-are__panel {
		background-color: #eefafe;
		padding-top: 140px;
		padding-bottom: 30px;

		@include max-screen($breakpoint-large - 1) {
			padding-top: 50px;
			padding-bottom: 0;
		}

		h2 {
			margin-bottom: 0;
			line-height: 1.72em;
		}

		.js-login-popup {
			font-weight: bold;
		}

		.layout {
			margin-bottom: 0;

			@include max-screen($breakpoint-large - 1) {
				margin-bottom: 85px;
			}


		}

		.container {

			&:last-of-type {

				.layout {

					@include max-screen($breakpoint-large - 1) {
						margin-bottom: 40px;
					}
				}


			}

		}


			.layout__item {
				padding-bottom: 145px;

				@include max-screen($breakpoint-large - 1) {
					padding-bottom: 0px;
					text-align: center;
				}

				p {
					margin-bottom: 20px;
				}
			}
	}