/*------------------------------------*\
    #HERO SLIDER
\*------------------------------------*/

.hero-slider-wrap {
	overflow: hidden;
}

.hero-slider {
	width: calc(100% - 210px);
	height: 650px;

	@include max-screen($breakpoint-extralarge) {
		width: 100%;
		height: auto;
	}

	&__item {
		background-repeat: no-repeat;
	}

	.slick-slide {
		padding-left: 210px;
		background-size: cover;
		height: 570px;
		transition: all .3s ease .3s;
		outline: none !important;
		position: relative;


		@include max-screen($breakpoint-extralarge) {
			background-position: 50% 50%;
			height: calc(100vh - 71px);
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(black, .6);
			transition: all .3s ease .1s;
			z-index: 1;
		}

		@include max-screen(1600px) {
			padding-left: 0;
		}
	}

	.tableize {
		position: relative;
		z-index: 2;
		font-size: 25px;
		font-weight: 300;
		color: white;

		@include max-screen($breakpoint-extralarge) {
			text-align: center;
		}

		p {
			margin-bottom: 40px;
			max-width: 680px;

			@include max-screen($breakpoint-extralarge) {
				margin-left: auto;
				margin-right: auto;
			}

			@include max-screen($breakpoint-large - 2) {
				font-size: 17px;
			}
		}
	}

	.slick-current {
		height: 650px;
		transition: all .6s ease;

		@include max-screen($breakpoint-extralarge) {
			height: calc(100vh - 71px);
		}

		&:before {
			background-color: rgba(black, .2);
		}
	}

	.slick-list {
		overflow: visible;

		@include max-screen($breakpoint-extralarge) {
			overflow: hidden;
		}

	}

	.slick-arrow {
		@extend .btn;
		font-size: 0;
		background-image: url('images/icon-arrow-right-white.svg');
		background-repeat: no-repeat;
		width: 54px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-left: 100px;
		left: 100%;
		position: absolute;
		bottom: 120px;
		z-index: 10;
		background-size: 36px 14px;
		display: block;
		cursor: pointer;

		@include max-screen($breakpoint-extralarge) {
			left: auto;
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);
			margin-left: 0;
		}

		@include max-screen($breakpoint-extralarge - 2) {
			top: auto;
			transform: none;
			bottom: 30px;
		}


	}

	.slick-prev {
		margin-left: 50px;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform-origin: 50% 50%;
		margin-top: 1px;

		@include max-screen($breakpoint-extralarge) {
			margin-left: 40px;
		}

		@include max-screen($breakpoint-extralarge - 2) {
			left: 50%;
			margin-left: -60px;
		}

	}

	.slick-next {
		@include max-screen($breakpoint-extralarge) {
			right: 0;
			margin-right: 40px;
		}

		@include max-screen($breakpoint-extralarge - 2) {
			right: 50%;
			margin-right: -60px;
		}
	}

	.heading-blue {

		@include max-screen($breakpoint-extralarge - 2) {
			// padding: 0;

			h1 {
				@include font-size(22px);
			}
		}
	}
}