/*------------------------------------*\
    #WORKSHOP POPUP
\*------------------------------------*/


.workshop-popup {
    max-width: 780px;
    margin: 0 auto;

    form {
        padding: 50px;
    }
}

    .workshop-popup__header {
        padding: 45px 50px;
        background-color: $color-primary;
        color: #fff;
        display: flex;
        justify-content: space-between;
        aling-items: center;

        h2 {
            color: #fff;
            margin: 0;
        }
    }