
/*------------------------------------*\
    #RADIOBUTTONS
\*------------------------------------*/

input[type="radio"] {
    display:none;
}

.radio_wrap {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 20px;

    .horizontal-radio-wrap & {
        display: inline-block;
        margin-right: 50px;
        font-size: 0;
    }

    &.radio_wrap--big {
        display: inline-block;
        margin-right: 25px;
    }
}

.styled-radiobutton {
    opacity: 0;
    position: absolute;

    & + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-weight: 300;
        display: block;
        font-size: 17px;

        span {
            display: inline-block;
            visibility: visible;
            width: 22px;
            height: 22px;
            margin: 0;
            position: absolute;
            left: 0px;
            top: 1px;
            background-color: white;
            border: 1px solid rgba(45,46,47,.3);
            box-sizing: border-box;
            transition: all .2s ease;
            border-radius: 50%;


            &:before {
                content: '';
                width: 0;
                height: 0;
                display: block;
                background-color: transparent;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transition: all .2s ease;
                border-radius: 50%;
            }
        }
    }
}

.styled-radiobutton--big {

    + label {
        padding: 0 20px 0 40px;
        height: 40px;
        line-height: 36px;
        border-radius: 20px;
        border: 1px solid rgba(45,46,47,.15);

        span {
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            left: 10px;
        }
    }

    &:checked {

        + label {
            background-color: #f4f4f4;
        }
    }
}

.radio_wrap label:hover span {
    border-color: $color-base;
}

.radio_wrap .styled-radiobutton:checked + label:hover span {
    border-color:$color-base;
}
.styled-radiobutton:checked + label span {
    background-color: $color-base;
    border-color:$color-base;

    &:before {
        background-color: white;
        width: 7px;
        height: 7px;
    }
}

.styled-radiobutton[disabled] + label {
    color: #a1a9b3 !important;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.styled-radiobutton[disabled] + label span {
    background-color: #d0d4d9 !important;
    border-color: #d0d4d9 !important;
}

// .big-radiobutton {
//     opacity: 0;
//     position: absolute;

//     & + label {
//         position: relative;
//         color: white;
//         cursor: pointer;
//         width: 130px;
//         height: 130px;
//         display: block;
//         border-radius: 50%;
//         border: 2px solid rgba(255,255,255,.5);
//         background-color: transparent;
//         text-align: center;
//         transition: all .2s ease;

//         .distant-healing & {
//             background-color: white;
//             border: 2px solid rgba(45,46,48,.2);
//             color: black;

//             p {
//                 color: inherit;
//             }
//         }

//         &:hover {
//             background-color: #eceef2;
//             border: 2px solid rgba(45,46,48,.2);
//         }

//         > div {
//             position: absolute;
//             top: 65%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             -webkit-transform: translate(-50%, -50%);
//         }

//         span {
//             display: block;
//             font-size: 46px;
//             font-weight: 700;
//             margin-bottom: 0px;
//             line-height: .8;
//         }

//         p {
//             font-size: 11px;
//             text-transform: uppercase;
//             color: white;
//             position: relative;
//             top: 10px;
//         }
//     }

//     &:checked + label {
//         background-color: white;
//         border-color: white;

//         .distant-healing & {
//             background-color: blue;
//             border-color: blue;

//             p, span {
//                 color: #fff !important;
//             }
//         }

//         p, span {
//             color: #17b9bf !important;
//         }
//     }
// }
