/*------------------------------------*\
    #ADMIN PROFILE
\*------------------------------------*/

.member-profile--admin {
	@extend .member-profile;
	background-color: $color-primary;
	
	.member-profile__first {
		background-color: transparent;
		width: 100%;
		padding-right: 0;
		padding-bottom: 80px;
		
		.member-profile__info {
			width: 25%;
		}

		h2 {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}
	
	