 /*------------------------------------*\
    #INFO POPUP
\*------------------------------------*/


.info-popup-wrap {
	display:none;
	position: absolute;
	top: calc(100% + 30px);
	left: 0;
	width: 470px;
	z-index: 100;

	@include max-screen($breakpoint-steps) {
		left: 20px;
		right: 20px;
		top: auto;
		bottom: calc(100% + 30px);
		width: auto;
	}

	&:before {
		content: '';
		position: absolute;
    	bottom: 100%;
    	left: 20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 0 0 20px;
		border-color: transparent transparent transparent #5fcdf5;

		@include max-screen($breakpoint-steps) {
			bottom: auto;
			top: 100%;
			border-width: 0 0 20px 20px;
		}
	}
}

	.info-popup {
		background-color: $color-primary;
		display: flex;
		padding: 40px;
	}

	.info-popup__item {

		span {
			display: block;
			font-weight: 500;
			font-size: 25px;
			padding-bottom: 18px;
			margin-top: -7px;
			line-height: 1.47em;
		}

		.icon {
			margin-right: 20px;
		}
	}

	.info-popup-active {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(#fff, .8);
			z-index: 20;
		}
	}