/*------------------------------------*\
    #CONTACT FORM
\*------------------------------------*/

.contact-form {
    display: flex;
    margin-left: -40px;
    padding-top: 50px;
    padding-bottom: 110px;

    @include max-screen($breakpoint-large) {
        display: block;
        margin-left: 0;
    }
}

.flex {
    display: flex;
}

    .contact-form__item {
        flex: 1;
        width: 50%;
        width: calc(100% + 40px);
        padding-left: 40px;
        flex-direction: column;
        justify-content: space-between;

        > *:last-child {
            margin-bottom: 0;
        }

        @include max-screen($breakpoint-large) {
            width: 100%;
            padding-left: 0;

            &:first-child {
                padding-bottom: 50px;

            }
        }
        .page-template-template-contact & {
            input[type="submit"] {
                width: 100%;
            }
        }
    }

    .contact-form__item-social {

        li {
            margin: 0 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .contact-form__item-data {

        a {
            position: relative;
            display: inline-block;
            padding-top: 25px;
            font-weight: bold;
            font-size: 11px;
            color: #2d2e2f;
            letter-spacing: .2em;
            text-transform: uppercase;

            &:before {
                content: '';
                display: block;
                width: 50px;
                height: 2px;
                background-color: $color-primary;
                position: absolute;
                top: -3px;
                left: 0;
            }
        }

        .list-contact {
            margin-bottom: 40px;

            li {
                padding: 2px 0;
            }
        }

    }
