/*------------------------------------*\
    #READ MORE
\*------------------------------------*/

.read-more {
	display: block;
	text-transform: uppercase;
	color: $base-title-color;
	letter-spacing: 0.2em;
	font-weight: 500;
	font-size: 11px;

	&:hover {
		text-decoration: none;
		color: lighten($base-title-color, 20%);
	}
}