/*------------------------------------*\
    #PROGRESS BAR
\*------------------------------------*/

//PROGRESS BAR LINE
.progress-bar {
	p {
		color: #5fccf5;
		font-size: 17px;
		font-weight: 700;
		margin-bottom: 18px;
		line-height: 17px;
	}

	.w3-round-xlarge {
	    border-radius: 16px!important;
	    width: calc(100% - 50px);
	    background-color: #ddf4fc;
	}

	.w3-progressbar {
	    background-color: #5fccf5;
	    line-height: inherit;
	    height: 8px;
        transition: width 1s;
	}
}


//PROGRESS BAR CIRCLE
.results {
	> div {
		padding: 80px 100px 30px;
	}

	div {
	    position: relative;
	}

	#graph {
		width: 200px;
		float: right;
		margin-right: 100px;
		margin-bottom: 10px;
	}

	canvas {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	span {
	    color: #3f4245;
	    display: block;
	    line-height: 240px;
	    text-align: center;
	    width: 240px;
	    font-size: 60px;
	    font-weight: 700;
	    margin-left: 5px;
	}

    .results--percents {
    	position: relative;
    	margin-bottom: 40px;

    	span {
    		font-size: 17px;
	    	line-height: normal;
	    	width: auto;
	    	text-align: left;
	    	font-weight: 300;
	    	margin-left: 0;
	    	color: #4b4c4e;
    	}

    	&:before {
	        content: '';
	        display: block;
	        height: 2px;
	        width: 25px;
	        background-color: $color-primary;
	        position: absolute;
	        left: 0;
	        bottom: -20px;
	    }

    }
    
    p {
    	font-size: 17px;
    	font-weight: 300;
    	color: #4b4c4e;
    }

    .question-nav {
		padding-top: 30px;
		width: 100%;
		margin-left: 0;
    }

    .btn {
    	margin: 0 auto;
    }

	input {
	    width: 200px;
	}

	@include max-screen($breakpoint-large - 1) {
		> div {
			padding: 20px;
		}

		#graph {
			float: none;
			display: block;
			margin: 0 auto;
			transform: translateX(-20px);
		}

		h2,
		p {
			text-align: center;
		}

		& .results--percents {

			&:before {
		        left: 50%;
		        bottom: -20px;
		        transform: translateY(-50%);
		    }

			span {
				text-align: center;
			}
		}
    }
}
