/*------------------------------------*\
    #TASKS SLIDER
\*------------------------------------*/

.slider-tasks {
	border-bottom: 1px solid rgba(#3c3f42, .1);

	.slick-list {
		margin: 0 25px;
	}

	.slick-arrow {
		@extend .btn;
		background-image: url('images/icon-arrow-right.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 7px 11px;
		width: 30px;
		height: 30px;
		position: absolute;
		font-size: 0;
		top: 20px;
		right: -10px;
		z-index: 9;
	}

	.slick-prev {
		right: auto;
		left: -10px;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

	.slick-next {

		&:before {
			content: '';
			position: absolute;
			left: -67px;
    		top: -18px;
			width: 67px;
			height: 68px;
			background-color: rgba(60,63,66,0);
			background-image: -webkit-linear-gradient(right, #fff 29%, rgba(255,255,255,0));
			background-image: -moz-linear-gradient(right, #fff 29%, rgba(255,255,255,0));
			background-image: -o-linear-gradient(right, #fff 29%, rgba(255,255,255,0));
			background-image: -ms-linear-gradient(right, #fff 29%, rgba(255,255,255,0));
			background-image: linear-gradient(to left, #fff 29%, rgba(255,255,255,0));
		}
	}

}


	.slider-tasks__item {
		height: 70px;
		position: relative;
		border-bottom: 2px solid transparent;
		border-right: 1px solid rgba(#3c3f42, .1);
		font-weight: auto;
		transition: border-bottom .3s ease, font-weight .3s ease;

		&:first-child {
			border-left: 1px solid rgba(#3c3f42, .1);
		}

		&:focus {
			outline: none;
			border-bottom: 2px solid $color-primary;
			font-weight: 500;
		}

		span {
			max-width: 250px;
			display: block;
			padding: 0 25px;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
