/*------------------------------------*\
    #THREE PHASE CIRCLES
\*------------------------------------*/

.three-phase-circles {
	padding: 0 20px;
	margin-bottom: 40px;

	.justifize__box {
		white-space: normal;

		@include max-screen($breakpoint-large) {
			width: 33%;
			text-align: center;
			padding: 0 10px;
		}

		@include max-screen($breakpoint-medium) {
			width: 100%;
			display: block;
		}

		&.icon-wrap {
			color: rgba(#3f4245, .3);

			@include max-screen($breakpoint-large) {
				display: none;
			}
		}
	}

	@include max-screen($breakpoint-large) {
		padding: 0;
	}
}

	.three-phase-circles__icon-wrap {
		width: 184px;
		max-width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		@include max-screen($breakpoint-medium) {
			margin-bottom: 30px;
		}

		&:hover {

			.three-phase-circles__icon-circle {
				border-color: darken(#ffd659, 20%);
			}

			.three-phase-circles__icon-circle.bgr-fourth {
				border-color: darken(#7be67b, 20%);
			}

			.three-phase-circles__icon-circle.bgr-fifth {
				border-color: #9585bc;
			}

			.three-phase-circles__tooltip {
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;
				margin-top: -30px;
			}
		}
	}

	.three-phase-circles__icon-circle {
		position: relative;
		z-index: 1;
		width: 100%;
		padding-bottom: 100%;
		border-radius: 50%;
		background-color: #ffd659;
		border: 2px solid #ffd659;
		transition: all .2s ease;

		span {
			@include font-size(25px);
			color: white;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			z-index: 2;
			text-align: center;
			font-weight: 700;
			white-space: nowrap;

			@include max-screen($breakpoint-medium + 100) {
				@include font-size(18px);
			}
		}

		&.bgr-fourth {
			border-color: #7be67b;
		}

		&.bgr-fifth {
			border-color: #b4a2e3;
		}

		&.circle-center {

			& + .three-phase-circles__tooltip {
				left: 50%;
				transform: translate(-50%, 0);
				-webkit-transform: translate(-50%, 0);

				&:before {
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
					-webkit-transform: translateX(-50%) rotate(45deg);
				}
			}
		}
		&.circle-right {

			& + .three-phase-circles__tooltip {
				left: auto;
				right: 20px;

				&:before {
					left: auto;
					right: 20px;
				}
			}
		}
	}

	.three-phase-circles__tooltip {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 20px;
		width: 240px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #e0e0e0;
		background-color: white;
		font-size: 15px;
		line-height: 1.333;
		transition: all .2s ease;
		z-index: 3;

		&:before {
			content: '';
			display: block;
			width: 17px;
			height: 17px;
			background-color: white;
			position: absolute;
			left: 20px;
			top: -9px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			border-top: 1px solid #e0e0e0;
			border-left: 1px solid #e0e0e0;

		}
	}

	.circles {
		.three-phase-circles__icon-wrap .three-phase-circles__tooltip {
			p {
				margin-bottom: 0 !important;
			}
		}

		.justifize__box:nth-child(3) {
			.three-phase-circles__icon-wrap {
				.three-phase-circles__icon-circle {
					background-color: #7be67b;
					border: 2px solid #7be67b;

					&:hover {
						border-color: darken(#7be67b, 20%);
					}
				}
			}
		}

		.justifize__box:nth-child(5) {
			.three-phase-circles__icon-wrap {
				.three-phase-circles__icon-circle {
					background-color: #b4a2e3;
					border: 2px solid #b4a2e3;

					&:hover {
						border-color: darken(#b4a2e3, 20%);
					}
				}
			}
		}

		.justifize__box.icon-wrap {
			color: rgba(63, 66, 69, 0.3);

			&:last-child {
				display: none;
			}
		}
	}
