/*------------------------------------*\
    #THUMB SLIDER
\*------------------------------------*/

.slider-thumb {

	.slick-slide {
		text-align: center;
		outline: none;
		box-shadow: none;

		.img-wrap {
			overflow: hidden;
			border-radius: 50%;
			display: inline-block;
			max-width: 100%;
			cursor: pointer;
			border: 3px solid transparent;
			width: 82px;
			height: 82px;
			background-position: center !important;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			position: relative;
			background-clip: content-box !important;

			img {
				display: none;
			}
		}
	}

	.slider-for {
		margin-bottom: 110px;
		margin-top: 20px;

		@include max-screen($breakpoint-large) {
			margin-bottom: 0;
		}

		.slick-slide {
			position: relative;
			text-align: right;

			@include max-screen($breakpoint-large) {
				padding-top: 0;
			}
		}

	}

	.slick-current {

		.img-wrap {
			border-color: $color-base;
		}
	}

	.slick-arrow {
		@extend .btn;
		background-image: url('images/icon-arrow-right.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 7px 11px;
		width: 30px;
		height: 30px;
		position: absolute;
		font-size: 0;
		top: 30px;
		right: -10px;
		z-index: 9;
	}

	.slick-prev {
		right: auto;
		left: -10px;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}

	.slider-nav {

		margin-top: 30px;

		h4 {
			font-size: 17px;
			font-weight: 500;
			margin-bottom: 10px;
		}

		p {
			font-size: 13px;
			color: #999999;
		}
	}

	.slider-thumb__big-img,
	.img-wrap {

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.1);
		}

	}

}
	.slider-thumb__big-img {
		background-color: #dcdee0;
		width: 590px;
		padding-bottom: 49%;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		background-position: -130px 0;

		img {
			display: none;
		}

		@include max-screen($breakpoint-large) {
			width: 100%;
			padding-bottom: 55%;
			background-position: inherit;
		}

	}

	.slider-thumb__content {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 640px;
		background-color: white;
		z-index: 2;
		text-align: left;
		padding: 42px 0 0 50px;

		@include max-screen($breakpoint-large) {
			display: block;
			max-width: 100%;
			padding: 30px 0;
			position: relative;
		}

		@include max-screen($breakpoint-medium) {
			padding: 20px 0;
		}

		h2 {
			font-weight: 900;
			text-transform: uppercase;
			@include font-size(35px);
			line-height: 1.2;
			margin-bottom: 5px;

			@include max-screen($breakpoint-medium) {
				@include font-size(25px);
			}
		}
	}

	.slider-thumb__title {
		display: block;
		margin-bottom: 20px;

		@include max-screen($breakpoint-large) {
			margin-bottom: 30px;
		}
	}

	.slider-thumb__text {
		margin-bottom: 20px;

		@include max-screen($breakpoint-large) {
			margin-bottom: 30px;
		}
	}

	.slider-thumb__social {

		a {
			@extend .text-style-1;
			margin-right: 30px;
		}

		@include max-screen($breakpoint-large) {
			text-align: center;
		}
	}