/*------------------------------------*\
    #FAQ
\*------------------------------------*/

.faq__hero {
	text-align: center;

	.icon-help {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	div {
		display: inline-block;
		color: white;
	}

	a {
		display: block;
		padding-bottom: 0;
		padding-top: 6px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 2px;
		color: #8b909f;
		text-transform: uppercase;
	}

	p {
		font-weight: 500;
	    font-size: 11px;
	    text-transform: uppercase;
	    letter-spacing: .2em;
	    color: #8b909f;
	}
}