/*------------------------------------*\
    #NUMBER INFO PANEL
\*------------------------------------*/

.number-info-panel-wrap {
	counter-reset: list-ordered;
	margin-bottom: 100px;

	.layout {
		padding: 60px 0;

		@include max-screen($breakpoint-large) {
			padding: 20px 0;
		}

		&:first-of-type {
			padding-top: 0;
			margin-top: -15px;
		}

	}

	ol {
		margin-left: 0;
	}


}