/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

$animation-delay: 							.3s;

.fade-in-top {

	> * {
		opacity: 0;
		transition: opacity .5s ease, transform .5s ease;
		transform: translateY(50px);
		-webkit-transform: translateY(50px);
	}

	.slick-current & {

		> * {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			transition-delay: $animation-delay;

			&:nth-child(2) {
				transition-delay: $animation-delay + .1;
			}
			&:nth-child(3) {
				transition-delay: $animation-delay + .2;
			}
			&:nth-child(4) {
				transition-delay: $animation-delay + .3;
			}
			&:nth-child(5) {
				transition-delay: $animation-delay + .4;
			}
			&:nth-child(6) {
				transition-delay: $animation-delay + .5;
			}
		}
	}
}

.member-profile--ccg {
	@extend .member-profile;
	background-color: $color-primary;

	.member-profile__first {
		background-color: transparent;
		width: 100%;
		padding-right: 0;
		padding-bottom: 25px;
		
		.member-profile__info {
			width: 25%;
		}
	}


	.icon {
		color: $color-secondary-1;
	}

	@include max-screen($breakpoint-extralarge - 1) {
		.member-profile__first {
			.member-profile__info {
				width: 33%;
			}
		}
	}

	@include max-screen($breakpoint-large - 1) {
		.member-profile__first {
			.member-profile__info {
				width: 100%;
			}
		}
	}
}