/*------------------------------------*\
    #AUDIT REPORTS
\*------------------------------------*/

.audit-header {
    background-color: $color-primary;
    color: #fff;
}

    .audit-header__title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        display: block;
        height: 52px;
        line-height: 52px;
        padding: 0 30px;
        letter-spacing: .2em;

        @include max-screen($breakpoint-large) {
            height: 62px;
            line-height: 62px;
            padding: 0 16px;
        }
    }

.audit-content {

    span {
        display: block;
        height: 52px;
        line-height: 52px;
        padding: 0 30px;
        border-bottom: 1px solid rgba(#2d2e2f, .1);
        border-left: 1px solid rgba(#2d2e2f, .1);

        @include max-screen($breakpoint-large) {
            display: flex;
            align-items: center;
            height: 62px;
            line-height: 1;
            padding-left: 15px;
        }
    }
}

.select--audit {
	height: 52px;
    line-height: 54px;
    border: none;
    border-left: 1px solid rgba(#2d2e2f, .1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .2em;

    @include max-screen($breakpoint-large) {
        height: 62px;
        line-height: 62px;
    }



    .sod_list_wrapper {
    	top: 100%;
    	border-top: none;
    }

    &:before {
    	background-image: url("images/icon-select-box-arrow-down-white.svg");
    }

    &.open,
    &.focus,
    &:hover {
    	box-shadow: none;
    	border-color: rgba(#2d2e2f, .1);
    }

    &.open {
    	.sod_option {
    		padding: 17px 20px;
    		font-size: 13px;
    		letter-spacing: .2em;
    	}

    	.sod_list_wrapper {
    		transform: none;
    	}
    }
}
