/*------------------------------------*\
    #MEMBERS
\*------------------------------------*/

.members-home {
	text-align: center;
	padding-top: 77px;
	padding-bottom: 75px;

	@include max-screen($breakpoint-large) {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	h2 {
		@include font-size(35px);
		margin-bottom: 10px;

		@include max-screen($breakpoint-large - 1) {
			@include font-size(25px);
		}
	}

	p {
		@include font-size(19px);
		margin-bottom: 85px;

		@include max-screen($breakpoint-large) {
			margin-bottom: 15px;
		}
	}

	h3 {
		@include max-screen($breakpoint-large) {
			margin-bottom: 0;
		}
	}

}

	.members__image {
		background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        padding-bottom: 68.2%;
        z-index: 3;

		> img {
			display: none;
		}

		&.members__image--circle {
			width: 150px;
			height: 150px;
			padding-bottom: 0;
			border-radius: 50%;
	        margin: 0 auto 35px;

	        @include max-screen($breakpoint-medium) {
				margin: 20px auto;
			}
		}
	}

	.members__info {
		width: calc(100% - 50px);
		background-color: #fff;
		padding: 37px 50px 0 40px;
		float: right;
	    margin-top: -112px;
	    margin-bottom: 13px;
	    z-index: 4;
	    position: relative;

	    @include max-screen($breakpoint-medium) {
	    	width: 100%;
	    	float: none;
	    	margin: 0;
	    	padding: 30px 20px 0;
	    }

	    h2 {
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;

			a {
				&:hover {
					text-decoration: none;
					color: lighten($base-title-color, 20%);
				}
			}
		}


	    p {
	    	margin-bottom: 15px;
	    }
	}

		.members__contact {
			font-weight: 500;
			padding-bottom: 13px;
    		margin-bottom: 20px;
    		position: relative;
		}

.members__popup {
	padding: 90px 0;

	.members__info {
		float: none;
		width: 100%;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
		margin-bottom: 0;

		p {
	    	margin-bottom: 30px;
	    }

	    a {
	    	color: #2e2e2e;
	    	font-weight: normal;

	    	&:hover {
				color: lighten(#2e2e2e, 20%);
				text-decoration: none;
	    	}
	    }

	}

	.members__contact {

		&:after {
			content: '';
			display: block;
			width: 50px;
			height: 2px;
			background-color: $color-primary;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}


}



