/*------------------------------------*\
    #SELECT BOX
\*------------------------------------*/

/* ===========================================================
 *
 *  Name:          selectordie_dev.css
 *  Updated:       2014-10-10
 *  Created by:    Per V @ Vst.mn
 *  What?:         Base CSS for Select or Die
 *
 *  Copyright (c) 2014 Per Vestman
 *  Dual licensed under the MIT and GPL licenses.
 *
 *  No, I don't usually comment my CSS, but in this
 *  case it might "help" someone.
 *
 *  Oddny | Cogs 'n Kegs
 * =========================================================== */

.sod_select,
.sod_select *
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
     -webkit-touch-callout: none;
       -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;
    }

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        display: block;
        position: relative;
        line-height: 1;
        outline: 0;
        border: 1px solid #c0c0c0;
        height: 44px;
        line-height: 42px;
        padding: 0 40px 0 20px;
        cursor: pointer;
        font-size: 17px;
        transition: all .2s ease;

        /* Up/Down arrows */
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            display: block;
            width: 9px;
            height: 6px;
            background-image: url('images/icon-select-box-arrow-down.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: all .2s ease;

            .text-left-sm & {
                display: none;
            }
        }

        // &:after {
        //     content: "";
        //     width: 0;
        //     height: 0;
        //     border-style: solid;
        //     border-width: 7px 5px 0 5px;
        //     border-color: #a1a4aa transparent transparent transparent;
        //     transition: all .2s ease;
        //     margin-left: 10px;
        //     display: none;
        //     position: relative;
        //     top: -16px;
        //     vertical-align: middle;

        //     .text-left-sm & {
        //         display: inline-block;
        //     }
        // }

        /* Change the border color on hover, focus and when open */
        &:hover,
        &.open,
        &.focus {
            border-color: $color-base;
            -webkit-box-shadow: 0px 0px 0px 1px $color-base;
            -moz-box-shadow: 0px 0px 0px 1px $color-base;
            box-shadow: 0px 0px 0px 1px $color-base;
            border-radius: 2px;
        }

        &.open {

            &:before {
                -webkit-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &.focus {
            // box-shadow: 0 0 5px rgba(0,0,0,.2);
        }

        /* When the entire SoD is disabled, go crazy! */
        &.disabled {
            border-color: #828282;
            color: #b2b2b2;
            cursor: not-allowed;
        }
    }




    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // padding-right: 15px;
        }

        .sod_select .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select .sod_placeholder { /* Use this if you're using a placeholder and want to style it */ }



    /* Options list wrapper */
    .sod_select .sod_list_wrapper
        {
            position: absolute;
            top: 100%;
            left: 0;
            display: block;
            height: auto;
            width: 100%;
            margin: 0;
            background: transparent;
            border: 1px solid rgba(45,46,47,.15);
            box-shadow: 0 2px 7px rgba(0,0,0,.13);
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
            padding: 0;
            z-index: 100;
            max-height: 228px;
            overflow: auto;
        }

        /* Shows the option list (don't edit) */
        .sod_select.open .sod_list_wrapper {
            opacity: 1;
            visibility: visible;
            background-color: white;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }

        /* Don't display the options when  */
        .sod_select.disabled.open .sod_list_wrapper { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list_wrapper
            {
                top: auto;
                bottom: 100%;
                margin: 0 0 10px 0;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                // border-top: 3px solid #000000;
                // border-bottom: none;
            }

    /* Options list container */
    .sod_select .sod_list
        {
            display: block;
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_option {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            position: relative;
            padding: 14px 0;
            line-height: 1;
            list-style-type: none;
            color: #a1a4aa;
            opacity: 0;
            font-weight: 300;
            transition: all .2s ease 0s;
            font-size: 17px;
            color: $base-text-color;

        }

        .sod_select.open .sod_option {
            padding: 14px 20px;
            opacity: 1;
            transition: padding .2s ease .4s, opacity .2s ease .4s, color .2s ease 0s;

            &:nth-child(1) {
                transition: padding .2s ease .2s, opacity .2s ease .2s, color .2s ease 0s;
            }
            &:nth-child(2) {
                transition: padding .2s ease .22s, opacity .2s ease .22s, color .2s ease 0s;
            }
            &:nth-child(3) {
                transition: padding .2s ease .24s, opacity .2s ease .24s, color .2s ease 0s;
            }
            &:nth-child(4) {
                transition: padding .2s ease .26s, opacity .2s ease .26s, color .2s ease 0s;
            }
            &:nth-child(5) {
                transition: padding .2s ease .28s, opacity .2s ease .28s, color .2s ease 0s;
            }
            &:nth-child(6) {
                transition: padding .2s ease .3s, opacity .2s ease .3s, color .2s ease 0s;
            }
            &:nth-child(7) {
                transition: padding .2s ease .32s, opacity .2s ease .32s, color .2s ease 0s;;
            }
            &:nth-child(8) {
                transition: padding .2s ease .34s, opacity .2s ease .34s, color .2s ease 0s;
            }
            &:nth-child(9) {
                transition: padding .2s ease .36s, opacity .2s ease .36s, color .2s ease 0s;
            }
            &:nth-child(10) {
                transition: padding .2s ease .38s, opacity .2s ease .38s, color .2s ease 0s;
            }
        }

            /* Optgroups */
            .sod_select .sod_option.optgroup,
            .sod_select .sod_option.optgroup.disabled
                {
                    background: inherit;
                    color: #939393;
                    font-size: 10px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select .sod_option.groupchild { padding-left: 20px; }

            /* Used together with placeholderOption / data-placeholder-option */
            .sod_select .sod_option.is-placeholder {
                display: none;
            }

            /* Disabled option */
            .sod_select .sod_option.disabled
                {
                    background: inherit;
                    // color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_option.active
                {
                    // background: #f7f7f7;
                    color: white !important;
                    background-color:  $color-base;
                    transition: all .3s ease !important;
                }

            /*Make room for the check mark */
            .sod_select .sod_option.selected
                {
                    color: black;
                    // font-weight: 700;
                    // padding-right: 25px;
                }

                /* Displays a check mark for the selected option */
                // .sod_select .sod_option.selected:before
                //     {
                //         content: "";
                //         position: absolute;
                //         right: 10px;
                //         top: 50%;
                //         -webkit-transform: translateY(-50%);
                //             -ms-transform: translateY(-50%);
                //                 transform: translateY(-50%);
                //         display: inline-block;
                //         color: #808080;
                //         height: 9px;
                //         width: 10px;
                //         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
                //     }

                /* Add a .no_highlight class to you SoD to hide the check mark and don't bold the option */
                .sod_select.no_highlight .sod_option.selected { font-weight: 300; }
                .sod_select.no_highlight .sod_option.selected:before { display: none; }

            .sod_select .sod_option.link { /* If data-link is set on a specific option */ }
            .sod_select .sod_option.linkexternal { /* If data-link-external is set on a specific option */ }



    /* Hide native select */
    .sod_select select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }

