/*------------------------------------*\
    #SUBSCRIPTION
\*------------------------------------*/

.subscription {
	padding: 120px 0;
	background-color: $color-secondary-3;
	background-color: $color-base;

	.layout__item {
		@include max-screen($breakpoint-medium) {
			margin-bottom: 20px;
		}
	}

	.home & {
		background-color: #f0edf7;
	}

	@include max-screen($breakpoint-large) {
		padding: 50px 0;
	}

	h1 {
		color: white;
		margin-bottom: 10px;
		line-height: 1.2;
		text-transform: none;
		font-weight: bold;

		@include max-screen($breakpoint-large) {
			text-align: center;
		}

		.home & {
			color: $color-secondary-2;
		}
	}

	p {
		@extend %text-style-1;
	}

}

.home {
	.subscription {
		.input {
			&:hover,
			&:focus {
				color: $color-secondary-2;
				border-bottom-color: rgba($color-secondary-2, .15);
				box-shadow: none;
			}
		}
	}
}

	.subscription__form {
		position: relative;

		.input {
			color: white;
			border-bottom-color: rgba(white, .15);

			&:hover,
			&:focus {
				border-bottom-color:  rgba(white, .6);
    			box-shadow: 0px 1px 0px 0px  rgba(white, .6);
			}

			&::-webkit-input-placeholder {
			   color: white;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: white;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: white;
			}

			&:-ms-input-placeholder {
			   color: white;
			}

			@include max-screen($breakpoint-large) {
				text-align: center;
			}

			.home & {

				color: $color-secondary-2;
				border-bottom-color: rgba($color-secondary-2, .15);

				&:hover,
				&:focus {
					border-bottom-color:  rgba($color-secondary-2, .6);
	    			box-shadow: 0px 1px 0px 0px  rgba($color-secondary-2, .6);
				}

				&::-webkit-input-placeholder {
				   color: $color-secondary-2;
				}

				&:-moz-placeholder { /* Firefox 18- */
				   color: $color-secondary-2;
				}

				&::-moz-placeholder {  /* Firefox 19+ */
				   color: $color-secondary-2;
				}

				&:-ms-input-placeholder {
				   color: $color-secondary-2;
				}

			}
		}

		.btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			color: white;

			.home & {
				color: $color-secondary-2;
					&:not(:disabled) {
				    &:hover,
				    &:focus {
				        color: lighten($color-secondary-2, 15%);

				        &:before {
				            display: none;
				        }

				    }
				}
			}

			@include max-screen($breakpoint-large) {
				position: static;
				margin-top: 30px;
				display: block;
				width: 100%;
				text-align: center;
			}


			/**
			 * @hover
			 */
			&:not(:disabled) {
			    &:hover,
			    &:focus {
			        color: white;

			        &:before {
			            display: none;
			        }

			    }
			}
		}
	}

		.subscription__message {
			position: absolute;
			top: calc(100% + 20px);
			left: 0;
			display: flex;
			background-color: #fff;
			font-size: 15px;
			padding: 10px 15px;
			border-radius: 3px;
			box-shadow: 0px 0px 0px 1px rgba(45,46,47,.15);

			&:before {
				content: '';
				width: 15px;
				height: 15px;
				background-color: #fff;
				box-shadow: 1px -1px 0px 0px rgba(45,46,47,.15);
				position: absolute;
				top: -7px;
				left: 15px;
				transform: rotate(-45deg);
			}

			&.error {
				color: #f76288;
			}

			&.success {
				color: $color-primary;
				font-weight: bold;
			}

			span {
				margin-left: 10px;
			}

			.icon {
				flex-shrink: 0;
			}

		}
