/*------------------------------------*\
    #DOCUMENTS
\*------------------------------------*/

.documents {

	&.documents--steps {

		.documents__item {
			margin-bottom: 50px;
		}

		h3 {
			margin-bottom: 7px;
		}

		.flag {
			margin-bottom: 30px;
		}
	}
}



.documents__item {
	margin-bottom: 20px;

	a {
		color: #4c4d4f;

		&:hover span {
			text-decoration: underline;
		}
	}

	img {
		margin-bottom: 0 !important;
	}
}