/*------------------------------------*\
    #FLEX GRID HOME
\*------------------------------------*/

.flex-grid {
	display: flex;
	flex-flow: row wrap;
	min-height: 560px;
}

	.flex-grid__left,
	.flex-grid__half,
	.flex-grid__full {

		@include max-screen($breakpoint-large) {
			min-height: 350px;
		}

		@include max-screen($breakpoint-medium) {
			min-height: 250px;
		}
	}

	.flex-grid__left,
	.flex-grid__right {
		display: flex;
		flex: 1;
		width: 50%;

		@include max-screen($breakpoint-large) {
			width: 100%;
			flex: auto;
		}
	}

	.flex-grid__left,
	.flex-grid__half {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.flex-grid__left,
	.flex-grid__half:nth-child(2) {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.08) 59%, rgba(255,255,255,0));
			background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.08) 59%, rgba(255,255,255,0));
			background-image: -o-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.08) 59%, rgba(255,255,255,0));
			background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.2), rgba(255,255,255,.08) 59%, rgba(255,255,255,0));
			background-image: linear-gradient(to top, rgba(0,0,0,.2), rgba(255,255,255,.08) 59%, rgba(255,255,255,0));
		}
	}

	.flex-grid__left {

		.flex-grid__content {
			padding-left: 115px;

			@include max-screen($breakpoint-large) {
				padding-left: 30px;
			}

			@include max-screen($breakpoint-medium) {
				padding-left: 15px;
			}
		}
	}

	.flex-grid__right {
		display: flex;
		flex-flow: row wrap;
		width: 50%;
	}

		.flex-grid__half {
			display: flex;
			background-color: #4e436b;
			width: 50%;

			@include max-screen($breakpoint-medium) {
				width: 100%;
				flex: auto;
			}

		}

		.flex-grid__full {
			display: flex;
			width: 100%;
			background-color: $color-primary;
		}

			.flex-grid__content {
				align-self: flex-end;
				padding-left: 30px;
				padding-bottom: 30px;
				color: #fff;
				font-weight: 500;
				text-transform: uppercase;
				font-size: 11px;
				z-index: 10;

				@include max-screen($breakpoint-medium) {
					padding-left: 15px;
				}

				dl, dd {
					margin: 0;
				}

				dl {
					max-width: 160px
				}

				dd, div {
					letter-spacing: .2em;
				}

				dt {
					text-transform: none;
					font-size: 72px;
					line-height: 1;
				}

			}