/*------------------------------------*\
    #FAX LOG
\*------------------------------------*/

.fax-log {

	.icon-arrow {
		@include max-screen(560px) {
			right: 2px;
		}
	}

	.btn {
		margin-right: 30px;

		@include max-screen(560px) {
			display: block;
			margin-bottom: 30px;
			width: 100%;
		}
	}
}

	.fax-log__header {
		font-size: 0;
		border-bottom: 3px solid $color-primary;
		padding: 17px 0;

		span {
			font-size: 13px;
			color: $color-secondary-2;
			letter-spacing: 0.2em;
			font-weight: 500;
			display: inline-block;
			width: 50%;
			text-transform: uppercase;



			&:last-child {
				padding-left: 80px;

				@include max-screen(560px) {
					padding-left: 0;
				}
			}
		}
	}

		.fax-log__status {
			position: absolute;
			right: 0;
			width: 50%;
    		top: 22px;
    		padding-left: 80px;
    		font-size: 11px;
    		font-weight: 500;
    		letter-spacing: 0.2em;
    		text-transform: uppercase;
    		color: #8b909f;

    		@include max-screen(560px) {
				padding-left: 0;
				top: 21px;
			}

    		&.is-completed {

    			&:after {
    				content: 'Completed';
    				color: #49ce49;
    			}
    		}

    		&:after {
    			content: "Not completed";
    		}
		}