/*------------------------------------*\
    #TABLE
\*------------------------------------*/

.table {
    text-align: left;
    margin-bottom: 70px;
    margin-top: 30px;

    thead {
        background-color: $color-base;
        color: white;

        tr {
            @include max-screen($breakpoint-large) {
                display: none;
            }
        }
    }

    th {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .2em;
    }

    td {
        font-size: 15px;
        font-weight: 300;

        @include max-screen($breakpoint-large) {
            display: table;
            table-layout: fixed;
            position: relative;
            width: 100%;


            &:before {
                content: attr(data-th) ': ';
                display: table-cell;
                font-weight: bold;
                padding-right: 40px;
                padding-bottom: 40px;
                padding-left: 40px;
            }

            &:first-child {
                padding-left: 0;

                &:before {
                    padding-top: 40px;
                }
            }
        }

        @include max-screen($breakpoint-medium) {
             &:before {
                padding-right: 20px;
                padding-left: 15px;
            }
        }
    }

    td, th {

        &:first-child {
            padding-left: 30px;
        }
    }

    tr {
        height: 50px;
    }

    tbody {

        tr {
            border-bottom: 1px solid $base-border-color;
            background-color: white;

            @include max-screen($breakpoint-large) {
                border-bottom: none;
            }

            &:nth-child(even) {
                background-color: #f5f5f6;
            }
        }
    }

    .list-title {
        padding-top: 20px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    ul {
        margin-left: 10px;
        margin-bottom: 0;
        list-style-type: none;
    }

        li {
            padding-left: 20px;
            margin-bottom: 15px;
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $color-base;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }

}

.table--secondary {

    thead {
        background-color: $color-secondary-1;

        tr {
            height: 60px;
        }
    }

    a {
        color: $color-base;
    }

    tr {
        height: 88px;

        th,
        td {
            &:last-child {
                text-align: center;

                @include max-screen($breakpoint-large) {
                    text-align: left;
                }
            }
        }

        @include max-screen($breakpoint-large) {
            border-bottom: none;
        }

    }

    .icon-file {
        width: 40px;
        margin-right: 30px;

        @include max-screen($breakpoint-large) {
            margin-right: 10px;
        }

        @include max-screen($breakpoint-medium) {
            width: 15%;
        }


        + span {
            display: inline-block;
            vertical-align: middle;

             @include max-screen($breakpoint-medium) {
                width: 70%;
                line-height: 1;
                font-size: 13px;
            }


        }
    }

    .icon-wrap {
        padding: 10px 15px;

        @include max-screen($breakpoint-large) {
            padding: 0;
        }

        .icon {
            transition: all .1s ease;
        }

        &:hover {

            .icon {
                transform: translateY(3px);
                -webkit-transform: translateY(3px);
            }
        }
    }
}

.table--third {
    margin-bottom: 50px;

    tr {
        th,
        td {
            &:last-child {
                width: 170px;
                padding-left: 30px;
            }
        }

    }
}

.table--editorial {

     td, th {

        &:first-child {
            padding-left: 30px;
            width: 21%;

            @include max-screen($breakpoint-large) {
                 width: 100%;
            }
        }
    }
}



.table-workflow {
    table-layout: fixed;
    margin-bottom: 30px;

    .thead {
        color: white;
        height: 63px;
        border-bottom: none;

        td {
            width: 146px;
            padding-left: 20px;
            border-left: 1px solid rgba(#eaeaea, .1);
            border-bottom: none;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: .2em;
            text-transform: uppercase;
            color: #fff;
            background-color: $color-base;

            &:first-child {
                width: 233px;
            }

            &:last-child {
                border-right: 1px solid $color-primary;
            }

        }
    }

    tr {
        height: 53px;
    }

    td {
        border-left: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        font-size: 15px;
        color: #4c4d4f;
        background-color: #fff;

        &:first-child {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 11px;
            padding-bottom: 10px;
        }

        &:last-child {
            border-right: 1px solid rgba(#2d2e2f, .1);
        }

        &:empty {
            background-color: #edf2f4;
        }

    }

    .total {
        background-color: $color-primary;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }

    &.table-workflow--secondary {

        .thead {

            td {
                background-color: $color-secondary-1;

                 &:last-child {
                    border-right: 1px solid $color-secondary-1;
                }
            }
        }
    }

}



.form-reports {
    // overflow-x: scroll;
    .btn {
        margin-bottom: 30px;
    }
}

.table-workflow--training {
    td:first-child {
        width: 750px !important;
    }
}