/*------------------------------------*\
    #WEEK PLAN
\*------------------------------------*/

.week-plan {
	padding: 45px 0 50px;

	input {
		@include placeholder {
	      	color: #8b909f;
	      	font-size: 17px;
	   	}
	}
}