/*------------------------------------*\
    #CHECKBOXES
\*------------------------------------*/

.styled-checkbox {
    opacity: 0;
    position: absolute;

    &.is-correct {

        &:checked {

            + label {

                span {
                    border: 1px solid #49ce49;
                    background-color: #49ce49;
                }
            }
        }

        + label {

             + span {
                display: block;
                padding-left: 30px;
                color: #49ce49;
                margin-top: -13px;
                margin-bottom: 15px;
                font-weight: 500;
            }
        }
    }

    &.is-wrong {

        &:checked {

            + label {

                span {
                    border: 1px solid #fe376a;
                    background-color: #fe376a;

                    b {
                        width: 11px;
                        height: 10px;

                        &:before {
                            height: 10px;
                            left: 4px;
                            transition: height .1s ease .1s;
                        }

                        &:after {
                            width: 10px;
                            bottom: 4px;
                            transition: width .1s ease .15s;
                        }
                    }
                }

            }
        }

        + label {

            + span {
                display: block;
                padding-left: 30px;
                margin-top: -13px;
                margin-bottom: 15px;
                color: #fe376a;
                font-weight: 500;
            }
        }
    }

}

.styled-checkbox + label {
    position: relative;
    padding-left: 30px;
    color: black;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    display: block;
    font-size: 17px;
    color: $base-text-color;
    font-weight: 300;
}

.styled-checkbox + label span {
    display: inline-block;
    visibility: visible;
    width: 21px;
    height: 21px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 1px;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 0px;
    box-sizing: border-box;
    transition: all .2s ease;

    b {
        position: absolute;
        height: 7px;
        width: 11px;
        display: block;
        left: 4px;
        top: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

        &:before, &:after {
            content: '';
            display: block;
            width: 2px;
            height: 0;
            background-color: white;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: none;
        }
        &:before {
            bottom: auto;
            top: 0;
        }
        &:after {
            width: 0;
            height: 2px;
        }
    }
}

.checkbox_wrap label:hover span {
    border: 1px solid $color-base;
}
// .checkbox--gray-border label:hover span {
// }

.checkbox_wrap {

    &.checkbox_wrap--square {
        padding: 10px;
        height: 95px;
        background-color: #edf2f4;

        &.is-active {
            background-color: $color-primary;

            label {
                color: #fff;
            }

            .styled-checkbox {

                + label {
                    span {
                        b {
                            &:before, &:after {
                                background-color: $color-primary;
                            }
                        }
                    }
                }


                &:checked {
                    + label {
                        span {
                            border-color: rgba(#509cb9, 0.8);
                            background-color: #fff;
                        }
                    }
                }

            }
        }

        label {
            margin: 0;
            padding: 0;
            height: 100%;

            span {
                top: auto;
                bottom: 0;
            }
        }

    }
}

.styled-checkbox:checked + label span {
    border: 1px solid $color-base;
    background-color: $color-base;

    b {
        &:before {
            height: 7px;
            transition: all .05s ease .1s;
        }
        &:after {
            width: 11px;
            transition: all .1s ease .15s;
        }

    }
}

.styled-checkbox[disabled] + label {
    color: #a1a9b3 !important;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.styled-checkbox[disabled] + label span {
    background-color: #837c98 !important;
    border-color: #837c98 !important;
}

//

.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #2d2e30;
    border: 2px solid #1eccd2;
    border-radius: 40px;
    display: inline;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    padding: 20px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 40px;
    background: #2d2e30;
    color: #1eccd2;
    padding: 20px;
}

.checkbox-custom:focus + .checkbox-custom-label {
  outline: 1px solid #ddd; /* focus style */
}




