/*------------------------------------*\
    #CONTACT MAP
\*------------------------------------*/

.map {

	.container--narrow {
		margin-top: -38px;
		position: relative;
	}
}

#map {
	padding-bottom: 49.90%;
}