/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
	margin-left: 0;
	padding: 16px 0 55px;
	margin-bottom: 0;
	list-style-type: none;
	font-size: 0;

	@include max-screen($breakpoint-header) {
		display: none;
	}

	.magazine & {
		padding-bottom: 0;
	}

	li {
		display: inline-block;
		font-size: 11px;

		&:after {
			content: ' / ';
			display: inline;
			position: relative;
			margin-right: 3px;
			color: #8b909f;
		}

		&:before {
			display: none !important;
		}

		&:last-child {

			&:after {
				display: none !important;
			}
		}
	}


	a {
		color: #8b909f;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.is-active,
	.is-active a {
		color: $color-primary;
	}

	.search & {
		padding: 0;
		margin: 0;
	}

	@include max-screen($breakpoint-extralarge) {
		margin-bottom: 0;
	}

	@include max-screen($breakpoint-large - 1) {
		margin-bottom: 10px;
		padding: 10px 0;
	}
}

.categories {
	text-transform: uppercase;

	span {
		font-size: 13px;
		margin-right: 10px;
	}

	ul {
		@extend .breadcrumbs;
		display: inline;

		li {

			&:after {
				content: '/';
			}
		}
	}
}
