/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/

.sidebar {
	position: relative;

	.styled-checkbox {

        + label {
            color: #fff;
            padding-left: 35px;
            padding-right: 3px;
            margin-bottom: 0;

            span {
                top: 5px;
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background-color: transparent;
                border: 2px solid #fff;
                transition: all .2s ease;

                b {
                    width: 8px;
                    left: 3px;
                    top: 3px;

                    &:after,
                    &:before {
                        background-color: #4e436b
                    }

                    &:before {
                        top: 1px;
                    }
                }

                &:hover {
                    border-color: $color-primary;
                }
            }
        }

        &:checked {

            + label {

                span {
                    background-color: #fff;
                    border: 2px solid transparent;

                    b {
                        &:after,
                        &:before {
                            background-color: #4e436b
                        }

                        &:before {
                            height: 5px;
                        }

                        &:after {
                            width: 10px;
                        }
                    }
                }
            }
        }

        &:disabled {
            + label {
                color: rgba(#fff, .3) !important;

                span {
                    background-color: #837c98 !important;
                    border-color: #837c98 !important;

                    &:before {
                        content: '';
                        display: block;
                        background-image: url('images/icon-step-locked.svg');
                        height: 11px;
                        width: 9px;
                        position: absolute;
                        top: 2px;
                        left: 3px;
                    }
                }
            }
        }
    }

	.info-popup-active & {
		z-index: 30;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	.checkbox_wrap {
		padding: 15px 0;
		border-top: 1px solid rgba(#fff, .15);
	}

	.sidebar__list {
		position: relative;
		background-color: #4e436b;
		color: #fff;
		padding: 20px 20px 3px 20px;

		@include max-screen($breakpoint-steps) {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 30;
			padding: 0 20px;
		}

		form {

			@include max-screen($breakpoint-steps) {
				display: none;
			}

			@include min-screen($breakpoint-steps + 1) {
				display: block !important;
			}
		}


		h4 {
			color: #fff;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.3em;
			font-weight: normal;
			margin-bottom: 0;
			padding-bottom: 20px;

			&.opened {
				&:before {
					transform: rotateX(-180deg);
				}
			}

			@include max-screen($breakpoint-steps) {
				cursor: pointer;
				padding: 16px 0;

				&:before {
					content: url(images/arrow-submenu.png);
				    position: absolute;
				    right: 20px;
				    transform: rotateX(0deg);
				    transition: all .3s ease;
				}
			}
		}


			li {
				padding: 20px 0 20px 38px;
				border-bottom: 1px solid rgba(#fff, .15);
				position: relative;

				&:first-child {
					border-top: 1px solid rgba(#fff, .15);
				}

				&:last-child {
					border-bottom: none;
				}

				&:before {
					content: '';
					width: 19px;
					height: 19px;
					border: 2px solid #fff;
					border-radius: 50%;
					position: absolute;
					top: 23px;
					left: 0;
				}
			}

		&.fixed {
			position: fixed;
			width: 230px;
			margin-top: -80px;


			&.bottom {
				position: absolute;
				bottom: 0;
				transition: all .3s ease;
			}
		}
	}

	.sidebar__resume {
		margin-bottom: 50px;

		h4 {
			margin-bottom: 0;
			color: $color-primary;
			font-size: 17px;
			border-top: 1px solid rgba(#3c3f42, .1);
		}

		li, h4 {
			font-weight: 500;
			padding: 30px 0;
			border-bottom: 1px solid rgba(#3c3f42, .1);
		}

		li {
			a {
				color: $color-secondary-2;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}


}