/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

.accordion {
	counter-reset: list-ordered-first;

	&.accordion--fax {
		padding-top: 0;
		padding-bottom: 50px;
		counter-reset: fax-log-no;

		.accordion__item {
			counter-increment: fax-log-no;
			margin-left: 0;
			border-bottom: 1px solid #eaeaea;
		}

		.accordion__item-title {
			font-size: 17px;
			border: none;

			> a {
				&:after {
					content: '. ' counter(fax-log-no);
				}
			}

			&:before {
				display: none;
			}
		}
	}
}

.accordion__item {
	transition: all .2s ease .2s;
	margin-left: 50px;
	counter-increment: list-ordered-first;

	.page-template-template-steps & {
		margin-left: 0;
	}
}

	.accordion__item-title {
		position: relative;
		margin-bottom: 0;
		padding: 30px 0;
		transition: all .2s ease;
		border-bottom: 1px solid #eaeaea;

		.page-template-template-steps & {
			padding: 25px 0;
		}

		a {
			padding-right: 50px;
			display: block;

			&:hover {
				text-decoration: none;
			}
		}

		.icon-arrow {
			color: $base-text-color;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transition: all .3s ease;
			transform-origin: 50% 50% 0px;
			-webkit-transform-origin: 50% 50% 0px;

			.icon {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
		}

		.is-active & {

			.icon-arrow {
				transform: translateY(-50%) rotateX(180deg);
				-webkit-transform: translateY(-50%) rotateX(180deg);
			}

			&:before {
				background-color: $color-base;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
		}

		&:before {
			content: "" counter(list-ordered-first, decimal);
			display: block;
			position: absolute;
			left: -50px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background-color: #c5c7cf;
			color: white;
			text-align: center;
			line-height: 26px;
			font-size: 15px;

		}

		.page-template-template-steps & {
			&:before {
				display: none;
			}
		}
	}

	.accordion__item-content {
	  	display: none;
	  	padding: 20px 0;

	  	p {
	  		margin-bottom: 0;
	  	}

	  	.page-template-template-steps & {
			padding: 20px 0 0;

			p {
		  		margin-bottom: 30px;
		  	}
	  	}

	}

