/*------------------------------------*\
    #STEPS LIST
\*------------------------------------*/

.steps {
	padding-top: 90px;
	padding-bottom: 70px;

	@include max-screen($breakpoint-large) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.steps__list {
	margin-bottom: 90px;

	span {
		display: block;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 0.2em;
		font-weight: bold;
		padding-bottom: 15px;
	}

	h2 {
		margin-bottom: 20px;
    	line-height: 1;
	}

	.img-wrap {
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	    padding-bottom: 72.19%;

	    img {
	        display: none;
	    }

	}

	@include max-screen($breakpoint-large - 1) {
        margin-bottom: 70px;
    }

}


