/*------------------------------------*\
    #PRIMARY BUTTON
\*------------------------------------*/

$btn-primary-height:                        44px;


/**
 * Primary button.
 */
.btn--primary,
%btn--primary {
    -webkit-font-smoothing: inherit;
    transition: all .2s ease;
    background-color: $color-primary;
    border-radius: 0;
    height: $btn-primary-height;
    line-height: $btn-primary-height - 2;
    width: auto;
    padding: 0 30px;
    text-align: center;
    font-family: $base-font-family;
    box-sizing: border-box;
    border: 1px solid $color-primary;
    @extend %text-style-1;
    color: #fff;

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: $color-primary;
        }
    }

    /**
     * @active
     */
    &:not(:disabled) {
        &:active {

        }
    }

    /**
     * @disabled
     */
    &:disabled {
        opacity: 0.5;
        cursor: default !important;
    }

    &.btn--info {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
        padding: 0 50px;

        &:hover {
            background-color: #fff;
            color: $color-primary;
        }
    }

}

.btn--border {
    background-color: transparent;
    color: $color-primary;

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: $color-primary;
            color: white;
        }
    }
}

.btn--secondary {
    background-color: $color-secondary-1;
    border-color: $color-secondary-1;

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: $color-secondary-1;
        }
    }
}

.btn--secondary-border {
    background-color: transparent;
    color: $color-secondary-1;
    border-color: $color-secondary-1;


    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: $color-secondary-1;
            color: white;
        }
    }
}

.btn--text {
    background-color: transparent;
    border: transparent;
    color: $base-title-color;
    padding: 0;
    height: auto;
    line-height: 20px;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #005cd0;
        transition: all .2s ease;
    }

    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: $base-title-color;
            text-decoration: none;

            &:before {
                width: 100%;
            }

        }
    }
}

.btn--white {
    background-color: white;
    border-color: white;
    color: $color-secondary-2;


    /**
     * @hover
     */
    &:not(:disabled) {
        &:hover,
        &:focus {
            background-color: $color-base;
            border-color: $color-base;
            color: white;
        }
    }
}

.btn--full {
    width: 100%;
}

