/*------------------------------------*\
    #TRAINING ASSESMENT POPUP
\*------------------------------------*/

.training-assessment {
	background-color: #edf7fb;
	padding-top: 90px;
	padding-bottom: 90px;

	h1 {
		color: $color-secondary-2;
		text-transform: uppercase;
	}
}

.training {

    h3 {
        margin-bottom: 0;
    }

    p {
        color: $color-secondary-2;
    }

}

.training-popup {

	h1 {
		position: absolute;
    	top: -60px;
    	color: #fff;
	}

	form {
		padding: 50px;
	    
	    @include max-screen($breakpoint-large - 1) {
			padding-bottom: 0;
	    }

	    @include max-screen($breakpoint-medium - 1) {
			padding: 20px;
	    }
	}
}
	.progress-bar {
		padding-left: 50px;
		padding-top: 50px;
	}

	.question {
	    counter-reset: list-ordered-first;
	}

	.question-item {
		width: 0;
		height: 0;
		opacity: 0;
		position: relative;
	    counter-increment: list-ordered-first;


		&.is-active {
			width: inherit;
			height: inherit;
			opacity: 1;
			padding-left: 50px;
		}

		.question-item__title {
			margin-bottom: 50px;
			position: relative;
			
			&:before {
			    content: "" counter(list-ordered-first, decimal);
			    width: 28px;
			    height: 28px;
			    border-radius: 50%;
			    background-color: #4e446c;
			    position: absolute;
			    top: 50%;
			    left: -48px;
			    transform: translateY(-50%);
			    color: white;
			    font-weight: bold;
			    font-size: 15px;
			    text-align: center;
			    line-height: 28px;
			}

			p {
				margin-bottom: 0;
			}
		}

		h3 {
			margin-bottom: 0;
			
			& + .checkbox_wrap {
				margin-top: 50px;
			}
		}

		label {
			color: #8b909f;
		}

		.type-medium {
			color: #2d2e2f;
		}

	}

	.question-nav {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		border-top: 1px solid #e6e7e8;
		width: calc(100% + 100px);
		margin-left: -50px;
		margin-top: 30px;
		padding-left: 50px;
		padding-right: 50px;

		@include max-screen($breakpoint-medium - 1) {
			display: block;
			margin-left: -20px;
			width: calc(100% + 40px);

			.btn {
				width: 100%;
				margin-bottom: 20px;
			}
	    }

		.btn--finish {
			display: none;
		}
	}

