/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

$breakpoint-header: 						960px;

.header-main {
	border-bottom: 5px solid #eef7fc;
	padding: 33px 50px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 15;
	background-color: white;
	transition: padding .3s ease-out;

	.logo-wrap {
		position: relative;

		a {
			display: block;
		}
	}

	.logo-small {
		position: absolute;
		left: 0;
		bottom: 50%;
		opacity: 0;

		@include max-screen($breakpoint-header)  {

			img {
				height: 30px;
			}
		}
	}

	.logo {
		transition: all .2s ease;

		@include max-screen($breakpoint-header)  {

			img {
				height: 30px;
			}
		}

	}

	&.is-active {
		transition: padding .3s ease-in-out;
		padding-top: 15px;
		padding-bottom: 15px;

		.logo-small {
			opacity: 1;
			bottom: 0;
		}

		.logo {
			opacity: 0;
			transform: translateY(50%);
			-webkit-transform: translateY(50%);
		}

	}

	&.no-border {
		border-bottom: none;
	}

	@include max-screen($breakpoint-header) {

		padding: 20px 15px;
	}
}
