/*------------------------------------*\
    #SLIDER SINGLE IMAGE
\*------------------------------------*/
.slider-container {
	padding: 50px 0;

	@include max-screen($breakpoint-large) {
    	padding: 0;
    }

}
.slider-single-image {
	// margin-bottom: 50px;

	.slick-slide {
		outline: none !important;
	}
}