/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/


.nav-primary {

	@include max-screen($breakpoint-header) {
		display: none;
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		right: 0;

		> div {
			border-bottom: 5px solid #eef7fc;
			background-color: white;
		}

		.header-no-border & {
			border-top: 5px solid #eef7fc;
			top: 100%;
		}
	}

	@include min-screen($breakpoint-header + 1) {
		height: auto !important;
		display: block !important;
	}



	ul {
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
		margin-right: 25px;
		display: inline-block;

		a {
			@extend %text-style-1;

			&:hover {
				text-decoration: none;
			}

			@include max-screen($breakpoint-header) {
				padding: 25px 0 25px 30px;
				display: block;
				font-size: 13px;
			}
		}

		@include max-screen($breakpoint-header) {
			margin-right: 0;
			display: block;
		}

	}

	 li {
		display: inline-block;
		margin-left: 27px;

		@include max-screen($breakpoint-header) {
			display: block;
			margin-left: 0;
			border-bottom: 1px solid rgba(#3c3f42, .1);
		}
	}

	.btn {
		margin-left: 7px;

		@include max-screen($breakpoint-header) {
			margin-right: 10px;
			margin-left: 0;
		}
	}
}

	.nav-primary__login {
		display: inline-block;

		@include max-screen($breakpoint-header) {
			display: flex;
			padding: 30px;
			text-align: center;

			a {
				width: 50%;
			}
		}
	}

	.user-profile-link {
		margin-right: 0;

		@include max-screen($breakpoint-header) {
			margin-top: -25px;
		}

		.has-dropdown {
			margin-left: 0;
		}
	}


	.nav-trigger {
		display: none;
		width: 26px;
		height: 16px;
		position: relative;
		cursor: pointer;

		span {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);

			.active-nav & {
				opacity: 0;
			}
		}

		&:before, &:after, span {
			display: block;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $color-secondary-2;
			transition: all .2s ease;
		}

		&:before, &:after {
			content: '';
			left: 0;
			top: 0;
		}

		&:before {

			.active-nav & {
				transform: rotate(42deg) translate(4px, 4px);

			}
		}

		&:after {
			top: auto;
			bottom: 0;

			.active-nav & {
				transform: rotate(-44deg) translate(6px, -6px);
			}
		}

		@include max-screen($breakpoint-header) {
			display: block;

		}
	}

	.has-dropdown {
		position: relative;
		padding-bottom: 5px;

		@include max-screen($breakpoint-header) {
			padding-bottom: 0;
		}

		ul {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: -15px;
			background-color: white;
			margin-right: 0;
			right: 0;
			min-width: 170px;
			box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.051);
			border: 1px solid rgba(45, 46, 47, .15);

			a {
				display: block;
				font-size: 0 !important;
				transition: all .1s ease;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				text-transform: none;
				letter-spacing: normal;
				font-weight: 300;

				@include max-screen($breakpoint-header) {
					font-size: 11px !important;
					padding: 12px 0 12px 45px;
					transition: none;
				}
			}

			@include max-screen($breakpoint-header) {
				padding: 0;
				display: none;
				position: relative;
				top: auto;
				left: auto;
				right: 0;
				margin-bottom: 0 !important;
				border: none;
				box-shadow: none;
			}
		}

		.icon-arrow {
			position: relative;
			top: -2px;
			left: 3px;

			@include max-screen($breakpoint-header) {
				position: absolute;
				height: 14px;
				width: 14px;
				right: 14px;
	    		top: 16px;
	    		left: auto;
	    		padding: 10px;
	   			box-sizing: content-box;

				img {
					width: 9px;
					position: relative;
					top: -6px;
				}
			}

			img {
				transition: all .2s ease;
			}
		}

		li {
			display: block;
			margin-left: 0;
			padding-left: 15px;

			@include max-screen($breakpoint-header) {
				padding-left: 0;
				border-bottom: none;
			}

			&.current-menu-item {
				background-color: $color-primary;

				a {
					color: #fff;
				}
			}

		}


		&:hover {

			.icon-arrow {

				img {
					transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);

					@include max-screen($breakpoint-header) {
						transform: rotate(0);
						-webkit-transform: rotate(0);
					}
				}
			}

			ul {
				visibility: visible;
				opacity: 1;

				li {

					&:hover {
						background-color: $color-primary;

						a {
							color: #fff;
						}
					}
				}

				a {
					font-size: 17px !important;
					padding: 10px 0;

					@include max-screen($breakpoint-header) {
						padding: 12px 0 12px 45px;
					}

					&:hover {

						@include max-screen($breakpoint-header) {
							padding: 12px 0 12px 45px;
						}
					}

				}
			}

		}
	}

.nav-secondary {

	@include max-screen($breakpoint-header) {
		margin-left: -40px;
		margin-right: -40px;
		margin-bottom: 50px;
	}

	@include max-screen($breakpoint-medium) {
		margin-left: -20px;
		margin-right: -20px;
	}

	ul {
		list-style-type: none;
		margin-bottom: 50px;
		margin-left: 0;
		font-size: 0;

		@include max-screen($breakpoint-header) {
			display: none;
		}


		li {
			display: inline-block;
			vertical-align: middle;
			margin-right: 70px;

			&:last-child {
				margin-right: 0;
			}

			@include max-screen($breakpoint-header) {
				display: block;
				margin-right: 0;
			}


			&.is-active,
			&.current-menu-item {

				a {
					text-decoration: none;
					color: $color-secondary-2;

					@include max-screen($breakpoint-header) {
						background-color: #574d73;
						color: #fff;
					}

					&:before {
						display: block;
						margin-left: 10px;

						@include max-screen($breakpoint-header) {
							display: none;
						}

					}
				}
			}
		}

		a {
			font-size: 17px;
			font-weight: 500;
			color: #8b909f;
			position: relative;
			display: inline-block;

			@include max-screen($breakpoint-header) {
				display: block;
				background-color: #4e436b;
				color: #fff;
				padding: 20px;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-weight: 500;
				font-size: 13px;
				position: relative;
				border-bottom: 1px solid rgba(#fff, .1);
			}

			&:hover {
				text-decoration: none;
				color: $color-secondary-2;

				@include max-screen($breakpoint-header) {
					color: #fff;
					background-color: #574d73;
				}
			}

			&:before {
				content: '';
				position: absolute;
				display: none;
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				width: 30px;
				height: 2px;
				background-color: $color-secondary-2;
			}
		}
	}

}

	.nav-secondary__active,
	.nav-steps__active {
		display: block;
		color: #fff;
		padding: 20px;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-weight: 500;
		font-size: 13px;
		position: relative;


		&:hover {
			text-decoration: none;
		}

		&.opened {

			&:before {
				transform: rotateX(0deg);
			}
		}

		&:before {
			content: url('images/arrow-submenu.png');
			display: inline-block;
			position: absolute;
			right: 30px;
			transform: rotateX(-180deg);
			transition: all .3s ease;

		}

		@include min-screen($breakpoint-header + 1) {
			display: none;
		}


	}

	.nav-secondary__active {
		background-color: #4e436b;
		border-bottom: 1px solid rgba(#fff, .1);
	}

	.nav-steps__active {
        background-color: $color-primary;
		border-bottom: 1px solid transparent;
        &.opened {
	        border-bottom: 1px solid rgba(60, 63, 66, 0.1);
        }
    }