/*------------------------------------*\
    #DEFAULT SETTINGS
\*------------------------------------*/

$color-primary:									#5fccf5;
$color-secondary-1:								#4e436b;
$color-secondary-2:								#2d2e2f;
$color-secondary-3:								#f0edf7;


$color-base: 									$color-primary;
// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             rgba(#e1e1e2, 1);
$base-border-radius:                            2px;
$base-font-family:                              'BrandonGrotesque', sans-serif;
$base-font-size:                                17px;
$base-font-weight:                              500;
$base-line-height:                              26px;
$base-link-color:                               blue;
$base-selection-background-color:               rgba(#329bdd, .7);
$base-selection-text-color:                     #fff;
$base-text-color:                               #000;
$base-title-color:                              $color-secondary-2;
$second-title-color:                            #ccc;
$inuit-layout-gutter:							40px;

// Layout
$spacing-unit:                                  $inuit-layout-gutter;
$spacing-unit--small:                           round($inuit-layout-gutter / 2);
$page-max-width:                                1040px;


// Breakpoints
$breakpoint-medium:                             481px;
$breakpoint-large:                              769px;
$breakpoint-extralarge:                         1025px;


// Inuit breakpoints
$breakpoints: (
	"small"    "screen and (max-width: #{$breakpoint-large})",
    "medium"           "screen and (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-large - 1})",
    "medium-and-up"    "screen and (min-width: #{$breakpoint-medium})",
    "large"           "screen and (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-extralarge - 1})",
    "large-and-up"    "screen and (min-width: #{$breakpoint-large})",
    "extralarge-and-up"    "screen and (min-width: #{$breakpoint-extralarge})",
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
);

