/*------------------------------------*\
    #STARTERIZED SETTINGS
\*------------------------------------*/

// Starterized defaults
$starterized-base-background-color:             $base-background-color;
$starterized-base-font-size:                    $base-font-size;
$starterized-base-line-height:                  $base-line-height;
$starterized-base-link-color:                   $base-link-color;
$starterized-base-text-color:                   $base-text-color;


// Tableize
$starterized-enable-tableize--middle:           true;
$starterized-enable-tableize--bottom:           true;
$starterized-enable-tableize--fixed:            true;
$starterized-enable-tableize--full:             true;

$starterized-enable-tableize-row:               false;
