{% extends "./_templates/template.default.html" %}
{% set title = "About" %}
{% set page = "about" %}
{% set about = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>

    <div class="container">
    <ul class="breadcrumbs">
        <li><a href="home.html">Home</a></li>
        <li><a href="javascript:;">About</a></li>
        <li class="is-active"><a href="#">About Ez Docs</a></li>
    </ul>
      {% include "_partials/partial.nav-secondary.html" %}
      <div class="intro">
          <div class="intro__img" style="background-image:url('images/about-us/about-us.jpg');">
              <img src="images/about-us/about-us.jpg" alt="about us" />
          </div><!-- /.intro__img -->
          <div class="intro__text">
              <div class="container container--narrow">
                  <div class="heading-blue">
                      <h1>About EZ Doc</h1>
                  </div><!-- /.heading-blue -->

                  <blockquote class="quote-intro">
                    <p>“The strength of British General Practice is its personal response to a dedicated patient list, its weakness is its failure to develop consistent systems that free up time and resources to devote to improving care for patients” </p>
                    <cite>Simon Stevens, CEO NHS England. (GP Forward View, April 2016)</cite>
                  </blockquote>

                  <hr />

                  <p class="text-highlighted">
                    Reducing GP workload and increasing time available for patient care is now a national imperative. The GP Forward View document states that there is a need to reduce unnecessary practice workload to free up valuable clinical resources. Effective document management can help address some of these challenges.
                  </p>
                  <p>A growing frustration amongst AT Medics staff with the number of documents received and the time it took to process them, led to a review of the business process. The improved model has enabled a 90% reduction in the number of documents that GP’s need to review, thus releasing valuable GP time. </p>

              </div><!-- /.container container--middle -->
          </div><!-- /.intro__text -->
      </div><!-- /.intro -->
    </div>

    {% include "_partials/partial.image-info-panels.html" %}
    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}