{% extends "./_templates/template.default.html" %}
{% set title = "Case Study" %}
{% set page = "page-template-template-case-study" %}
{% set casestudy = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <div class="container">

    {% include "_partials/partial.breadcrumbs.html" %}
    {% include "_partials/partial.nav-secondary.html" %}
    <div class="entry-content">

	    <div class="heading-blue"><h1>AT medics Case study and learning</h1></div>

		<h2>Document receipt and processing</h2>
		<blockquote class="quote-example">
			<h2>AT Medics example </h2>
			<p>
				Findings from an audit of a 12,500 patient practice
			</p>
		</blockquote>
		<p>
			184 documents were received on the day of audit, out of which the majority (65%) were received by post. On average, administrative staff spent 50 seconds processing each document. Most of the remainder were electronic documents and were processed more quickly. These needed to be assigned to individual patient records and then allocated to the clinicians. Documents that were received electronically took an average of 9 seconds/document to be processed.
		</p>
		<h3>Summary findings from analysis of 184 documents</h3>
		<table class="table">
		  	<thead>
		    	<tr>
		      		<th>Routes of receipt</th>
		      		<th>Number</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr>
		      		<td data-th="Item">Patient delivered</td>
		      		<td data-th="Value">6</td>
		    	</tr>
		    	<tr>
		      		<td data-th="Item">Post</td>
		      		<td data-th="Value">120</td>
			    </tr>
		    	<tr>
		      		<td data-th="Item">Fax</td>
		      		<td data-th="Value">10</td>
		    	</tr>
		    	<tr>
		      		<td data-th="Item">Electronic/Email/EDT</td>
		      		<td data-th="Value">48</td>
		    	</tr>
		  	</tbody>
		</table>

		<canvas id="pieChart"></canvas>

		<table class="table">
		  	<thead>
		    	<tr>
		      		<th>Total Admin time/day</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr>
		      		<td data-th="Item">155 min (approx. 50 sec/document)</td>
			    </tr>
		  	</tbody>
		</table>

		<table class="table">
		  	<thead>
		    	<tr>
		      		<th>Paper-post processing steps</th>
		      		<th>time</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr>
		      		<td data-th="Item">1. Collecting post</td>
		      		<td data-th="Value">5 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">2. Opening the post</td>
		      		<td data-th="Value">10 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">3. Date stamping letters</td>
		      		<td data-th="Value">5 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">4. Sorting duplicates</td>
		      		<td data-th="Value">10 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">5. Manually sorting clinical vs non clinical records</td>
		      		<td data-th="Value">20 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">6. Paper inbox for scanning</td>
		      		<td data-th="Value">5 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">7. Scanning (including assigning to patients records)</td>
		      		<td data-th="Value">60 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">8. Assigning to clinicians</td>
		      		<td data-th="Value">30 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">9. Paper outbox for shredding</td>
		      		<td data-th="Value">10 minutes</td>
			    </tr>
			    <tr>
		      		<td data-th="Item">10. Storage</td>
		      		<td data-th="Value"></td>
			    </tr>
		  	</tbody>
		</table>

		<canvas id="barChart"></canvas>

		<blockquote>
			On day of audit, our administrative staff spent a total of 155 minutes processing 184 documents.
		</blockquote>

		<p>A similar analysis table will be produced for your CCG/Federation/Organisation once all the individual spreadsheets have been collated. </p>

		<h2>Document assignment</h2>
		<blockquote class="quote-example">
			<h2>AT Medics example</h2>
			<p>
				Findings from an audit of 184 documents
			</p>
		</blockquote>

		<p>On further analysis of the 184 documents, we found the following types of documents that were being sent to the GP for review:</p>

		<ul>
			<li>Notification of DNA’s</li>
			<li>Diagnostic Procedure letters (colposcopy/smear etc.)</li>
			<li>Confirmation of appointment letters</li>
			<li>Change of address letters</li>
			<li>Letters that need follow up/actions e.g. Blood tests, change in medications, follow up with social care etc.</li>
			<li>Coroners reports</li>
			<li>TWR’s</li>
			<li>Safeguarding concerns</li>
		</ul>

		<p>Up to 50 documents/day were being sent to the GP’s to review. These documents took between 20 seconds and 2 min (average of 70 sec) to review and action. No other practice staff were involved in the review of documents.</p>

		<h2>AT Medics Learning: Key Findings</h2>
		<dl>
			<dt>Increased workload for GP’s. </dt>
			<dd>Audit showed that around 90% of these documents did not need to be sent to the GP for review and could be safely reviewed and actioned by other members of staff.</dd>
			<dt>Documents not dealt with completely</dt>
			<dd>Missed opportunities for formal long term condition follow up e.g: Child admitted to hospital with an exacerbation of asthma, but only the A&E attendance read-coded, not asthma, therefore doctor would have missed recalling the patient for follow up.</dd>
			<dd>Failing to update vital adult or child safeguarding information in the patients’ record.</dd>
			<dt>Inconsistent actioning</dt>
			<dd>No standardised processes allowing letters to be actioned in the same manner:  e.g. DNA’s handled differently by different GP’s</dd>
			<dt>Inefficient use of admin skills and time</dt>
			<dd>Average time per document it took administrative staff to manage documents received through post was significantly greater than electronic documents (50 sec vs 9 sec).</dd>
			<dd>Scanning in duplicate copies of letters e.g. same document received twice through post, or patient delivered letter that had already been sent in post.</dd>
			<dd>Administrative staff could be trained to review and triage letters.</dd>
			<dt>Lack of standardised processes for document handling</dt>
			<dd>No continuity to service and patients</dd>
			<dd>Errors as letters may not get processed appropriately or in a timely manner, and some may fall through gaps</dd>
			<dd>Read coding not standardised</dd>
			<dt>Confidentiality breaches</dt>
			<dd>Especially relevant for faxed documents as the paper may be misplaced and patient information may fall into wrong hands. HSCIC no longer recommends faxed documents.</dd>
		</dl>

		<h1>Post Implementation</h1>
		<h2>AT Medics Learning: Key changes and benefits</h2>
		<p>The following changes to the document handling process were made at AT Medics, which may also be relevant to your practice. This list is by no means exhaustive, and you may have identified other new ways of working through the workshop.</p>

		<h3><strong>STAGE 1.</strong> Document receipt</h3>
		<ul>
			<li>Ask hospital departments that are sending postal documents to send electronically instead</li>
			<li>Discourage fax receipts</li>
			<li>Check for duplicates if patient brings in a copy of their letter to reception</li>
		</ul>

		<h3>Key benefits:</h3>
		<ol>
			<li>Multiple process steps when managing paper documents can be significantly simplified</li>
			<li>Reduced risk of an information breach by misplacing a paper document, or inappropriate shredding</li>
			<li>Staff able to access information more rapidly</li>
		</ol>

	    <canvas id="multilineChart"></canvas>

		<h3><strong>STAGE 2.</strong> Document review (see flow diagrams 1 and 2)</h3>
		<ul>
			<li>GP partners and practice staff to work together and decide how to triage letters and who admin staff should assign letters to</li>
			<li>Admin staff to review and triage all letters</li>
		</ul>

		<h3>Key benefits:</h3>
		<ol>
			<li>Trained staff to scan, review and action letters as necessary e.g.
				<ul>
					<li>A&E/111/OOH attendance letters</li>
					<li>Notification of DNA’s (excluding paediatrics and TWR)</li>
					<li>Confirmation of appointment letters</li>
					<li>Change of address letters</li>
					<li>Physiotherapy discharge letters</li>
					<li>Normal diagnostic/screening results: Smear and Breast results to go to nurse</li>
				</ul>
			</li>
			<li>Improved coding of letters</li>
		</ol>

	</div>
  </div>

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}