{% extends "./_templates/template.default.html" %}
{% set title = "CCG Profile page" %}
{% set page = "user-profile" %}

{% block content %}

  {% include "_partials/partial.header.html" %}

	<div class="member-profile member-profile--ccg">

		<div class="member-profile__first">

			<div class="container">
				<div class="member-profile__content">
					<h2>NHS Lambeth CCG</h2>
				
					<div class="member-profile__info">
						{{icon('icon-user', 'icon-user')}}
						<div>
							<h4>Edward Simmons</h4>
							<small>Clinical governance lead</small>
						</div>
					</div>
				
					<div class="member-profile__info">
						{{icon('icon-user', 'icon-user')}}
						<div>
							<h4>John Morris</h4>
							<small>Implementation lead</small>
						</div>
					</div>
				
					<div class="member-profile__info">
						{{icon('icon-calendar2', 'icon-calendar2')}}
						<div>
							<h4>10/06/2016</h4>
							<small>Date of implementation</small>
						</div>
					</div>
				</div>
			</div><!-- end of .container -->

		</div><!-- end of .member-profile__first -->

	</div><!-- end of .member-profile -->

	<div class="container">
		<div class="profile-content">
			<div class="entry-content">
				<h3>Memebers</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Member</th>
							<th>Status</th>
							<th>Lead</th>
							<th>Contact</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Member"><a href="javascript:;">Silverlock Medical Centre</a></td>
							<td data-th="Status" class="is-completed"></td>
							<td data-th="Lead">Frances Simmons</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="Member"><a href="javascript:;">The Hambleden Clinic</a></td>
							<td data-th="Status" class="not-completed"></td>
							<td data-th="Lead">Ronald Young</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="Member"><a href="javascript:;">Queens Road Surgery</a></td>
							<td data-th="Status" class="not-completed"></td>
							<td data-th="Lead">Julie Bailey</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="Member"><a href="javascript:;">Mitchison Road Surgery</a></td>
							<td data-th="Status" class="is-completed"></td>
							<td data-th="Lead">Daniel Moore</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="Member"><a href="javascript:;">Cassidy Medical Centre</a></td>
							<td data-th="Status" class="is-completed"></td>
							<td data-th="Lead">Albert Martinez</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="Member"><a href="javascript:;">Edith Cavell Surgery</a></td>
							<td data-th="Status" class="is-completed"></td>
							<td data-th="Lead">Diana Green</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table -->

				<h3>Legend</h3>
				<ul>
					<li class="is-completed">Audit for this week is finished</li>
					<li class="not-completed">Audit for this week is not finished</li>
				</ul>
			</div>
			<!-- /.entry-content -->
		</div><!-- /.profile-content -->
	</div>
	<!-- /.container -->

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}