{% extends "./_templates/template.default.html" %}
{% set title = "Contact us" %}
{% set page = "contact" %}
{% set contact = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>

    <div class="container">
      {% include "_partials/partial.breadcrumbs.html" %}
      {% include "_partials/partial.nav-secondary.html" %}
       <div class="map">
            <div id="map"></div><!-- /#map -->
            <div class="container container--narrow">
                <div class="heading-blue">
                    <h1>Contact us</h1>
                </div>
            {% include "_partials/partial.contact-form.html" %}
            </div><!-- /.container container--narrow -->
        </div><!-- /.map -->
    </div>

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}