{% extends "./_templates/template.styleguide.html" %}
{%- set styleguide = true %}
{% set title = "FAQs" %}
{% set page = "page-template-template-fags" %}
{% set faq = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <div class="container">

    {% include "_partials/partial.breadcrumbs.html" %}
    {% include "_partials/partial.nav-secondary.html" %}

    <div class="faq__hero">
      <img src="images/help.svg" class="icon-help">
      <div class="heading-blue"><h1>Frequently Asked Questions</h1></div>
      <p>Click for details</p>
    </div>

    <div class="accordion">
        <div class="accordion__item is-active">
          <h2 class="accordion__item-title">
              <a href="">Have you delivered this in any non-AT Medics practice? Does it work outside AT Medics?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>No, but we have delivered this in surgeries where we have been running for just 4 weeks, with previously poor admin systems eg Chestnuts Park Surgery in Haringey, illustrating how even a surgery with very little skilled staff can implement the product within 1-2 weeks and have similar impact to that of a site already within AT Medics for some time.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Is this product/model registered with CQC?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>Only services require registrations with CQC (not products), but we have been visited by CQC in numerous practices and each time we mention the innovation, it has been commended highly as an outstanding feature. We have achieved three “Outstanding” CQC ratings which in some part is due to processes such as our Document Handling.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Have you got this product endorsed by the MPS/MDU?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>We are in the process of doing so, and we know that we have improved an unsafe process and made it markedly better. MPS has commented very highly on our EZ-Doc.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Have any commissioners provided their view on the product?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>Dr Robert Varnum, Head of General Practice Development at NHS England visited us and has particularly commented on this process – this led to NHS England capturing a summary of our innovation in a video to share with GP practices nationally for inspiration.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Can we come and see the process?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>Yes. We can organise this for a limited number of people.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">What does a practice (CCG/Fed) receive for ongoing subscription?</a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>Continued access to all tools on the site – audit tool, dashboard, support from AT Medics, we may negotiate top-up workshops depending upon scale of signup</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">What would they miss if they chose not to pay the annual subscription? </a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>Access to the audit tool and dashboard will be limited ie, AT Medics would not analyse audit data and would not update performance trends. Also would not get any new updates to the product. Also miss out on subsidy for subsequent products.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Would they no longer have access to the audit tool?  </a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>(And if not, does this affect their ability to check on their own progress and continue learning?) – practices will be able to download their data, but the dashboard will not be available.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">Would that affect their MDU/MPS status? </a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>No.</p>
          </div>
        </div>
        <div class="accordion__item">
          <h2 class="accordion__item-title">
              <a href="">You also suggested you could give advice to low performers as you host the audit database. What is the nature of this advice? </a>
              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
          </h2>
          <div class="accordion__item-content">
            <p>We would undertake performance analysis through our BI function, and then provide qualitative feedback with specific steps and guidance for improvement.</p>
          </div>
        </div>

    </div>

  </div>

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}