{% extends "./_templates/template.default.html" %}
{% set title = "General Admin Profile page" %}
{% set page = "user-profile" %}

{% block content %}

  {% include "_partials/partial.header.html" %}

	<div class="member-profile member-profile--admin">

		<div class="member-profile__first">

			<div class="container">
				<div class="member-profile__content">
					<h2>General Admin</h2>
				</div>
			</div><!-- end of .container -->

		</div><!-- end of .member-profile__first -->

	</div><!-- end of .member-profile -->

	<div class="container">
		<div class="profile-content">
			<div class="entry-content">
				<h3>CCGs</h3>
				<table class="table">
					<thead>
						<tr>
							<th>CCG</th>
							<th>Lead</th>
							<th>Contact</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="CCG"><a href="javascript:;">NHS Lambeth CCG</a></td>
							<td data-th="Lead">Frances Simmons</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="CCG"><a href="javascript:;">Name of CCG</a></td>
							<td data-th="Lead">Ronald Young</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="CCG"><a href="javascript:;">Name of CCG</a></td>
							<td data-th="Lead">Julie Bailey</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="CCG"><a href="javascript:;">Name of CCG</a></td>
							<td data-th="Lead">Daniel Moore</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="CCG"><a href="javascript:;">Name of CCG</a></td>
							<td data-th="Lead">Albert Martinez</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
						<tr>
							<td data-th="CCG"><a href="javascript:;">Name of CCG</a></td>
							<td data-th="Lead">Diana Green</td>
							<td data-th="Contact">name@email.com</td>
						</tr>
					</tbody>
				</table>
				<!-- /.table -->
			</div>
			<!-- /.entry-content -->
		</div><!-- /.profile-content -->
	</div>
	<!-- /.container -->

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}