{% extends "./_templates/template.default.html" %}
{% set title = "Get started" %}
{% set page = "page-template-template-get-started" %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
     {% include "_partials/partial.steps.html" %}

    <section class="intro-steps">
      <div class="container">
      <h1>AT Medics Document Management Toolkit </h1>
      <blockquote class="quote-intro">
        <p>The <strong>5 step process</strong> is designed to guide you through the EZ Doc journey from understanding your current processes and challenges, through to implementing the new process and embedding it within your culture.  </p>
    </blockquote>

      </div>
    </section><!-- /.intro-steps -->

    {% include "_partials/partial.management-flow.html" %}

    <section class="steps entry-content">
      <div class="container">
        <div class="steps__list">
            <div class="layout">
                <div class="layout__item large-and-up-5/12">
                    <picture>
                        <source srcset="images/step1.jpg, images/step1-retina.jpg 2x">
                        <img srcset="images/step1.jpg, images/step1-retina.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="layout__item large-and-up-7/12">
                    <span>Step one</span>
                    <h2>Understanding current practice</h2>
                    <p>Completing theAT Medics template will enable you to identify all routes of document receipt, the actual process and how the documents are assigned in your practice. Understanding where the inefficiencies lie and what the challenges are vital tore-designing the pathway. </p>
                    <a href="step-one.html" class="read-more">Learn more</a><!-- /.read-more -->
                </div>
            </div>
        </div><!-- /.steps__list -->
        <div class="steps__list">
            <div class="layout">
                <div class="layout__item large-and-up-5/12">
                    <picture>
                        <source srcset="images/step2.jpg, images/step2-retina.jpg 2x">
                        <img srcset="images/step2.jpg, images/step2-retina.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="layout__item large-and-up-7/12">
                    <span>Step two</span>
                    <h2>Co-Design new model of working</h2>
                    <p>After understanding your current process, clinicians and practice managers will need to identify steps intheprocess that are necessary and should be kept as well as those that could be removed. The AT medics EZ Doc template will suggest a new document assignment process, which can then be localised to meet your organisation’s needs.</p>
                    <a href="step-two.html" class="read-more">Learn more</a><!-- /.read-more -->
                </div>
            </div>
        </div><!-- /.steps__list -->
        <div class="steps__list">
            <div class="layout">
                <div class="layout__item large-and-up-5/12">
                    <picture>
                        <source srcset="images/step3.jpg, images/step3-retina.jpg 2x">
                        <img srcset="images/step3.jpg, images/step3-retina.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="layout__item large-and-up-7/12">
                    <span>Step three</span>
                    <h2>Training</h2>
                    <p>To ensure that the model is successful and sustainable, we have developed a thorough training programme that will be based on a practical workshop and E-video based learning. Atthe end ofthe training all staff will complete an assessment. The key learning points are:</p>
                    <ul>
                        <li>Understanding why effective document management is important nationally</li>
                        <li>Understanding read coding</li>
                        <li>Understanding EZ Doc model and how to triage documents</li>
                        <li> Interactive session where administrative staff will practice using localised EZ Doc model to triage documents</li>
                    </ul>
                    <p>It is advisable to refresh the training every 6 months. </p>
                </div>
            </div>
        </div><!-- /.steps__list -->
        <div class="steps__list">
            <div class="layout">
                <div class="layout__item large-and-up-5/12">
                    <picture>
                        <source srcset="images/step4.jpg, images/step4-retina.jpg 2x">
                        <img srcset="images/step4.jpg, images/step4-retina.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="layout__item large-and-up-7/12">
                    <span>Step four</span>
                    <h2>Implement</h2>
                    <p>Successfully embedding a new way of working relies on a good implementation strategy. The new model will change the manner in which individuals will work, including renewing processes and policies. The implementation plan guides you through all the steps that will allow the change tobe introduced and sustained over time. </p>
                </div>
            </div>
        </div><!-- /.steps__list -->
        <div class="steps__list">
            <div class="layout">
                <div class="layout__item large-and-up-5/12">
                    <picture>
                        <source srcset="images/step5.jpg, images/step5-retina.jpg 2x">
                        <img srcset="images/step5.jpg, images/step5-retina.jpg 2x" alt="">
                    </picture>
                </div>
                <div class="layout__item large-and-up-7/12">
                    <span>Step five</span>
                    <h2>Audit</h2>
                    <p>In order to ascertain the effectiveness ofthe model, each organisation will be asked to complete a weekly audit for the first month. The frequency of audits thereafter can be determined and agreed locally. Key performance indicators: </p>
                    <ul>
                        <li>Number of documents received via each route (post, fax, EDT, electronic, patient delivered)</li>
                        <li>Number of documents workflowed toGP’s</li>
                        <li>Number of duplicates removed</li>
                        <li>Number of documents incorrectly filed</li>
                        <li>Accuracy of read-coding</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.steps__list -->
        <div class="text-center">
            <a href="step-one.html" class="btn btn--primary btn--secondary">Start now</a>
        </div><!-- end of .text-center -->
      </div><!-- /.container -->
    </section><!-- /.steps -->
    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}