{% extends "./_templates/template.default.html" %}
{% set title = "Home page" %}
{% set page = "home" %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>

    {% include "_partials/partial.hero-slider.html" %}

    <section class="who-we-are">
        <div class="container container--narrow">
            <h2>Who we are</h2>
            <p>AT Medics was established in 2004 and is a leading GP provider of quality primary healthcare services in London. We have 26 practices spread across 13 CCG’s, and care for 140000 patients. 3 of our practices have been awarded an “outstanding” rating by the CQC, and eight practices have achieved the RCGP Quality Practice Award. </p>
        </div><!-- end of .container container--narrow -->

        <div class="who-we-are__panel">
            <div class="container">
              <div class="layout layout--middle">
                  <div class="layout__item large-and-up-1/2 text-center">
                    <picture>
                        <source srcset="images/home-1.png, images/home-1-retina.png 2x">
                        <img srcset="images/home-1.png, images/home-1-retina.png 2x" alt="get involved" />
                    </picture>
                  </div>
                  <div class="layout__item large-and-up-1/2">
                      <h2>Get involved</h2>
                      <p>Becoming a member oftheAT Medics EZ group will give you the opportunity to introduce innovative, safe and efficient ways of working within your organisation. This will be a platform for you to share and learn from each other’s experiences.</p>
                      <a href="javascript:;" class="read-more">Learn more</a>
                  </div>
              </div>
            </div><!-- end of .container -->

            <div class="container">
                <div class="layout layout--middle layout--rev">
                  <div class="layout__item large-and-up-1/2 text-center">
                       <picture>
                            <source srcset="images/home-2.png, images/home-2-retina.png 2x">
                            <img srcset="images/home-2.png, images/home-2-retina.png 2x" alt="how it works" />
                        </picture>
                  </div>
                  <div class="layout__item large-and-up-1/2">
                       <h2>How it Works</h2>
                      <p>You can register interest by <a href="#open-signup" class="js-login-popup sign-up">signing up.</a> You will then be given a unique access code that will allow you to begin using EZ Docs. EZ Docs is a 5 step process, and you will be guided through each step. If there are any difficulties, we have a support team available 9-5 Monday to Friday.</p>
                      <a href="how-it-works.html" class="read-more">Learn more</a>
                  </div>
                </div>
            </div><!-- end of .container -->

            <div class="container">
                <div class="layout layout--middle">
                  <div class="layout__item large-and-up-1/2 text-center">
                       <picture>
                            <source srcset="images/home-3.png, images/home-3-retina.png 2x">
                            <img srcset="images/home-3.png, images/home-3-retina.png 2x" alt="get involved" />
                        </picture>
                  </div>
                  <div class="layout__item large-and-up-1/2">
                      <h2>Get started</h2>
                      <p>If you have already signed up to use EZ Docs, click below to begin.  </p>
                      <a href="get-started.html" class="read-more">Start now</a>
                  </div>
              </div>
            </div><!-- end of .container -->

        </div>
    </section>

    <section class="animation-element">
         {% include "_partials/partial.flex-grid.html" %}
    </section>

    <section class="members-home">
         <div class="container container--narrow">
            <h2>Our Members</h2>
            <p>Duis a sem sed sem tempor placerat nec vel nisi. Sed in lobortis dui. Ut sed interdum diam. Proin semper velit vel tortor rhoncus, vel pulvinar neque ullamcorper. </p>
        </div><!-- end of .container container--middle -->
        <div class="container">
             {% include "_partials/partial.members-home.html" %}
        </div><!-- end of .container -->
    </section>

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}