{% extends "./_templates/template.default.html" %}
{% set title = "How It Works" %}
{% set page = "how-it-works" %}
{% set howitworks = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

<div class="container">
    {% include "_partials/partial.breadcrumbs.html" %}
    {% include "_partials/partial.nav-secondary.html" %}
    <div class="intro">
    <div class="intro__video">
        <div class="video-object video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
            <a href="javascript:;" class="js-video-play video-thumb" style="background-image:url(images/video-img.jpg);">
                <img src="images/video-img.jpg" alt="video" />
                <div class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </div>
            </a>
        </div><!-- /.video-object -->
    </div><!-- /.intro__video -->
    <div id="animate-text" class="intro__text">
        <div class="container container--narrow">
            <div class="heading-blue">
                <h1>How it works</h1>
            </div><!-- /.heading-blue -->
            <p class="text-highlighted">AT Medics have developed an innovative method of managing documents that has consistently proven to reduce GP administrative workload by up to 90%. The administrative staff are the first point of contact for all GP correspondence. </p>
        </div><!-- /.container container--middle -->
    </div><!-- /.intro__text -->
</div><!-- /.intro -->

<div class="container container--middle">
    <div class="number-info-panel-wrap">
        <div class="number-info-panel">
            <div class="layout layout--middle">
                <div class="layout__item large-and-up-1/2 text-center">
                    <picture>
                        <source srcset="images/how-it-works/hiw-1.png, images/how-it-works/hiw-1-retina.png 2x">
                        <img srcset="images/how-it-works/hiw-1.png, images/how-it-works/hiw-1-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-1/2">
                    <h2>The 5 step process</h2>
                    <div class="entry-content">
                        <ol>
                            <li>Understanding your current document management process</li>
                            <li>Help you develop a more efficient method using the EZ Docs document assignment protocol as a guide</li>
                            <li>Train your administrative staff through our E-videos, interactive practical session </li>
                            <li>Implement the new methodology within your organisation with the 8 week suggested plan</li>
                            <li>Audit the safety, efficacy and performance of the new system through the online audit tool</li>
                        </ol>
                    </div><!-- /.entry-content -->
                </div>
            </div>
            <div class="layout layout--middle layout--rev">
                <div class="layout__item large-and-up-1/2 text-center">
                     <picture>
                        <source srcset="images/how-it-works/hiw-2.png, images/how-it-works/hiw-2-retina.png 2x">
                        <img srcset="images/how-it-works/hiw-2.png, images/how-it-works/hiw-2-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-1/2">
                    <h2>AT Medics Support</h2>
                    <p>AT Medics will provide technical and practical support from 8am to 5 pm Monday to Friday.</p>
                </div>
            </div>
            <div class="layout layout--middle">
                <div class="layout__item large-and-up-1/2 text-center">
                     <picture>
                        <source srcset="images/how-it-works/hiw-3.png, images/how-it-works/hiw-3-retina.png 2x">
                        <img srcset="images/how-it-works/hiw-3.png, images/how-it-works/hiw-3-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-1/2">
                    <h2>Become a member of the EZ group</h2>
                    <p>Being a part of EZ Group will allow you to share and learn from each other’s experiences. You can track your performance and compare practices within an organisation through the dashboard. Being a member also gives you the opportunity to access some of the other EZ innovations. </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}