{% extends "./_templates/template.default.html" %}
{% set title = "Profile page" %}
{% set page = "user-profile" %}

{% block content %}

  {% include "_partials/partial.header.html" %}

	<div class="member-profile member-profile--user">

		<div class="member-profile__first">

			<div class="member-profile__content">
				<h2>Streatham Place Surgery</h2>

				<div class="member-profile__info">
					{{icon('icon-user', 'icon-user')}}
					<div>
						<h4>Dennis Wilson</h4>
						<small>Clinical audit lead</small>
					</div>
				</div>

				<div class="member-profile__info">
					{{icon('icon-user', 'icon-user')}}
					<div>
						<h4>Shawn Alexander</h4>
						<small>Document admin lead</small>
					</div>
				</div>

				<div class="member-profile__info">
					{{icon('icon-frequency', 'icon-frequency')}}
					<div>
						<h4>Weekly</h4>
						<small>Frequency of audit</small>
					</div>
				</div>
			</div>

		</div><!-- end of .member-profile__first -->


		<div class="member-profile__second">
			<h2>NHS Lambeth CCG</h2>

			<div class="member-profile__info">
				<h4>10/06/2016</h4>
				<small>Date of implementation</small>
			</div>
			<div class="member-profile__info">
				<h4>Edward Simmons</h4>
				<small>Clinical governance lead</small>
			</div>
			<div class="member-profile__info">
				<h4>John Morris</h4>
				<small>Implementation lead</small>
			</div>
		</div><!-- end of .member-profile__second -->
	</div><!-- end of .member-profile -->

	<div class="member-data">
		<div class="tabs">
		    <div class="member-data__nav">
		    	<div class="container">
		    		<ul class="tabs__nav">
		    		    <li><a href="#tab-1" class='is-active'>Weekly Audith</a></li>
		    		    <li><a href="#tab-2">Archive</a></li>
		    		    <li><a href="#tab-3">Statistics</a></li>
		    		</ul>
		    		<a href="" class="btn btn--primary btn--secondary">Create new audit</a>
		    	</div><!-- end of .container -->
		    </div><!-- end of .member-data__nav -->
		    <div class="container">
		    	<div id="tab-1" class="tabs__item">
					<div class="member-data__form-info">
						<p>Number of documents received</p>
						<p>3. Octobar - 9. Octobar 2016</p>
					</div><!-- end of .member-data__form-info -->
		        	<form action="" method="">
                        <table class="table-workflow">
                            <tr class="thead">
                              <td>Document</td>
                              <td>Monday</td>
                              <td>Tuesday</td>
                              <td>Wednesday</td>
                              <td>Thursday</td>
                              <td>Friday</td>
                              <td>Average</td>
                            </tr>
                            <tr>
                                <td>Fax</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>EDT</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Electronic/practice email</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Patient delivered</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Post</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr class="bold">
                                <td>TOTAL</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
		        	</form>
		        	<div class="member-data__form-info">
						<p>Time efficiency</p>
					</div><!-- end of .member-data__form-info -->
		        	<form action="" method="">
                        <table class="table-workflow">
                            <tr class="thead">
                              <td>statistics</td>
                              <td>Monday</td>
                              <td>Tuesday</td>
                              <td>Wednesday</td>
                              <td>Thursday</td>
                              <td>Friday</td>
                              <td>Average</td>
                            </tr>
                            <tr>
                                <td>Number of duplicates removed</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>Number of documents workflowed to doctors</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>% Documents workflowed to doctors</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>Admin time taken to process documents (min/day)</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>Collective GP time spent on admin (min/day)</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                        </table>
		        	</form>
		        	<div class="member-data__form-info">
						<p>Assess training<span>Sample all documents from one day of this week that were not workflowed to doctors</span></p>
					</div><!-- end of .member-data__form-info -->
		        	<form action="" method="">
                        <table class="table-workflow table-workflow--training">
                            <tr class="thead">
                              <td>training</td>
                              <td>one day</td>
                              <td>Average</td>
                            </tr>
                            <tr>
                                <td>Number of duplicates removed</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>Number of documents workflowed to doctors</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>% Documents workflowed to doctors</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                            <tr>
                                <td>Admin time taken to process documents (min/day)</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            <tr>
                                <td>Collective GP time spent on admin (min/day)</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                            </tr>
                        </table>
		        	</form>
		        	<div class="member-data__form-info">
						<p>Assess read coding<span>Take a further sample of 5 documents from above to audit</span></p>
					</div><!-- end of .member-data__form-info -->
		        	<form action="" method="">
                        <table class="table-workflow">
                            <tr class="thead">
                              <td>Document</td>
                              <td>Monday</td>
                              <td>Tuesday</td>
                              <td>Wednesday</td>
                              <td>Thursday</td>
                              <td>Friday</td>
                              <td>Average</td>
                            </tr>
                            <tr>
                                <td>Fax</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>EDT</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Electronic/practice email</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Patient delivered</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr>
                                <td>Post</td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td><input type="text" class="input input--audit" /></td>
                                <td class="bold"></td>
                            </tr>
                            <tr class="bold">
                                <td>TOTAL</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
		        	</form>
		        	<a href="javascript:;" class="btn btn--primary btn--secondary">Update Audit</a>
			    </div>
			    <div id="tab-2" class="tabs__item">
			    	<div class="accordion">

				        <div class="accordion__item is-active">
				          <h2 class="accordion__item-title">
				              <a href="">26. September - 2. October 2016 <span class="not-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				        	<div class="member-data__form-info">
								<p>Time efficiency</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>statistics</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Number of duplicates removed</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>Number of documents workflowed to doctors</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>% Documents workflowed to doctors</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>Admin time taken to process documents (min/day)</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>Collective GP time spent on admin (min/day)</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                        </table>
				        	</form>
				        	<div class="member-data__form-info">
								<p>Assess training<span>Sample all documents from one day of this week that were not workflowed to doctors</span></p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow table-workflow--training">
		                            <tr class="thead">
		                              <td>training</td>
		                              <td>one day</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Number of duplicates removed</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>Number of documents workflowed to doctors</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>% Documents workflowed to doctors</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                            <tr>
		                                <td>Admin time taken to process documents (min/day)</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            <tr>
		                                <td>Collective GP time spent on admin (min/day)</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                            </tr>
		                        </table>
				        	</form>
				        	<div class="member-data__form-info">
								<p>Assess read coding<span>Take a further sample of 5 documents from above to audit</span></p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				        	<a href="javascript:;" class="btn btn--primary btn--secondary">Update Audit</a>
				          </div>
				        </div>
						<div class="accordion__item">
				          <h2 class="accordion__item-title">
				              <a href="">26. September - 2. October 2016 <span class="is-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				          </div>
				        </div>
				        <div class="accordion__item">
				          <h2 class="accordion__item-title">
				              <a href="">19. September - 25. September 2016 <span class="is-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				          </div>
				        </div>
				        <div class="accordion__item">
				          <h2 class="accordion__item-title">
				              <a href="">12. September - 18. September 2016 <span class="is-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				          </div>
				        </div>
				        <div class="accordion__item">
				          <h2 class="accordion__item-title">
				              <a href="">5. September - 11. September 2016 <span class="is-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				          </div>
				        </div>
				        <div class="accordion__item">
				          <h2 class="accordion__item-title">
				              <a href="">29. August - 4. September 2016 <span class="is-completed">Audit for this week is not finished</span></a>
				              <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
				          </h2>
				          <div class="accordion__item-content">
				            <div class="member-data__form-info">
								<p>Number of documents received</p>
							</div><!-- end of .member-data__form-info -->
				        	<form action="" method="">
		                        <table class="table-workflow">
		                            <tr class="thead">
		                              <td>Document</td>
		                              <td>Monday</td>
		                              <td>Tuesday</td>
		                              <td>Wednesday</td>
		                              <td>Thursday</td>
		                              <td>Friday</td>
		                              <td>Average</td>
		                            </tr>
		                            <tr>
		                                <td>Fax</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>EDT</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Electronic/practice email</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Patient delivered</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr>
		                                <td>Post</td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td><input type="text" class="input input--audit" /></td>
		                                <td class="bold"></td>
		                            </tr>
		                            <tr class="bold">
		                                <td>TOTAL</td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                                <td></td>
		                            </tr>
		                        </table>
				        	</form>
				          </div>
				        </div>
			
				    </div>
			    </div>
			    <div id="tab-3" class="tabs__item">
			    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam odit voluptas ipsam voluptatum id ratione eius dolorem aperiam incidunt aut, voluptatem suscipit. Iste rem ab eveniet perferendis ipsam nobis voluptatibus.
			    </div>
		    </div><!-- end of .container -->
		</div><!-- end of .tabs -->
	</div><!-- end of .member-data -->

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}