{% extends "./_templates/template.default.html" %}
{% set title = "Our Team" %}
{% set page = "our-team" %}
{% set team = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <div class="container">

    {% include "_partials/partial.breadcrumbs.html" %}
    {% include "_partials/partial.nav-secondary.html" %}

    <div class="heading-blue"><h1>Our Team</h1></div>

    {% include "_partials/partial.thumbs-slider.html" %}

  </div>

  {% include "_partials/partial.subscription.html" %}
  {% include "_partials/partial.footer.html" %}
{% endblock %}