{% extends "./_templates/template.default.html" %}
{% set title = "Our members" %}
{% set page = "our-members page-template-template-members" %}
{% set members = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

   <main>

        <div class="container">

            {% include "_partials/partial.breadcrumbs.html" %}
            {% include "_partials/partial.nav-secondary.html" %}

            <div class="heading-blue">
                <h1>Our members</h1>
            </div>

            <p class="text-highlighted">Nullam congue, sem id dictum elementum, tellus mauris ultricies quam, vitae egestas erat sapien eu nulla. In suscipit et quam ac mollis. Sed ultrices tellus ex, vel faucibus tellus ultricies nec.</p>

            {% include "_partials/partial.members-1.html" %}

            <div class="text-center">
                {% include "_partials/partial.pagination.html" %}
            </div>

        </div>

        {% include "_partials/partial.subscription.html" %}
    </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}