{% extends "./_templates/template.default.html" %}
{% set title = "Resources" %}
{% set page = "resources" %}

{% block content %}

    {% include "_partials/partial.header.html" %}

    <main>

        <div class="container">

            {% include "_partials/partial.breadcrumbs.html" %}

            <div class="heading-blue">
                <h1>Resources</h1>
            </div>

            <p class="text-highlighted">Nullam congue, sem id dictum elementum, tellus mauris ultricies quam, vitae egestas erat sapien eu nulla. In suscipit et quam ac mollis. Sed ultrices tellus ex, vel faucibus tellus ultricies nec.</p>

            {% include "_partials/partial.tabs.html" %}

            <div class="text-center">
                {% include "_partials/partial.pagination.html" %}
            </div>

        </div>

        {% include "_partials/partial.subscription.html" %}
    </main>

    {% include "_partials/partial.footer.html" %}
{% endblock %}