]{% extends "./_templates/template.default.html" %}
{% set title = "Step Two" %}
{% set page = "page-template-template-steps" %}
{% set addClass ="five-steps" %}
{% set step2 = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
   {% include "_partials/partial.steps.html" %}
    <div class="container">
        <div class="page-content">
            <aside class="sidebar">
                <div class="sidebar__list">
                    <h4>Check list</h4>
                    <form action="" method="post">
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk1" name="chk1" />
                            <label for="chk1"><span><b></b></span>Identify key processes in pathway, removal of unnecessary steps</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk2" name="chk2" disabled />
                            <label for="chk2"><span><b></b></span>Identify how letters would be assigned and to whom</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk2" name="chk3" disabled />
                            <label for="chk3"><span><b></b></span>Workshop Completed</label>
                        </div>
                    </form>
                    <div class="info-popup-wrap">
                        <div class="info-popup">
                            <div class="info-popup__item">
                                {{ icon('icon-info', 'icon-info') }}
                            </div><!-- end of .info-popup__item -->
                            <div class="info-popup__item">
                                <span>You can’t move to next step before completing checklist!</span>
                                <a href="javascript:;" class="btn btn--primary btn--info">ok</a>
                            </div><!-- end of .info-popup__item -->
                        </div><!-- end of .info-popup -->
                    </div><!-- end of .info-popup-wrap -->
                </div><!-- /.sidebar__list -->
            </aside>
            <div class="main-content">
                <h1>Step 2. <span class="text-style-2">Co-design new model of working</span></h1>
                <p class="text-highlighted">
                Once the baseline has been established and agreed, the new model of working should be co-designed. All staff members should receive this training and participate in the workshops. Early engagement and ownership will help facilitate the change process. Please use <a href="javascript:;">EZ Docs</a> and localise to suit your organisation’s needs.
                </p>
                {% include "_partials/partial.three-phases-circles.html" %}
                 <div class="accordion">
                    <div class="accordion__item is-active">
                        <h2 class="accordion__item-title">
                          <a href="">Suggested workshop agenda</a>
                          <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
                        </h2>
                        <div class="accordion__item-content">
                            <table class="table table--editorial">
                               <thead>
                                 <tr>
                                   <th>Time</th>
                                   <th>Suggested workshop agenda</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                   <td data-th="Time">10 min</td>
                                   <td data-th="Suggested agenda">
                                     Intro
                                   </td>
                                 </tr>
                                  <tr>
                                   <td data-th="Time">10 min</td>
                                   <td data-th="Suggested agenda">
                                     EZ Doc Story
                                   </td>
                                 </tr>
                                 <tr>
                                   <td data-th="Time">60 min</td>
                                   <td data-th="Suggested agenda">
                                        <p class="list-title">Audit facts here Overview of toolkit and documentation </p>
                                        <ul>
                                            <li>Explain 5 step process</li>
                                            <li>Discuss process maps, audit tool, dashboard</li>
                                            <li>FAQ’s</li>
                                            <li>Review all videos</li>
                                        </ul>
                                   </td>
                                 </tr>
                                 <tr>
                                   <td data-th="Time">15 min</td>
                                   <td data-th="Suggested agenda">
                                        Break
                                   </td>
                                 </tr>
                                  <tr>
                                   <td data-th="Time">40 min</td>
                                   <td data-th="Suggested agenda">
                                        Audit feedback. EZ Doc standard process preview and localisation exercise
                                   </td>
                                 </tr>
                                  <tr>
                                   <td data-th="Time">20 min</td>
                                   <td data-th="Suggested agenda">
                                        Local sign off and further opportunities ie standardised document delivery from providers
                                   </td>
                                 </tr>
                                  <tr>
                                   <td data-th="Time">20 min</td>
                                   <td data-th="Suggested agenda">
                                        Discuss and agree EZ Doc i.e document assignment
                                   </td>
                                 </tr>
                               </tbody>
                            </table>
                            <p>Please download following documents for the workshop:</p>
                            <div class="documents">
                                <div class="documents__item">
                                  <a href="javascript:;" download>
                                      <img src="images/icon-docs.svg" alt="" class="icon-file" /><span>Amalgamated Current Business Process.docx</span>
                                  </a>
                                </div><!-- /.documents__item -->

                                <div class="documents__item">
                                  <a href="javascript:;" download>
                                      <img src="images/icon-xls.svg" alt="" class="icon-file" /><span>Ez Doc.xls</span>
                                  </a>
                                </div><!-- /.documents__item -->
                            </div><!-- /.documents -->
                        </div>
                    </div>
                </div>

            </div><!-- end of .main-content -->
        </div><!-- end of .page-content -->
        <div class="step-links clearfix">
            <a href="/wp-content/themes/house/step-one.html" class="btn btn--primary btn--secondary-border prev">Prev Step</a>
            <a href="/wp-content/themes/house/step-three.html" class="btn btn--primary btn--secondary-border next">Next Step</a>
        </div>
    </div><!-- end of .container -->

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}