{% extends "./_templates/template.default.html" %}
{% set title = "Step five" %}
{% set page = "page-template-template-steps" %}
{% set addClass ="five-steps" %}
{% set step5 = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
    {% include "_partials/partial.steps.html" %}
    <div class="container">
        <div class="page-content">
            <aside class="sidebar">
                 <div class="sidebar__list">
                    <h4>Check list</h4>
                    <form action="" method="post">
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk1" name="chk1" />
                            <label for="chk1"><span><b></b></span>Submit name, document admin lead, clinical audit lead and frequency of audit</label>
                        </div>
                    </form>
                    <div class="info-popup-wrap">
                        <div class="info-popup">
                            <div class="info-popup__item">
                                {{ icon('icon-info', 'icon-info') }}
                            </div><!-- end of .info-popup__item -->
                            <div class="info-popup__item">
                                <span>You can’t move to next step before completing checklist!</span>
                                <a href="javascript:;" class="btn btn--primary btn--info">ok</a>
                            </div><!-- end of .info-popup__item -->
                        </div><!-- end of .info-popup -->
                    </div><!-- end of .info-popup-wrap -->
                </div><!-- /.sidebar__list -->
            </aside>
            <div class="main-content">
                <h1>Step 5. <span class="text-style-2">Audit</span></h1>
                <div class="entry-content">
                    <h2>The aim of the audit is to measure the following:</h2>
                    <ol>
                          <li>Number of documents received via each route (post, fax, EDT, electronic, patient delivered)</li>
                          <li>Number of documents workflowed to GP’s</li>
                          <li>Number of duplicates removed</li>
                          <li>Number of documents incorrectly filed</li>
                          <li>Accuracy of read-coding</li>
                    </ol>
                    <h2>Process</h2>
                    <ol>
                        <li><strong>Establish baseline date:</strong> Collate all documents from week 1 to ascertain number of documents received via each route.</li>
                        <li><strong>Time efficiency and triaging:</strong> Collate all documents triaged by 2 trained admin staff that have not been sent to the GP. Duplicate documents should be removed before the audit. The documents could be ordered by specialty to make the process faster for the clinician. All the documents should be checked by the clinical audit lead to verify that there was no doctor action. If a document has been incorrectly filed, it should be work flowed to a doctor at that point. Send an anonymised copy of any incorrectly filed document to document admin lead for future training.</li>
                        <li><strong>Read-coding:</strong> Take a random sample of 5 of the documents from part 1 of the audit. Anything that was read coded in this sample should be highlighted. The documents should be checked by the clinical audit lead to verify accurate read coding and patient contact. If a document has been incorrectly read coded then it can be corrected at that point. Send an anonymised copy of any incorrectly coded document to document admin lead for future training.</li>
                    </ol>
                    <form action="">
                       <div class="layout">
                           <div class="layout__item large-and-up-1/2">
                              <input type="text" class="input input--border" placeholder="Michael">
                            </div><!-- /.layout__item -->
                           <div class="layout__item large-and-up-1/2">
                               <input type="text" class="input input--border" placeholder="Document admin lead">
                           </div><!-- /.layout__item -->
                           <div class="layout__item large-and-up-1/2">
                               <input type="text" class="input input--border" placeholder="Clinical Adult lead">
                           </div><!-- /.layout__item -->
                           <div class="layout__item large-and-up-1/2">
                               <select data-custom-class="" data-placeholder='Frequency of audit'>
                                   <option>Option 1</option>
                                   <option>Option 2</option>
                                   <option>Option 3</option>
                                   <option>Option 4</option>
                               </select>
                           </div><!-- /.layout__item -->
                           <div class="layout__item large-and-up-1/2">
                               <input type="submit" value="submit" class="btn btn--primary btn--secondary btn--full" />
                           </div><!-- /.layout__item -->
                       </div><!-- /.layout -->
                    </form>
                </div><!-- end of .entry-content -->
            </div><!-- end of .main-content -->
        </div><!-- end of .page-content -->

        <div class="step-links clearfix">
            <a href="/wp-content/themes/house/step-four.html" class="btn btn--primary btn--secondary-border prev">Prev Step</a>
            <a href="javascript:;" class="btn btn--primary btn--secondary-border next">Finish</a>
        </div>
    </div><!-- end of .container -->

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}