]{% extends "./_templates/template.default.html" %}
{% set title = "Step four" %}
{% set page = "page-template-template-steps" %}
{% set addClass ="five-steps" %}
{% set step4 = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
    {% include "_partials/partial.steps.html" %}
    <div class="container">
        <div class="page-content">
            <aside class="sidebar">
                <div class="sidebar__list">
                    <h4>Check list</h4>
                    <form action="" method="post">
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk1" name="chk1" />
                            <label for="chk1"><span><b></b></span>Submit date of implementation lead & clinical governance lead</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk2" name="chk2"  />
                            <label for="chk2"><span><b></b></span>Download actions and fax log spreadsheet</label>
                        </div>
                    </form>
                    <div class="info-popup-wrap">
                        <div class="info-popup">
                            <div class="info-popup__item">
                                {{ icon('icon-info', 'icon-info') }}
                            </div><!-- end of .info-popup__item -->
                            <div class="info-popup__item">
                                <span>You can’t move to next step before completing checklist!</span>
                                <a href="javascript:;" class="btn btn--primary btn--info">ok</a>
                            </div><!-- end of .info-popup__item -->
                        </div><!-- end of .info-popup -->
                    </div><!-- end of .info-popup-wrap -->
                </div><!-- /.sidebar__list -->
            </aside><!-- end of .sidebar -->
            <div class="main-content">
                <div class="entry-content">
                    <h1>Step 4. <span class="text-style-2">Implementation</span></h1>
                    <p>Successfully embedding a new way of working relies on a good implementation strategy. The new model will change the manner in which individuals will work, including renewing processes and policies. The implementation must address how to safely move from the way it is to the way it needs to be. The change is not stand-alone, it needs to be reinstalled into an existing culture and system.  The implementation plan guides you through all the steps that will allow the change to be introduced and sustained over time.  </p>

                    <div class="week-plan">
                      <h2>Suggested 6 week implementation plan </h2>

                      <form action="" method="post">
                          <div class="layout">
                              <div class="layout__item large-and-up-1/2">
                                  <input type="text" class="input input--border" value="NHS Lambeth CCG">
                              </div><!-- /.layout__item -->
                              <div class="layout__item large-and-up-1/2">
                                  <input type="text" class="input input--border" value="Streatham High Practice">
                              </div><!-- /.layout__item -->
                              <div class="layout__item large-and-up-1/2">
                                <div class="datepicker-wrap">
                                      <input class="input input--border datepicker" placeholder="Date of implementation" type="text">
                                      {{icon('icon-calendar', 'icon-calendar')}}
                                  </div><!-- /.datepicker-wrap -->
                              </div><!-- /.layout__item -->
                              <div class="layout__item large-and-up-1/2">
                                  <input type="text" class="input input--border" placeholder="Implementation lead">
                              </div><!-- /.layout__item -->
                              <div class="layout__item large-and-up-1/2">
                                   <input type="text" class="input input--border" placeholder="Clinical governance lead">
                              </div><!-- /.layout__item -->
                               <div class="layout__item large-and-up-1/2">
                                   <input type="submit" value="submit" class="btn btn--primary btn--secondary btn--full" />
                              </div><!-- /.layout__item -->
                          </div><!-- /.layout -->
                       </form>
                    </div>

                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip:</p>

                   <div class="documents documents--steps">
                        <div class="documents__item">
                            <div class="flag flag--flush">
                                <div class="flag__img">
                                    <img src="images/icon-xls.svg" alt="" class="icon-file" />
                                </div><!-- /.flag__img -->
                                <div class="flag__body">
                                    <h3>Suggested Implementation Plan</h3>
                                    <span>Download <b>Actions</b> spreadsheet</span>
                                </div><!-- /.flag__body -->
                            </div><!-- /.flag -->

                            <a href="javascript:;" class="btn btn--primary btn--secondary-border" download>Download document</a>
                        </div>

                        <div class="step-box">
                            <p>If you have changed thise documents to meet your needs then please upload the modified version. This step is optional.</p>

                            <button class="btn btn--primary btn--secondary" >Upload documents</button>

                            <!-- We must use this code for upload-->
                            <!-- <form action="demo_form.asp">
                              Upload documents: <input type="file" name="documents" multiple>
                              <input type="submit">
                            </form> -->
                        </div>

                    </div>
                </div><!-- end of .entry-content -->
            </div><!-- end of .main-content -->
        </div><!-- end of .page-content -->

        <div class="step-links clearfix">
            <a href="/wp-content/themes/house/step-three.html" class="btn btn--primary btn--secondary-border prev">Prev Step</a>
            <a href="/wp-content/themes/house/step-five.html" class="btn btn--primary btn--secondary-border next">Next Step</a>
        </div>
    </div><!-- end of .container -->

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}