]{% extends "./_templates/template.default.html" %}
{% set title = "Step one" %}
{% set page = "page-template-template-steps" %}
{% set addClass ="five-steps" %}
{% set step1 = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
   {% include "_partials/partial.steps.html" %}
    <div class="container">
        <div class="page-content">
             <aside class="sidebar">
                <div class="sidebar__list">
                    <h4>Check list</h4>
                    <form action="" method="post">
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk1" name="chk1" />
                            <label for="chk1"><span><b></b></span>Complete pre-workshop process map</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk2" name="chk2" disabled />
                            <label for="chk2"><span><b></b></span>Book Workshop</label>
                        </div>
                    </form>
                    <div class="info-popup-wrap">
                        <div class="info-popup">
                            <div class="info-popup__item">
                                {{ icon('icon-info', 'icon-info') }}
                            </div><!-- end of .info-popup__item -->
                            <div class="info-popup__item">
                                <span>You can’t move to next step before completing checklist!</span>
                                <a href="javascript:;" class="btn btn--primary btn--info">ok</a>
                            </div><!-- end of .info-popup__item -->
                        </div><!-- end of .info-popup -->
                    </div><!-- end of .info-popup-wrap -->
                </div><!-- /.sidebar__list -->
            </aside><!-- end of .sidebar -->
        <div class="main-content">
            <div class="entry-content">
                <h1>Step 1. <span class="text-style-2">Understand your current practice</span></h1>
                    <p class="text-highlighted">
                      In order to ascertain where the inefficiencies lie you first need to map out your current document management process. We have provided a template that will help identify the various aspects of document management, and should be completed prior to the first workshop. Please allow 45-60 minutes to complete this exercise.
                    </p><!-- end of .text-higlithed -->
                  <h2>Aim</h2>
                  <ul>
                      <li>Identify routes of document receipt</li>
                      <li>Identify all steps involved in processing the document, and time taken to complete each step</li>
                      <li>Identify how the documents are assigned in your practice</li>
                  </ul>
                <div class="accordion">
                    <div class="accordion__item is-active">
                        <h2 class="accordion__item-title">
                          <a href="">Instructions for completing the process map</a>
                          <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
                        </h2>
                        <div class="accordion__item-content">
                            <p>There are two steps involved in this mapping exercise. Only one spreadsheet needs to be completed per practice for each step. AT Medics will collate and analyse the individual spreadsheets for each practice within your CCG/Federation/Organisation and provide you with one fully merged document. It is advisable that this one-off exercise is carried out with clinical and administrative staff so that the full range of information is covered.</p>
                            <div class="step-part" id="step-chk1">
                                <h3>Step 1</h3>
                                <p>This is a snapshot exercise to help you understand your current document management process. Choose a day to conduct this exercise, and inform your practice admin staff to keep a count of the number of documents and various routes of receipt. The whole process should then be walked through with the admin staff to determine all the steps and how long each step takes. </p>
                                <p>AT medics will collate and analyse the individual spreadsheets for each practice within your CCG/federation/organisation and provide you with one fully merged document.</p>
                                <a href="javascript:;" class="btn btn--primary btn--secondary-border" download>Download document</a>
                            </div><!-- end of .step-part -->

                            <form class="form-reports" action="" method="">

                                <table class="table-workflow table-workflow--secondary">
                                    <tr class="thead">
                                      <td>Route through which document is received</td>
                                      <td>Post</td>
                                      <td>Fax</td>
                                      <td>Patient delivered</td>
                                      <td>Electronic/ practice email</td>
                                      <td>EDT</td>
                                    </tr>
                                  <tbody>
                                    <tr>
                                        <td>Number documents received</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>


                                <table class="table-workflow">
                                    <tr class="thead">
                                      <td>Pathway steps</td>
                                      <td>Time taken (min/activity)</td>
                                      <td>Time taken (min/activity)</td>
                                      <td>Time taken (min/activity)</td>
                                      <td>Time taken (min/activity)</td>
                                      <td>Time taken (min/activity)</td>
                                    </tr>
                                    <tr>
                                        <td>Collection of documents</td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Opening documents</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Date stamping documents</td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td><input type="text" class="input input--audit" /></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Sorting duplicates</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Manually sorting clinical vs non-clinical records</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Paper inbox for scanning</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Collection of documents</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Scanning</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Filing to patient (finding correct patient, basic details/hosp/dept)</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assigning to clinicans</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Paper outbox for shredding</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shredding</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="total">Total</td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                        <td>
                                            <input type="text" class="input input--audit" />
                                        </td>
                                    </tr>
                                </table>

                                <input type="submit" value="Save" class="btn btn--primary btn--secondary" />
                            </form><!-- end of .table-reports -->


                            <div class="step-part" id="step-chk2">
                                <h3>Step 2</h3>
                                <p>Please use this spreadsheet to complete how documents are currently workflowed and reviewed within your practice. We have pre-defined the document categories, but you will be able to add to the spreadsheet if more categories emerge within your practice. </p>
                                 <a href="javascript:;" class="btn btn--primary btn--secondary-border" download>Download document</a>
                            </div><!-- end of .step-part -->

                        </div>
                    </div>
                </div>
                <div class="step-box">
                    <p><b>Please book the workshop now</b>. The documents for understanding the current business process need to be completed and submitted to at medics prior to the workshop date.</p>

                    <button href="#open-workshop" class="js-workshop btn btn--primary btn--secondary" >Book workshop</button>
                </div>

               {% include "_partials/partial.workshop-popup.html" %}

            </div><!-- end of .entry-content -->
        </div><!-- end of .main-content -->
        </div><!-- end of .page-content -->
        <div class="step-links clearfix">
          <a href="/wp-content/themes/house/step-two.html" class="btn btn--primary btn--secondary-border next">Next Step</a>
        </div>
    </div><!-- end of .container -->

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}