]{% extends "./_templates/template.default.html" %}
{% set title = "Step Three" %}
{% set page = "step-three page-template-template-steps" %}
{% set step3 = true %}

{% block content %}

  {% include "_partials/partial.header.html" %}

  <main>
   {% include "_partials/partial.steps.html" %}
    <div class="container">
        <div class="page-content">
            <aside class="sidebar">
                <div class="sidebar__list">
                    <h4>Check list</h4>
                    <form action="" method="post">
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk1" name="chk1" />
                            <label for="chk1"><span><b></b></span>Watch training videos 1 and 2</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk2" name="chk2" disabled />
                            <label for="chk2"><span><b></b></span>Understand read codes</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk3" name="chk3" disabled />
                            <label for="chk3"><span><b></b></span>Watch training videos 3, 4 and 5</label>
                        </div>
                        <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk4" name="chk4" disabled />
                            <label for="chk4"><span><b></b></span>Understand new document management process</label>
                        </div>
                         <div class="checkbox_wrap">
                            <input class="styled-checkbox" type="checkbox" id="chk5" name="chk5" disabled />
                            <label for="chk5"><span><b></b></span>Can confidently assign documents as per new protocol</label>
                        </div>
                    </form>
                    <div class="info-popup-wrap">
                        <div class="info-popup">
                            <div class="info-popup__item">
                                {{ icon('icon-info', 'icon-info') }}
                            </div><!-- end of .info-popup__item -->
                            <div class="info-popup__item">
                                <span>You can’t move to next step before completing checklist!</span>
                                <a href="javascript:;" class="btn btn--primary btn--info">ok</a>
                            </div><!-- end of .info-popup__item -->
                        </div><!-- end of .info-popup -->
                    </div><!-- end of .info-popup-wrap -->
                </div><!-- /.sidebar__list -->
            </aside>
            <div class="main-content">
                <div class="entry-content">
                    <h1>Step 3. <span class="text-style-2">Training</span></h1>
                    <p class="text-highlighted">In order for the new model to be implemented successfully and sustainably, it is vital to ensure that administrative staff are well trained and fully understand the new model. Training days should take place 6 monthly to maintain quality. The main aims of the training are to:</p>
                    <ol>
                      <li>Understand why effective document management is important nationally</li>
                      <li>Understand current practice and develop a more efficient way of working</li>
                      <li>Understand Read-Coding</li>
                      <li>Upskill administration staff to review and triage documents safely</li>
                      <li>Enable all staff to trained up to the same standards.</li>
                    </ol>
                    <div class="video-object">
                      <figure class="video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
                            <a href="javascript:;" class="js-video-play video-thumb" style="background-image:url(images/video-1.jpg);">
                                <img src="images/video-1.jpg" alt="video" />
                                <div class="video-object__play">
                                    {{icon('icon-play', 'icon-play')}}
                                </div>
                            </a>
                        <figcaption>Doc Handling | Session 01</figcaption>
                      </figure>
                    </div><!-- /.video-object -->

                    <div class="video-object">
                      <figure class="video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
                            <a href="javascript:;"  class="js-video-play video-thumb" style="background-image:url(images/video-2.jpg);">
                                <img src="images/video-2.jpg" alt="video" />
                                <div class="video-object__play">
                                    {{icon('icon-play', 'icon-play')}}
                                </div>
                            </a>
                        <figcaption>Effective document management | Session 02</figcaption>
                      </figure>
                    </div><!-- /.video-object -->

                    <div class="video-object">
                        <figure class="video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
                          <a href="javascript:;"  class="js-video-play video-thumb" style="background-image:url(images/video-3.jpg);">
                              <img src="images/video-3.jpg" alt="video" />
                              <div class="video-object__play">
                                  {{icon('icon-play', 'icon-play')}}
                              </div>
                          </a>
                        <figcaption>Example letters | Session 03</figcaption>
                      </figure>
                    </div><!-- /.video-object -->

                    <div class="video-object">
                        <figure class="video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
                          <a href="javascript:;"  class="js-video-play video-thumb" style="background-image:url(images/video-4.jpg);">
                              <img src="images/video-3.jpg" alt="video" />
                              <div class="video-object__play">
                                  {{icon('icon-play', 'icon-play')}}
                              </div>
                          </a>
                          <figcaption>Example letters | Session 04</figcaption>
                        </figure>
                    </div><!-- /.video-object -->

                    <div class="video-object">
                        <figure class="video-figure" data-url="https://www.youtube.com/watch?v=ECEmmswAbU0" data-id="ECEmmswAbU0">
                          <a href="javascript:;"  class="js-video-play video-thumb" style="background-image:url(images/video-5.jpg);">
                              <img src="images/video-3.jpg" alt="video" />
                              <div class="video-object__play js-video-play">
                                  {{icon('icon-play', 'icon-play')}}
                              </div>
                          </a>
                          <figcaption>Example letters | Session 05</figcaption>
                        </figure>
                      </div><!-- /.video-object -->

                    <a href="#training-popup" class="js-training-popup btn btn--primary btn--secondary">Start training Assessment </a>
                  </div> <!-- end of .entry-content -->

                {% include "_partials/partial.training-assessment-popup.html" %}
            </div><!-- end of .main-content -->
        </div><!-- of .page-content -->
        <div class="step-links clearfix">
            <a href="/wp-content/themes/house/step-two.html" class="btn btn--primary btn--secondary-border prev">Prev Step</a>
            <a href="/wp-content/themes/house/step-four.html" class="btn btn--primary btn--secondary-border next">Next Step</a>
        </div>
    </div><!-- end of .container -->

    {% include "_partials/partial.subscription.html" %}

  </main>

  {% include "_partials/partial.footer.html" %}
{% endblock %}