{% extends "./_templates/template.styleguide.html" %}
{%- set styleguide = true %}
{% set title = "Styleguide page" %}

{% block content %}
{% include "_partials/partial.header.html" %}

<div class="container pv+">
  <h1 class="mb">AT Medics</h1>

  <div class="styleguide-block">
    <h2 id="logo" class="mb"><a href="#logo">Logo</a></h2>
    <img src="images/logo.svg" alt="" class="logo">
  </div>

  <div class="styleguide-block">
    <h2 id="typography" class="mb"><a href="#typography">Typography</a></h2>
    <div class="bgr-base pv- ph mb">
      <h1 class="mb0">Heading 1</h1>
    </div>
    <div>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>

      <div class="heading-blue mt"><h1>Text intro</h1></div>
      <p>Nullam congue, sem id dictum elementum, tellus mauris ultricies quam, vitae egestas erat sapien eu nulla. In suscipit et quam ac mollis. Sed ultrices tellus ex, vel faucibus tellus ultricies nec.</p>

      <h2>Default text size in one colum full width</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>

      <div class="container container--narrow">
        <h2>Text in narrow colum for better readability</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>

        <figure>
          <img src="https://placehold.it/1000x600?text=IMAGE" alt="">
          <figcaption>Image Title. Picture in narrow format</figcaption>
        </figure>
      </div>

      <figure>
        <img src="https://placehold.it/1000x600?text=IMAGE" alt="">
        <figcaption>Image Title. Picture in wide format</figcaption>
      </figure>

      <h2>Single image slider</h2>
      {% include "_partials/partial.slider-single-image.html" %}

      <div class="styleguide-block">
        <h2 id="user-profile" class="mb"><a href="#user-profile">User profile</a></h2>
          {% include "_partials/partial.user-profile.html" %}
      </div>

      <h2>Text in three colums centred</h2>
      <div class="layout text-center mb+">
        <div class="layout__item large-and-up-1/3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim facilisis lacinia. </div>
        <div class="layout__item large-and-up-1/3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim facilisis lacinia. </div>
        <div class="layout__item large-and-up-1/3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim facilisis lacinia. </div>
      </div>

      <h2>Bulleting and Numbering</h2>
      <div class="entry-content">
        <div class="layout mb+">
          <div class="layout__item large-and-up-1/3">
            <ul>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit
                <ul>
                  <li>Lorem ipsum dolor sit</li>
                  <li>Lorem ipsum dolor sit
                    <ul>
                      <li>Lorem ipsum dolor sit</li>
                      <li>Lorem ipsum dolor sit</li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>
          </div>
          <div class="layout__item large-and-up-1/3">
            <ol>
              <li>Lorem ipsum dolor sit</li>
              <li>Lorem ipsum dolor sit
                <ol>
                  <li>Lorem ipsum dolor sit</li>
                  <li>Lorem ipsum dolor sit
                    <ol>
                      <li>Lorem ipsum dolor</li>
                      <li>Lorem ipsum dolor</li>
                    </ol>
                  </li>
                </ol>
              </li>

            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="styleguide-block">
    <h2 id="description-list" class="mb"><a href="#description-list">Description List</a></h2>
    <div class="entry-content">
      {% include "_partials/partial.description-list.html" %}
    </div><!-- end of .entry-content -->
  </div>

  <div class="styleguide-block">
    <h2 id="secondary navigation" class="mb"><a href="#secondary navigation">Secondary navigation</a></h2>
    {% include "_partials/partial.nav-secondary.html" %}

  </div>

  <div class="styleguide-block">
    <h2 id="buttons" class="mb"><a href="#buttons">Buttons</a></h2>

    <div class="mb">
      <p class="mb--">Default</p>
      <a href="" class="btn btn--primary">login</a>
    </div>

    <div class="mb">
      <p class="mb--">Transparent with border</p>
      <a href="" class="btn btn--primary btn--border">login</a>
    </div>

    <div class="mb">
      <p class="mb--">Secondary color button</p>
      <a href="" class="btn btn--primary btn--secondary">login</a>
    </div>

    <div class="mb">
      <p class="mb--">Transparent with secondary color border</p>
      <a href="" class="btn btn--primary btn--secondary-border">login</a>
    </div>

    <div class="mb">
      <p class="mb--">Textual button</p>
      <a href="" class="btn btn--primary btn--text">Get Started</a>
    </div>
  </div>

  <div class="styleguide-block">
    <h2 id="table" class="mb"><a href="#table">Table</a></h2>
    {% include "_partials/partial.table.html" %}

    <h2 id="table-secondary" class="mb"><a href="#table-secondary">Table secondary</a></h2>
    {% include "_partials/partial.table-secondary.html" %}

  </div>
  <div class="styleguide-block">
    <h2 id="breadcrumbs" class="mb"><a href="#breadcrumbs">Breadcrumbs</a></h2>
    {% include "_partials/partial.breadcrumbs.html" %}
  </div>
  <div class="styleguide-block">
    <h2 id="simple-form" class="mb"><a href="#simple-form">Simple form</a></h2>
    <div class="layout">
      <div class="layout__item large-and-up-1/3">
        <input type="email" class="input input--primary" placeholder="Your email address">
      </div>
    </div>
  </div>
  <div class="styleguide-block">
    <h2 id="form" class="mb"><a href="#form">Form</a></h2>
    <div class="layout">
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Default state</p>
        <input type="email" class="input input--border" placeholder="Your email address">
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Disabled state</p>
        <input type="email" class="input input--border" placeholder="Your email address" disabled>
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Input error</p>
        <input type="email" class="input input--border is-error" placeholder="Invalid">
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Info message</p>
        <label class="input-wrap">
          <input type="email" class="input input--border input--info" placeholder="Your email address">
          <div class="input-info">
            <span class="input-info__icon">{{ icon('icon-input-info', 'icon-input-info') }}</span>
            <div class="input-info__content">
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </div>
          </div>
        </label>
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Info message</p>
        <label class="input-wrap">
          <input type="email" class="input input--border input--info is-error" placeholder="Your email address">
          <div class="input-info">
            <span class="input-info__icon">{{ icon('icon-input-info', 'icon-input-info') }}</span>
            <div class="input-info__content">
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </div>
          </div>
        </label>
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb--">Select box</p>
        <select data-custom-class="" data-placeholder='Choose'>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
            <option>Option 5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="styleguide-block">
    <h2 id="checkboxes-radiobuttons" class="mb"><a href="#checkboxes-radiobuttons">Check boxes &amp; Radio buttons</a></h2>
    <div class="layout">
      <div class="layout__item large-and-up-1/3">
        <p class="mb-">Default checkboxes</p>
        <div class="checkbox_wrap">
          <input class="styled-checkbox" type="checkbox" id="chk1" name="chk" checked/>
          <label for="chk1"><span><b></b></span>Option 1</label>
        </div>

        <div class="checkbox_wrap">
          <input class="styled-checkbox" type="checkbox" id="chk2" name="chk"/>
          <label for="chk2"><span><b></b></span>Option 2</label>
        </div>

        <div class="checkbox_wrap">
          <input class="styled-checkbox" type="checkbox" id="chk3" name="chk"/>
          <label for="chk3"><span><b></b></span>Option 3</label>
        </div>

        <div class="checkbox_wrap">
          <input class="styled-checkbox" type="checkbox" id="chk4" name="chk"/>
          <label for="chk4"><span><b></b></span>Option 4</label>
        </div>

      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb-">Default radio buttons</p>

        <div class="radio_wrap">
          <input type="radio" id="r11" name="r1" class="styled-radiobutton" checked/>
          <label for="r11" class='radio'>
            <span></span>Option 1
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r12" name="r1" class="styled-radiobutton"/>
          <label for="r12" class='radio'>
            <span></span>Option 2
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r13" name="r1" class="styled-radiobutton"/>
          <label for="r13" class='radio'>
            <span></span>Option 3
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r14" name="r1" class="styled-radiobutton"/>
          <label for="r14" class='radio'>
            <span></span>Option 4
          </label>
        </div>
      </div>
      <div class="layout__item large-and-up-1/3">
        <p class="mb-">More noticeable radio buttons</p>

        <div class="radio_wrap">
          <input type="radio" id="r21" name="r2" class="styled-radiobutton styled-radiobutton--big" checked/>
          <label for="r21" class='radio'>
            <span></span>Option 1
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r22" name="r2" class="styled-radiobutton styled-radiobutton--big"/>
          <label for="r22" class='radio'>
            <span></span>Option 2
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r23" name="r2" class="styled-radiobutton styled-radiobutton--big"/>
          <label for="r23" class='radio'>
            <span></span>Option 3
          </label>
        </div>

        <div class="radio_wrap">
          <input type="radio" id="r24" name="r2" class="styled-radiobutton styled-radiobutton--big"/>
          <label for="r24" class='radio'>
            <span></span>Option 4
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="styleguide-block">
    <h2 id="subscription" class="mb"><a href="#subscription">Subscription</a></h2>
    {% include "_partials/partial.subscription.html" %}
    {% include "_partials/partial.subscription-messages.html" %}
  </div>
</div>

<div class="styleguide-block">
  <div class="container">
    <h2 id="steps" class="mb"><a href="#steps">Menu steps</a></h2>
  </div><!-- end of .container pv ph -->
  {% include "_partials/partial.steps.html" %}

</div>

<div class="styleguide-block">
  <div class="container">
    <h2 id="hero-slider" class="mb"><a href="#hero-slider">Hero slider</a></h2>
  </div><!-- end of .container pv ph -->
  {% include "_partials/partial.hero-slider.html" %}

</div>

<div class="container container--narrow">
  <div class="styleguide-block">
    <h2 id="contact-form" class="mb"><a href="#contact-form">Contact form</a></h2>
    {% include "_partials/partial.contact-form.html" %}
  </div>
</div>

<div class="container">
    <div class="styleguide-block">
      <h2 id="accordion" class="mb"><a href="#accordion">Accordion</a></h2>
      {% include "_partials/partial.accordion.html" %}
    </div>

    <div class="styleguide-block">
      <h2 id="slider-thumbs" class="mb"><a href="#slider-thumbs">Slider with thumbs</a></h2>
      {% include "_partials/partial.thumbs-slider.html" %}
    </div>

    <div class="styleguide-block">
      <h2 id="number-info-panels" class="mb"><a href="#number-info-panels">Number info panels</a></h2>
      {% include "_partials/partial.number-info-panels.html" %}
    </div>
</div>

<div class="container">
    <h2 id="management-flow" class="mb"><a href="#management-flow">At Medics document management toolkit </a></h2>
</div>

<div class="styleguide-block">
  {% include "_partials/partial.management-flow.html" %}
</div>

<div class="container">
    <h2 id="three-phases-circles" class="mb"><a href="#three-phases-circles">Three phases circles</a></h2>

  <div class="styleguide-block">
    {% include "_partials/partial.three-phases-circles.html" %}
  </div>


  <div class="styleguide-block">
      <h2 id="training" class="mb"><a href="#training">Training assessment</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.training-form.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="video" class="mb"><a href="#video">Video objects</a></h2>
      <div class="pv- mb">
      {% include "_partials/partial.video-single.html" %}
      {% include "_partials/partial.video-gallery.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="pagination" class="mb"><a href="#pagination">Pagination</a></h2>
      <div class="pv- mb">
      {% include "_partials/partial.pagination.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="text-img-block" class="mb"><a href="#text-img-block">Text and image block</a></h2>
      <div class="pv- mb">
      {% include "_partials/partial.text-img-block.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="steps-list" class="mb"><a href="#steps-list">Steps list</a></h2>
      <div class="pv- mb">
      {% include "_partials/partial.steps-list.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="intro" class="mb"><a href="#intro">Intro image and video</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.intro-img-and-text.html" %}
          {% include "_partials/partial.intro-video-and-text.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="tabs" class="mb"><a href="#tabs">Tabs</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.tabs.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="members" class="mb"><a href="#members">Memebers</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.members-1.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="memebers-home" class="mb"><a href="#members-home">Memebers home</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.members-home.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="statistics-grid" class="mb"><a href="#statistics-grid">Statistics grid</a></h2>
      <div class="pv- mb">
         {% include "_partials/partial.flex-grid.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="sidebar" class="mb"><a href="#sidebar">Sidebar</a></h2>
      <div class="pv- mb">
          <div class="layout">
              <div class="layout__item large-and-up-1/4">
                 {% include "_partials/partial.sidebar.html" %}
              </div><!-- /.layout__item -->
              <div class="layout__item large-and-up-3/4">
                  content
              </div><!-- /.layout__item -->
          </div><!-- /.layout -->
      </div>
  </div>

   <div class="styleguide-block">
      <h2 id="contact-us" class="mb"><a href="#contact-us">Contact us</a></h2>
          <div class="pv- mb">
              <div class="map">
                  <div id="map"></div><!-- /#map -->
                  <div class="container container--narrow">
                      <div class="heading-blue">
                          <h1>Contact us</h1>
                      </div>
                  </div><!-- /.container container--narrow -->
              </div><!-- /.map -->
          </div>
  </div>

  <div class="styleguide-block">
      <h2 id="tasks-slider" class="mb"><a href="#tasks-slider">Tasks slider</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.tasks-slider.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="checkbox-2" class="mb"><a href="#checkbox-2">Checkboxes type 2</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.weeks-checkboxes.html" %}
      </div>
  </div>

   <div class="styleguide-block">
      <h2 id="blockquote" class="mb"><a href="#blockquote">Blockquote</a></h2>
      <div class="pv- mb">
          <blockquote>
              On day of audit, our administrative staff spent a total of 155 minutes processing 184 documents.
          </blockquote>
      </div>
  </div>

   <div class="styleguide-block">
      <h2 id="quote-intro" class="mb"><a href="#quote-intro">Quote intro</a></h2>
      {% include "_partials/partial.quote-intro.html" %}

  </div>

  <div class="styleguide-block">
      <h2 id="editorial-table" class="mb"><a href="#editorial-table">Editorial table</a></h2>
      <div class="pv- mb">
         {% include "_partials/partial.editorial-table.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="datepicker-form" class="mb"><a href="#datepicker-form">Datepicker form</a></h2>
      <div class="pv- mb">
         {% include "_partials/partial.datepicker-form.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="weekly-audit" class="mb"><a href="#weekly-audit">Weekly audit</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.weekly-audit.html" %}
      </div>
  </div>

  <div class="styleguide-block">
      <h2 id="fax-log" class="mb"><a href="#fax-log">Fax log</a></h2>
      <div class="pv- mb">
          {% include "_partials/partial.fax-log.html" %}
      </div>
  </div>
</div>

{% include "_partials/partial.footer.html" %}
{% endblock %}
