/**
 * Guides
 * ACF message fields
 */
.warning {
	padding: 10px 20px;
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
}
.warning h2,
.warning h3,
.warning h4 {
    font-size: 1.3em;
	margin-bottom: .5em;
	padding-left: 0 !important;
	text-transform: uppercase;
}
.warning p {
	font-size: 14px;
	margin-top: 0;
}
.image-wrap {
	display:block;
	/*width: 100%;*/
	margin: 30px 0;
}
.image-wrap img {
	width: 100%;
}
img {
	max-width: 100%;
}
h2 code,
h3 code,
h4 code {
	font-size: 15px;
}
/* Hide metabox with update button for guides */
.user-guidlines #postbox-container-1 {
	display: none;
}
