	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="bower_components/SelectOrDie/_src/selectordie.min.js"></script>
    <script src="bower_components/svg4everybody/dist/svg4everybody.min.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgfOU8Z8fhqxSrxZcP8tRZxzzwsqxkJDs"></script>
    <script src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="js/map.min.js"></script>
    <script src="js/charts.min.js"></script>
    <script src="js/init.min.js"></script>
    <script src="js/all.min.js"></script>
  </body>
</html>