/*------------------------------------*\
    #PICTURE OBJECT
\*------------------------------------*/

picture {
    @include max-screen($breakpoint-large - 1) {
        .steps__list & {
            img {
                width: 100%;
            }
        }
    }
}