/*------------------------------------*\
    #INTRO OBJECT
\*------------------------------------*/

.intro {
    position: relative;
    margin-bottom: 90px;
}

    .intro__img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 49.18%;

        > img {
            display: none;
        }
    }

    .intro__video {
        position: relative;
        z-index: 1;

        .video-object {

            a {
                padding-bottom: 56.15%;
            }
        }
    }

    .intro__text {
        margin-top: -40px;
        z-index: 2;
        position: relative;


        @include max-screen($breakpoint-medium) {
            margin-top: -23px;

            h1 {
                @include font-size(22px);
            }

            .heading-blue {
                display: block;
                text-align: center;
            }
        }

        .heading-blue {
            margin-bottom: 44px;
        }
    }

    .intro-steps {
        padding-bottom: 60px;

        @include max-screen($breakpoint-large) {
            padding-bottom: 0;
        }
    }
