/*------------------------------------*\
    #ICONS
\*------------------------------------*/

.icon {
    display: inline-block;
    fill: currentColor;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    transition: all .2s ease;
}

.icon--flip {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.icon-facebook {
	width: 8px;
	height: 16px;
}

.icon-instagram {
	width: 16px;
	height: 16px;
}

.icon-twitter {
	width: 17px;
	height: 14px;
}

.icon-google-plus {
	width: 22px;
	height: 14px;
}

.icon-arrow-down {
	width: 9px;
	height: 6px;
}

.icon-download {
	width: 12px;
	height: 18px;
}

.icon-arrow {
	width: 7px;
	height: 11px;
}

.icon-arrow--right {
	transform: scale(-1, 1);
}

.icon-angle-arrow {
	width: 66px;
	height: 67px;
}

.icon-help {
	width: 68px;
	height: 68px;
}

.icon-man {
	width: 136px;
	height: 135px;
}

.icon-play {
	width: 64px;
	height: 64px;

	@include max-screen($breakpoint-medium) {
		width: 50px;
		height: 50px;
	}
}

.icon-calendar {
	width: 18px;
	height: 18px;
}

.icon-calendar2 {
	width: 41px;
	height: 41px;
}

.icon-arrow2-right {
	width: 35px;
	height: 14px;
}

.icon-plus {
	width: 8px;
	height: 8px;
	transition: none;
	position: relative;
	top: -2px;
	left: -5px;
}

 .icon-file {
    width: 40px;
    margin-right: 20px;

	    + span {
	        display: inline-block;
	        vertical-align: middle;
	    }
    }

.icon-info {
	width: 33px;
	height: 33px;
	color: #fff;
}

.icon-book-workshop {
	width: 33px;
	height: 33px;
}

.icon-user,
.icon-frequency {
	width: 41px;
	height: 41px;
	color: #5fccf5;
}

