/*------------------------------------*\
    #VIDEO OBJECT
\*------------------------------------*/

.video-object {

    .page-template-template-steps & {
        padding-top: 50px;

        figure {
            margin: 0;
        }

        &:last-of-type {
            margin-bottom: 50px;
        }
    }

    a {
        display: block;
        padding-bottom: 56.15%;
        height: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(black, .3);
            z-index: 2;
        }
    }

    img {
        display: none;
    }

    &.video-object--small {

        a {
            padding-bottom: 68.126%;
        }

        p {
            color: $color-secondary-2;
            font-weight: 500;
            margin-top: 15px;
            margin-bottom: -7px;
        }
    }

    @include max-screen($breakpoint-large - 1) {
        margin-bottom: 30px;
    }

    @include max-screen($breakpoint-medium - 1) {
        margin-bottom: 0;
    }
}

    .video-object__play {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        width: 100%;
        text-align: center;
        z-index: 4;

        span {
            display: block;
            text-transform: uppercase;
            text-align: center;
            padding-top: 30px;
            font-size: 25px;
            font-weight: bold;
        }
    }

    .video-wrapper {
       display: block;
    }