/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container {
    margin: 0 auto;
    max-width: $page-max-width + ($spacing-unit * 2);
    padding-left:  $spacing-unit;
    padding-right: $spacing-unit;

    @include max-screen($breakpoint-medium - 1) {
	    max-width: $page-max-width + ($spacing-unit);
	    padding-left:  15px;
	    padding-right: 15px;
    }
}

.container--narrow {
    max-width: 680px + ($spacing-unit * 2);

    @include max-screen($breakpoint-medium - 1) {
        max-width: 680px + ($spacing-unit);
    }
}

.container--middle {
    max-width: 860px + ($spacing-unit * 2);

    @include max-screen($breakpoint-medium - 1) {
        max-width: 860px + ($spacing-unit);
    }
}

.container--wide {
    max-width: 1180px + ($spacing-unit * 2);

    @include max-screen($breakpoint-medium - 1) {
        max-width: 1180px + ($spacing-unit);
    }
}