<div class="slider-thumb">
    <div class="slider slider-nav">
        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/susan-sinclair.jpg);">
                <img src="images/our-team/susan-sinclair.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Susan Sinclair</h4>
                <p>Chief Executive Officer</p>
            </div><!-- end of .text-wrap -->
        </div>

        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/aumran-tahir.jpg);">
                <img src="images/our-team/aumran-tahir.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Dr Aumran Tahir</h4>
                <p>Clinical Lead</p>
            </div><!-- end of .text-wrap -->
        </div>

        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/usman-quraishi.jpg);">
                <img src="images/our-team/usman-quraishi.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Dr Usman Qureshi</h4>
                <p>Risk Lead</p>
            </div><!-- end of .text-wrap -->
        </div>

        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/tarek-radwan.jpg);">
                <img src="images/our-team/tarek-radwan.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Dr Tarek Radwan</h4>
                <p>Director Lead Clinical Transformation</p>
            </div><!-- end of .text-wrap -->
        </div>

        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/hasnain-abbasi.jpg);">
                <img src="images/our-team/hasnain-abbasi.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Dr Hasnain Abbasi</h4>
                <p>Director Lead Finance and Human Resources</p>
            </div><!-- end of .text-wrap -->
        </div>

        <div>
            <div class="img-wrap" style="background-image: url(images/our-team/fiyaz-lebbe.jpg);">
                <img src="images/our-team/fiyaz-lebbe.jpg" alt="" />
            </div><!-- end of .img-wrap -->
            <div class="text-wrap">
                <h4>Dr Fiyaz Lebbe</h4>
                <p>Director Lead Change Management</p>
            </div><!-- end of .text-wrap -->
        </div>
    </div>

    <div class="slider slider-for">
        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/susan-sinclair.jpg);">
                <img src="images/our-team/susan-sinclair.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Susan Sinclair:</h2>
                <span class="slider-thumb__title">Chief Executive Officer</span>
                <p class="slider-thumb__text">Susan is responsible for leading the strategic and operational functions of AT Medics, reporting directly to and advising the Board of Directors. As CEO, Susan also leads the organisations Senior Management Team, comprising of operational and corporate managers, driving quality and change programmes through the organisation.</p> <p>Susan was previously Director of Strategy at West Middlesex University Hospital where she led ondevelopment, transition, assurance and business case implementation for the Trust. She has also been a Senior Operational Leader in the acute sector. Focussed on integration through her role as a Deputy Director in the North West London-wide Strategy and Transformation team, Susan has also led the NWL Integrated Care Pilot directing cross provider care delivery models. Susan is ultimately responsible for the day to day operations across the organisation. </p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/aumran-tahir.jpg);">
                <img src="images/our-team/aumran-tahir.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Dr Aumran Tahir</h2>
                <span class="slider-thumb__title">Clinical Lead</span>
                <p class="slider-thumb__text">Dr Tahir graduated from St. Georges, University of London in 1999 and has significant experience in leading and delivering highly successful services and transformations inextremely challenging situations. Hehas held posts in integrated care including the Clinical Director of the North West London Whole Systems Integrated Care Programme. Heisan experienced GP specialist trainer for the London Specialty School of General Practice andhas successfully mentored both GPs andGPâ€œtrainees in difficultyâ€.</p>
                <p>He is an Honorary Senior Research Fellow at the University of Surrey (Healthcare Management & Policy) and a Health Foundation Quality Improvement Fellow. He is also Faculty Honorary Secretary for the North West London RCGP Faculty.</p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/usman-quraishi.jpg);">
                <img src="images/our-team/usman-quraishi.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Dr Usman Qureshi</h2>
                <span class="slider-thumb__title">Risk Lead</span>
                <p class="slider-thumb__text">Dr Quraishi graduated from St Georges, University of London in 1999. He attained Membership of the Royal College of General Practitioners in 2004 with a Merit Award. Dr Quraishi is a designated Medical Practitioner for Pharmacists at Kings College London and is a highly experienced GP Specialist Trainer for London Specialty School of Specialty Practice. He is Joint Clinical Lead Director in Croydon, SE London and Greenwich. </p>
                <p>Dr Quraishi developed and leads AT Medics Learning, bespoke training and education programmes, such as AT HANDSâ„¢. </p>
                <p>He is also the AT Medics Urgent Care Lead. His specialist clinical interests are in substance misuse and continuing medical education.</p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/tarek-radwan.jpg);">
                <img src="images/our-team/tarek-radwan.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Dr Tarek Radwan</h2>
                <span class="slider-thumb__title">Director Lead Clinical Transformation</span>
                <p class="slider-thumb__text">Dr Radwan graduated from St George’s, University of London in 1999 with Distinction, an honour given to the top 5 in each year. He then spent 3 years training in Paediatrics and Neonatal medicine and gained the Membership of the Royal College of Paediatrics and Child Health in 2001. He attained his Membership of the Royal College of General Practitioners in 2005 with Distinction. Dr Radwan is an experienced GP specialist trainer for the London Specialty School of General Practice. He has also been a GP Director of SW Lambeth healthcare, he has been instrumental in transforming clinical care in Streatham, Hackney and Whitechapel and was awarded GP trainer of the year 2009 by Kings College Hospital.</p><p> His specific interests are paediatrics, cardiovascular disease and diabetes.</p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/hasnain-abbasi.jpg);">
                <img src="images/our-team/hasnain-abbasi.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Dr Hasnain Abbasi</h2>
                <span class="slider-thumb__title">Director Lead Finance and Human Resources</span>
                <p class="slider-thumb__text">Dr Abbasi graduated from St. George’s, University of London gaining a Merit Award for “Outstanding Performance” in Medical MB finals. He attained Membership to the Royal College of General Practitioners with Merit Award in 2005. He is Joint Clinical Lead Director in East and South East London and is the Finance Lead for AT Medics as well as being involved with GP Leadership Development.</p><p>Dr Abbasi is an experienced GP specialist trainer for the London Specialty School of General Practice and he also supervises and assesses undergraduate students at St. George’s, University of London. He was elected by Lambeth GPs to the CCG governing body and chairs the Primary Care Development Programme. Dr Abbasi has successfully led the pan-Lambeth Federation bid for the Prime Minister’s Challenge Fund, securing £3.5mil for Lambeth residents.</p> <p>He is now Joint Chair of the steering group leading extended access implementation in Lambeth.</p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

        <div>
            <div class="slider-thumb__big-img" style="background-image: url(images/our-team/fiyaz-lebbe.jpg);">
                <img src="images/our-team/fiyaz-lebbe.jpg" alt=""  />
            </div>
            <div class="slider-thumb__content">
                <h2>Dr Fiyaz Lebbe</h2>
                <span class="slider-thumb__title">Director Lead Change Management</span>
                <p class="slider-thumb__text">Dr Quraishi graduated from St Georges, University of London in 1999. He attained Membership of the Royal College of General Practitioners in 2004 with a Merit Award. Dr Quraishi is a designated Medical Practitioner for Pharmacists at Kings College London and is a highly experienced GP Specialist Trainer for London Specialty School of Specialty Practice. He is Joint Clinical Lead Director in Croydon, SE London and Greenwich. </p>
                <p>Dr Quraishi developed and leads AT Medics Learning, bespoke training and education programmes, such as AT HANDS. </p>
                <p>He is also the AT Medics Urgent Care Lead. His specialist clinical interests are in substance misuse and continuing medical education.</p>
                <div class="slider-thumb__social">
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                </div><!-- end of .slider-thumb__social -->
            </div><!-- end of .slider-thumb__content -->
        </div>

    </div>
</div><!-- end of .slider-thumb -->