<blockquote class="quote-intro">
  <h1>AT Medics Document Management Toolkit </h1>
  <p>“The strength of British General Practice is its personal response to a dedicated patient list, its weakness is its failure to develop consistent systems that free up time and resources to devote to improving care for patients” </p>
  <cite>Simon Stevens, CEO NHS England. (GP Forward View, April 2016)</cite>
</blockquote>