<div class="video-object mb+">
    <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
        <img src="images/video-placeholder.jpg" alt="video" />
        <div class="video-object__play">
        	{{icon('icon-play', 'icon-play')}}
        </div>
    </a>
</div><!-- /.video-object -->

<div class="video-object mb+">
    <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
        <img src="images/video-placeholder.jpg" alt="video" />
        <div class="video-object__play">
        	{{icon('icon-play', 'icon-play')}}
        	<span>Video 1</span>
        </div>
    </a>
</div><!-- /.video-object -->


<div class="video-object mb+">
    <div class="embedded embedded--16by9">
         <iframe src="https://www.youtube.com/embed/13eiizRpktw" frameborder="0" allowfullscreen></iframe>
    </div>
</div><!-- end of .video-object -->
