<div class="layout">
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
    <div class="layout__item large-and-up-1/3">
        <div class="video-object video-object--small">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <span class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </span>
            </a>
            <p>Name of Video</p>
        </div><!-- /.video-object video-object--small -->
    </div><!-- /.layout__item large-and-up-1/3 -->
</div><!-- /.layout -->