<nav class="nav-steps">
    <div class="container">
        <span class="nav-steps__active">Get started</span>
        <ul>
            <li {% if step1 %} class="step-tooltip is-active" {% elseif !step1 %} class="step-tooltip" {% endif %}>
                <a href="step-one.html">Step one</a>
                <span class="step-tooltip__text step-1">Step 1 - understand current practice</span><!-- end of .step-tooltip__text -->
            </li>
            <li {% if step2 %} class="step-tooltip is-active" {% elseif !step2 %}
                    class="step-tooltip" {% endif %} >
                <a href="step-two.html">Step two</a>
                <span class="step-tooltip__text step-two">Co-design new model of working</span><!-- end of .step-tooltip__text -->
            </li>
            <li {% if step3 %} class="step-tooltip is-active" {% elseif !step3 %}
                    class="step-tooltip" {% endif %} >
                <a href="step-three.html">Step three</a>
                <span class="step-tooltip__text step-three">Training</span><!-- end of .step-tooltip__text -->
            </li>
            <li{% if step4 %}
                    class="step-tooltip is-active" {% elseif !step4 %}
                    class="step-tooltip" {% endif %} >
                <a href="step-four.html">Step four</a>
                <span class="step-tooltip__text step-four">Implement</span><!-- end of .step-tooltip__text -->
            </li>
            <li {% if step5 %} class="step-tooltip is-active"
                {% elseif !step5 %}
                    class="step-tooltip" {% endif %} >
                <a href="step-five.html">Step five</a>
                <span class="step-tooltip__text step-five">Audit</span><!-- end of .step-tooltip__text -->
            </li>
        </ul>
    </div><!-- end of .container -->
 </nav><!-- end of .nav-steps -->