 <table class="table">
   <thead>
     <tr>
       <th>Time</th>
       <th>Suggested agenda</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td data-th="Time">20 min</td>
       <td data-th="Suggested agenda">
          <p class="list-title">Introduction and background</p>
          <ul>
              <li>GP Forward view: challenges and why releasing GP time is a national imperative</li>
              <li>Benefits of effective document management at AT Medics</li>
          </ul>
       </td>
     </tr>
     <tr>
       <td data-th="Time">60 min</td>
       <td data-th="Suggested agenda">
          <p class="list-title">Verify current document management business process </p>
          <ul>
              <li>Verify current map for document receipt and review</li>
          </ul>
       </td>
     </tr>
     <tr>
       <td data-th="Time">30 min</td>
       <td data-th="Suggested agenda">
          <p class="list-title">Training</p>
          <ul>
              <li>Presentation on Read Codes and document management</li>
              <li>Training video</li>
              <li>FAQ’s</li>
          </ul>
       </td>
     </tr>
   </tbody>
 </table>