 <dl>
    <dt>Increased workload for GP’s.</dt>
    <dd>Audit showed that around 90% of these documents did not need to be sent to the GP for review and could be safely reviewed and actioned by other members of staff.</dd>
    <dt>Documents not dealt with completely</dt>
    <dd>Missed opportunities for formal long term condition follow up e.g: Child admitted to hospital with an exacerbation of asthma, but only the A&E attendance read-coded, not asthma, therefore doctor would have missed recalling the patient for follow up.</dd>
    <dd>Failing to update vital adult or child safeguarding information in the patients’ record.</dd>
    <dt>Inconsistent actioning</dt>
    <dd>No standardised processes allowing letters to be actioned in the same manner:  e.g. DNA’s handled differently by different GP’s</dd>
    <dt>Inefficient use of admin skills and time</dt>
    <dd>Average time per document it took administrative staff to manage documents received through post was significantly greater than electronic documents (50 sec vs 9 sec).</dd>
    <dd>Scanning in duplicate copies of letters e.g. same document received twice through post, or patient delivered letter that had already been sent in post. </dd>
    <dd>Administrative staff could be trained to review and triage letters.</dd>
    <dt>Lack of standardised processes for document handling</dt>
    <dd>No continuity to service and patients</dd>
    <dd>Errors as letters may not get processed appropriately or in a timely manner, and some may fall through gaps</dd>
    <dd>Read coding not standardised</dd>
    <dt>Confidentiality breaches</dt>
    <dd>Especially relevant for faxed documents as the paper may be misplaced and patient information may fall into wrong hands. HSCIC no longer recommends faxed documents. </dd>
</dl>