<footer class="footer-main">
	<div class="footer-main__top">
		<div class="justifize">
			<div class="justifize__box">
				<a href="" class="footer-main__logo"><img src="images/logo-footer.svg" alt=""></a>
			</div>
			<div class="justifize__box">
				<nav class="nav-footer">
					<ul>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="get-started.html">Get started</a>
						</li>
						<li>
							<a href="resources.html">Resources</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
						<li>
							<a href="terms.html">Terms &amp; conditons</a>
						</li>
						<li>
							<a href="privacy.html">Privacy policy</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="footer-main__bottom">
		<div class="justifize">
			<div class="justifize__box">
				<small>Copyright 2016 AT Medics | info@ezdoc.co.uk </small>
			</div>
			<div class="justifize__box">
				<a href="" class="back-to-top">back to top</a>
			</div>
		</div>
	</div>
</footer>
