<div class="slider-container">
	<div class="slider slider-single-image">
	    <div>
	        <img src="https://placehold.it/1000x600?text=IMAGE 1" alt="">
	    </div>
	    <div>
	        <img src="https://placehold.it/1000x600?text=IMAGE 2" alt="">
	    </div>
	    <div>
	        <img src="https://placehold.it/1000x600?text=IMAGE 3" alt="">
	    </div>
	</div>
</div>