<div class="layout">

    <!-- page 3 -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-16" class="js-open-popup">Headley Drive Surgery</a></h2>
                <div class="members__contact">
                    <div>117a Headley Drive, New Addington, Croydon, CR0 0QL</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-16" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Headley Drive Surgery</h2>
                            <div class="members__contact">
                                <div>117a Headley Drive, New Addington, Croydon, CR0 0QL</div>
                                        </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-17" class="js-open-popup">Fieldway Medical Centre</a></h2>
                <div class="members__contact">
                    <div>15a Danebury, New Addington, Croydon, CR0 9EU</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-17" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Fieldway Medical Centre</h2>
                            <div class="members__contact">
                                <div>15a Danebury, New Addington, Croydon, CR0 9EU</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-18" class="js-open-popup">Valley Park Surgery</a></h2>
                <div class="members__contact">
                    <div>Healthy Living Centre, Franklin Way, Croydon, CR0 4YD</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-18" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Valley Park Surgery</h2>
                            <div class="members__contact">
                                <div>Healthy Living Centre, Franklin Way, Croydon, CR0 4YD</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-19" class="js-open-popup">Whitechapel Health Centre</a></h2>
                <div class="members__contact">
                    <div>Shah Jalal Medical Centre, 44 Hessel Street, London, E1 2LP</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-19" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Whitechapel Health Centre</h2>
                            <div class="members__contact">
                                <div>Shah Jalal Medical Centre, 44 Hessel Street, London, E1 2LP</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-20" class="js-open-popup">Albert Road Surgery</a></h2>
                <div class="members__contact">
                    <div>76 Albert Road, North Woolwich, London, E16 2DY</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-20" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Albert Road Surgery</h2>
                            <div class="members__contact">
                                <div>76 Albert Road, North Woolwich, London, E16 2DY</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-21" class="js-open-popup">Britannia Village Surgery</a></h2>
                <div class="members__contact">
                    <div>12a Wesley Avenue, London, E16 1TU</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-21" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Britannia Village Surgery</h2>
                            <div class="members__contact">
                                <div>12a Wesley Avenue, London, E16 1TU</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-22" class="js-open-popup">The Chestnuts Park Surgery</a></h2>
                <div class="members__contact">
                    <div>Laurels Healthy Living Centre, 256 St Ann’s Road, Tottenham,N15 5AZ</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-22" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>The Chestnuts Park Surgery</h2>
                            <div class="members__contact">
                                <div>Laurels Healthy Living Centre, 256 St Ann’s Road, Tottenham,N15 5AZ</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-23" class="js-open-popup">The Greenhouse</a></h2>
                <div class="members__contact">
                    <div>19 Tudor Road , Hackney, E9 7SN</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-23" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>The Greenhouse</h2>
                            <div class="members__contact">
                                <div>19 Tudor Road , Hackney, E9 7SN</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->
</div><!-- end of .layout -->