<div class="slider-tasks">
    <div class="slider-tasks__item"><span>Feedback from process mapping workshop</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Supervised document review</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Audit</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Fax log</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Practice meetings</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Task 6</span></div><!-- /.slider-tasks__item -->
    <div class="slider-tasks__item"><span>Task 7</span></div><!-- /.slider-tasks__item -->
</div>