<div class="layout">
    <div class="layout__item large-and-up-1/3">
        <div class="text-img-box">
            {{icon('icon-man-1', 'icon-man')}}
            <h2>Get involved</h2>
            <p>Duis a sem sed sem tempor placerat nec vel nisi. Sed in lobortis dui. Ut sed interdum diam. Proin semper velit vel tortor.</p>
            <a href="javascript:;" class="read-more">Learn more</a>
        </div><!-- /.text-img-box -->
    </div><!-- /.layout__item -->
    <div class="layout__item large-and-up-1/3">
        <div class="text-img-box">
            {{icon('icon-man-1', 'icon-man')}}
            <h2>How it works</h2>
            <p>Duis a sem sed sem tempor placerat nec vel nisi. Sed in lobortis dui. Ut sed interdum diam. Proin semper velit vel tortor.</p>
            <a href="javascript:;" class="read-more">Learn more</a>
        </div><!-- /.text-img-box -->
    </div><!-- /.layout__item -->
    <div class="layout__item large-and-up-1/3">
        <div class="text-img-box">
            {{icon('icon-man-1', 'icon-man')}}
            <h2>Get started</h2>
            <p>Duis a sem sed sem tempor placerat nec vel nisi. Sed in lobortis dui. Ut sed interdum diam. Proin semper velit vel tortor.</p>
            <a href="javascript:;" class="read-more">Learn more</a>
        </div><!-- /.text-img-box -->
    </div><!-- /.layout__item -->
</div><!-- /.layout -->