<div class="accordion">

  <div class="accordion__item is-active">
    <h2 class="accordion__item-title">
        <a href="">Ut molestie ipsum at magna blandit congue?</a>
        <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
    </h2>
    <div class="accordion__item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, reprehenderit ratione voluptas dolore? Delectus reiciendis sit fuga, eveniet ut neque ratione tempore porro repudiandae doloribus dolor accusamus facilis praesentium magnam!</p>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item-title">
        <a href="">Cras et scelerisque magna?</a>
        <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
    </h2>
    <div class="accordion__item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, reprehenderit ratione voluptas dolore? Delectus reiciendis sit fuga, eveniet ut neque ratione tempore porro repudiandae doloribus dolor accusamus facilis praesentium magnam!</p>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item-title">
        <a href="">Ut molestie ipsum at magna blandit congue?</a>
        <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
    </h2>
    <div class="accordion__item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, reprehenderit ratione voluptas dolore? Delectus reiciendis sit fuga, eveniet ut neque ratione tempore porro repudiandae doloribus dolor accusamus facilis praesentium magnam!</p>
    </div>
  </div>
</div>