<div id="open-login" class="login-popup magnific-popup mfp-hide magnific-animate--fade">
  <div class="login-popup__left">

  </div><!-- /.login-popup__left -->
  <div class="login-popup__form">
      <h2>Login</h2>
      <p>If you don’t have account plase sign up <a href="#open-signup" class="js-login-popup">here</a></p>
      <form action="javascript:;">
          <input type="email" class="input input--primary" placeholder="Your email address">
          <input type="password" class="input input--primary" placeholder="Password">
          <button type="submit" class="btn btn--primary btn--secondary btn--full">LOGIN</button>
          <div class="text-center">
            <a href="javascript:;" class="forgot-pass">Forgot password</a>
          </div><!-- /.text-center -->
      </form>
  </div><!-- /.login-popup__form -->

</div><!-- /.login__popup -->

