<div class="layout">
    <!-- page 4 -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-24" class="js-open-popup">Hanley Primary Care Centre</a></h2>
                <div class="members__contact">
                    <div>51 Hanley Rd, London N4 3DU</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-24" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Hanley Primary Care Centre</h2>
                            <div class="members__contact">
                                <div>51 Hanley Rd, London N4 3DU</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-25" class="js-open-popup">Canberra Old Oak Surgery</a></h2>
                <div class="members__contact">
                    <div>Parkview Centre for Health & Wellbeing, Cranston Court, 56Bloemfontein Road , London, W12 7FG</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-25" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Canberra Old Oak Surgery</h2>
                            <div class="members__contact">
                                <div>Parkview Centre for Health & Wellbeing, Cranston Court, 56Bloemfontein Road , London, W12 7FG</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-26" class="js-open-popup">Lucas Avenue Practice</a></h2>
                <div class="members__contact">
                    <div>1A Lucas Ave, London E13 0QP</div>

                </div><!-- /.members__contact -->


            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-26" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Lucas Avenue Practice</h2>
                            <div class="members__contact">
                                <div>1A Lucas Ave, London E13 0QP</div>

                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-27" class="js-open-popup">The Loxford Practice</a></h2>
                <div class="members__contact">
                    <div>417 Ilford Lane,Ilford,Essex IG1 2SN</div>

                </div><!-- /.members__contact -->


            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-27" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>The Loxford Practice</h2>
                            <div class="members__contact">
                                <div>417 Ilford Lane,Ilford,Essex IG1 2SN</div>

                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->
</div><!-- end of .layout -->
