<div class="layout">
    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(images/our-members/Edith-Cavell-Surgery.jpg);">
                <img src="images/our-members/Edith-Cavell-Surgery.jpg" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup" class="js-open-popup">Edith Cavell Surgery</a></h2>
                <div class="members__contact">
                    <div>41 A-C Streatham Hill, London, SW2 4TP</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(images/our-members/Edith-Cavell-Surgery.jpg);">
                            <img src="images/our-members/Edith-Cavell-Surgery.jpg" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Edith Cavell Surgery</h2>
                            <div class="members__contact">
                                <div>41 A-C Streatham Hill, London, SW2 4TP</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(images/our-members/Streatham-High-Practice.jpg);">
                <img src="images/our-members/Streatham-High-Practice.jpg" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-1" class="js-open-popup">Streatham High Practice</a></h2>
                <div class="members__contact">
                    <div>1st Floor, 2-8 Gracefield Gardens, London, SW16 2ST</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-1" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(images/our-members/Streatham-High-Practice.jpg);">
                            <img src="images/our-members/Streatham-High-Practice.jpg" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Streatham High Practice</h2>
                            <div class="members__contact">
                                <div>1st Floor, 2-8 Gracefield Gardens, London, SW16 2ST</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(images/our-members/Streatham-Place-Surgery.jpg);">
                <img src="images/our-members/Streatham-Place-Surgery.jpg" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-2" class="js-open-popup">Streatham Place Surgery</a></h2>
                <div class="members__contact">
                    <div>26-28 Streatham Place, London, SW2 4QY</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-2" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(images/our-members/Streatham-Place-Surgery.jpg);">
                            <img src="images/our-members/Streatham-Place-Surgery.jpg" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Streatham Place Surgery</h2>
                            <div class="members__contact">
                                <div>26-28 Streatham Place, London, SW2 4QY</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-3" class="js-open-popup">The Hambleden Clinic</a></h2>
                <div class="members__contact">
                    <div>Denmark Hill, Blanchedowne, SE5 8HL</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-3" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>The Hambleden Clinic</h2>
                            <div class="members__contact">
                                <div>Denmark Hill, Blanchedowne, SE5 8HL</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-4" class="js-open-popup">Queens Road Surgery</a></h2>
                <div class="members__contact">
                    <div>12 Queen’s Road, Peckham, SE15 2PT</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-4" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Queens Road Surgery</h2>
                            <div class="members__contact">
                                <div>12 Queen’s Road, Peckham, SE15 2PT</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

     <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-5" class="js-open-popup">Silverlock Medical Centre</a></h2>
                <div class="members__contact">
                    <div>3 Warndon Street, Rotherhithe, SE16 2SB</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-5" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Silverlock Medical Centre</h2>
                            <div class="members__contact">
                                <div>3 Warndon Street, Rotherhithe, SE16 2SB</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

     <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-6" class="js-open-popup">Cassidy Medical Centre</a></h2>
                <div class="members__contact">
                    <div>651a Fulham Road, London, SW6 5PX</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-6" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Cassidy Medical Centre</h2>
                            <div class="members__contact">
                                <div>651a Fulham Road, London, SW6 5PX</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

     <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-7" class="js-open-popup">Mitchison Road Surgery</a></h2>
                <div class="members__contact">
                    <div>2 Mitchison Road, London, N1 3NG</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-7" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Mitchison Road Surgery</h2>
                            <div class="members__contact">
                                <div>2 Mitchison Road, London, N1 3NG</div>

                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->
</div><!-- /.layout -->