<section class="managm-flow">
  <div class="container">
    <picture>
      <source srcset="images/ez-doc-cycle.png, images/ez-doc-cycle-2.png 2x">
      <img srcset="images/ez-doc-cycle.png, images/ez-doc-cycle-2.png 2x" ="" alt="">
    </picture>
  </div>
</section><!-- end of .managm-flow -->