<div class="layout layout--small">
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom1" name="chk-custom" />
          <label for="chk-custom1"><span><b></b></span><div class="label-top">Week 1</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom2" name="chk-custom" />
          <label for="chk-custom2"><span><b></b></span><div class="label-top">Week 2</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom3" name="chk-custom" />
          <label for="chk-custom3"><span><b></b></span><div class="label-top">Week 3</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom4" name="chk-custom" />
          <label for="chk-custom4"><span><b></b></span><div class="label-top">Week 4</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom5" name="chk-custom" />
          <label for="chk-custom5"><span><b></b></span><div class="label-top">Week 5</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
    <div class="layout__item medium-and-up-1/6">
        <div class="checkbox_wrap checkbox_wrap--square">
          <input class="styled-checkbox" type="checkbox" id="chk-custom6" name="chk-custom" />
          <label for="chk-custom6"><span><b></b></span><div class="label-top">Week 6</div><!-- /.label-top --></label>
        </div>
    </div><!-- /.layout__item -->
</div><!-- /.layout layout--small -->
