<div class="training-assessment">
  <div class="container">
    <div class="layout">
      <div class="layout__item large-and-up-1/4">
      </div>
      <div class="layout__item large-and-up-3/4">
        <h1 class="mb--">Training Assessment</h1>
        <p>All staff are to complete this assessment at the end of the training session.</p>
        <div class="mv+">
           <div class="training">
              <form action="">
                  <h3>1. Which of these is a Read Code Category </h3>
                  <p>(select the 3 correct answers)</p>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> Diagnoses </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> Processes of Care</label>
                    <span>That's correct. Process of Care codes start with a number</span>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Medication </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> Administration </label>
                  </div>
              </form>
          </div><!-- /.training -->
        </div>
        <div class="mv+">
              <form action="">
                  <h3>2. What would be the best way of recording that a patient has asthma?</h3>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> Adding the free text "Asthma" to the patient's record </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> Adding the Read Code FH: Asthma (12D2) to the patient's record</label>
                    <span>That's not correct. This is not a diagnosis Read Code. FH means Family History</span>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Adding the Read Code Asthma (H33) to the patient's record </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> Adding the Read Code H/O: Asthma (14B4) to the patient's record </label>
                  </div>
              </form>
        </div>
        <div class="mv+">
              <form action="">
                  <h3>3. Which of these letters would require you to contact the patient?</h3>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> Adult patient who has DNAed a hospital appointment </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> Patient seen in a diabetic retinal screening clinic</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Adding the Read Code H/O: Asthma (14B4) to the patient's record </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> D. Normal smear result </label>
                  </div>
              </form>
        </div>
        <div class="mv+">
            <form action="">
                  <h3>4. Which of these A&E letters should be work-flowed to a GP?</h3>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> RTA with broken bones </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> Trauma where domestic violence is documented</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Asthma exacerbation </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> Children aged under 16</label>
                  </div>
              </form>
        </div>
        <div class="mv+">
              <form action="">
                  <h3>5. Which of these is a reason to work-flow a document to a GP?</h3>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> The letter mentions that the patient will be followed-up routinely in 6 months</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> The letter is addressed to a GP</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> The letter contains a new diagnosis </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> It is not clear if the letter contains an action for the GP</label>
                  </div>
              </form>
        </div>
        <div class="mv+">
              <form action="">
                  <h3>6. The document audit should be done:</h3>
                  <div class="checkbox_wrap">
                      <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
                      <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> Every week</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
                    <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> When the document scanner has made serious mistakes</label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
                    <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Every week for the first month of implementation, every 2 weeks for the second month and then once per month </label>
                  </div>
                  <div class="checkbox_wrap">
                    <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
                    <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> Once a year according to the surgery audit cycle.</label>
                  </div>
              </form>
        </div>
        <a href="" class="btn btn--primary btn--secondary">Complete</a>
      </div>
    </div>
  </div>
</div>