<div class="steps__list">
    <div class="layout layout--middle">
        <div class="layout__item large-and-up-2/5">
            <div class="img-wrap" style="background-image:url(http://placehold.it/360?text=01);">
                <img src="http://placehold.it/360?text=01">
            </div><!-- /.img-wrap -->
        </div>
        <div class="layout__item large-and-up-3/5">
            <span>Step one</span>
            <h2>Understanding current practice</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>
            <a href="javascript:;" class="read-more">Learn more</a><!-- /.read-more -->
        </div>
    </div>
</div><!-- /.steps__list -->
<div class="steps__list">
    <div class="layout layout--middle">
        <div class="layout__item large-and-up-2/5">
            <div class="img-wrap" style="background-image:url(http://placehold.it/360?text=02);">
                <img src="http://placehold.it/360?text=01">
            </div><!-- /.img-wrap -->
        </div>
        <div class="layout__item large-and-up-3/5">
            <span>Step two</span>
            <h2>Book your workshop</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>
            <a href="javascript:;" class="read-more">Learn more</a><!-- /.read-more -->
        </div>
    </div>
</div><!-- /.steps__list -->
<div class="steps__list">
    <div class="layout layout--middle">
        <div class="layout__item large-and-up-2/5">
            <div class="img-wrap" style="background-image:url(http://placehold.it/360?text=03);">
                <img src="http://placehold.it/360?text=01">
            </div><!-- /.img-wrap -->
        </div>
        <div class="layout__item large-and-up-3/5">
            <span>Step three</span>
            <h2>Training</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>
            <a href="javascript:;" class="read-more">Learn more</a><!-- /.read-more -->
        </div>
    </div>
</div><!-- /.steps__list -->