 <div class="intro">
    <div class="intro__video">
        <div class="video-object">
            <a href="javascript:;" style="background-image:url(images/video-placeholder.jpg);">
                <img src="images/video-placeholder.jpg" alt="video" />
                <div class="video-object__play">
                    {{icon('icon-play', 'icon-play')}}
                </div>
            </a>
        </div><!-- /.video-object -->
    </div><!-- /.intro__video -->
    <div class="intro__text">
        <div class="container container--middle">
            <div class="heading-blue">
                <h1>How it works</h1>
            </div><!-- /.heading-blue -->
            <p class="text-highlighted">Nullam congue, sem id dictum elementum, tellus mauris ultricies quam, vitae egestas erat sapien eu nulla. In suscipit et quam ac mollis. Sed ultrices tellus ex, vel faucibus tellus ultricies nec.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim. Nunc pharetra lorem nibh, quis scelerisque ipsum accumsan at. Pellentesque in leo tincidunt, maximus massa in, mattis massa. Nulla nec ligula massa. Suspendisse eleifend facilisis lacinia. </p>
        </div><!-- /.container container--middle -->
    </div><!-- /.intro__text -->
</div><!-- /.intro -->