<div class="tabs">
    <ul class="tabs__nav">
        <li><a href="#tab-1" class='is-active'>Videos</a></li>
        <li><a href="#tab-2">Photos</a></li>
        <li><a href="#tab-3">Documents</a></li>
    </ul>
    <div id="tab-1" class="tabs__item">
        {% include "partial.video-gallery.html" %}
    </div>
    <div id="tab-2" class="tabs__item">
    Lorem ipsum dolor sit amet.
    </div>
    <div id="tab-3" class="tabs__item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam veritatis voluptatibus, obcaecati nisi ex quam eos hic quis possimus laboriosam esse tempora! Quas officia, enim. Alias maxime id adipisci laboriosam necessitatibus eius, quis reprehenderit saepe laudantium asperiores est eum facere a ipsam esse explicabo quo consectetur minima quaerat, facilis officiis cum. Quas ullam, ratione in accusantium facere nulla vitae, quibusdam expedita nobis, aliquam, numquam sunt natus officia iusto maxime? Dolore culpa eum natus praesentium nam veritatis quaerat impedit sunt pariatur placeat, nihil, nostrum suscipit quam. Odio cum velit sint vero aliquam architecto repudiandae iure provident nihil quidem voluptate eveniet facilis consectetur possimus saepe voluptatibus aspernatur voluptas, atque officiis itaque optio. Possimus eveniet, esse, dicta libero recusandae, dignissimos sint similique delectus blanditiis tempore quo quam qui saepe veniam nulla nostrum ab.
    </div>
</div>