<div class="three-phase-circles">
  <div class="justifize">

    <div class="justifize__box">
      <div class="three-phase-circles__icon-wrap">
        <div class="three-phase-circles__icon-circle">
          <span>Identify</span>
        </div>
        <div class="three-phase-circles__tooltip">
          Identify steps in the process that are necessary and should be kept as well as those that could be removed
        </div><!-- end of .three-phase-circles__tooltip -->
      </div>
    </div>

    <div class="justifize__box icon-wrap">
      {{ icon('icon-arrow2-right', 'icon-arrow2-right')}}
    </div>

    <div class="justifize__box">
      <div class="three-phase-circles__icon-wrap">
        <div class="three-phase-circles__icon-circle bgr-fourth circle-center">
          <span>Co -Design</span>
        </div>
        <div class="three-phase-circles__tooltip">
          Co-Design a to-be model
        </div><!-- end of .three-phase-circles__tooltip -->
      </div>
    </div>

    <div class="justifize__box icon-wrap">
      {{ icon('icon-arrow2-right', 'icon-arrow2-right')}}
    </div>

    <div class="justifize__box">
      <div class="three-phase-circles__icon-wrap">
        <div class="three-phase-circles__icon-circle bgr-fifth circle-right">
          <span>Agree</span>
        </div>
        <div class="three-phase-circles__tooltip">Agree how documents are to be triaged, and who they would be assigned to</div><!-- end of .three-phase-circles__tooltip -->
      </div>
    </div>

  </div>
</div><!-- end of .managm-flow -->