<div id="training-popup" class="training-popup magnific-popup mfp-hide magnific-animate--fade">

    <h1>Training assessment</h1>
    <div class="progress-bar">
        <p>25 % completed</p>
        <div class="w3-progress-container w3-round-xlarge">
            <div class="w3-progressbar w3-round-xlarge" style="width:25%"></div>
        </div>
    </div><!-- end of .training-popup__progress -->

    <form action="" method="get" class="question">
        <div class="question-item">
            <div class="question-item__title">
                <h3>Which of these is a Read Code Category </h3>
                <p>(select the 3 correct answers)</p>
            </div>

            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk1" name="chk1" />
                <label for="chk1">
                    <span><b></b></span>
                    <b class="type-medium">A.</b> Diagnoses
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk2" name="chk2" />
                <label for="chk2">
                    <span><b></b></span>
                    <b class="type-medium">B.</b> B. Processes of Care
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk3" name="chk3" />
                  <label for="chk3">
                    <span><b></b></span>
                    <b class="type-medium">C.</b> Medication
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk4" name="chk4" />
                <label for="chk4">
                    <span><b></b></span>
                    <b class="type-medium">D.</b> Administration
                </label>
            </div>
        </div><!-- end of .question -->
        <div class="question-item">
            <div class="question-item__title">
                <h3>Which of these is a Read Code Category </h3>
            </div>

            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk1" name="chk1" />
                <label for="chk1">
                    <span><b></b></span>
                    <b class="type-medium">A.</b> Diagnoses
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk2" name="chk2" />
                <label for="chk2">
                    <span><b></b></span>
                    <b class="type-medium">B.</b> B. Processes of Care
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk3" name="chk3" />
                  <label for="chk3">
                    <span><b></b></span>
                    <b class="type-medium">C.</b> Medication
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk4" name="chk4" />
                <label for="chk4">
                    <span><b></b></span>
                    <b class="type-medium">D.</b> Administration
                </label>
            </div>
        </div><!-- end of .question -->
        <div class="question-item">
            <div class="question-item__title">
                <h3>Which of these is a Read Code Category </h3>
            </div>

            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk1" name="chk1" />
                <label for="chk1">
                    <span><b></b></span>
                    <b class="type-medium">A.</b> Diagnoses
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk2" name="chk2" />
                <label for="chk2">
                    <span><b></b></span>
                    <b class="type-medium">B.</b> B. Processes of Care
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk3" name="chk3" />
                  <label for="chk3">
                    <span><b></b></span>
                    <b class="type-medium">C.</b> Medication
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk4" name="chk4" />
                <label for="chk4">
                    <span><b></b></span>
                    <b class="type-medium">D.</b> Administration
                </label>
            </div>
        </div><!-- end of .question -->
        <div class="question-item">
            <div class="question-item__title">
                <h3>Which of these is a Read Code Category </h3>
            </div>

            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk1" name="chk1" />
                <label for="chk1">
                    <span><b></b></span>
                    <b class="type-medium">A.</b> Diagnoses
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk2" name="chk2" />
                <label for="chk2">
                    <span><b></b></span>
                    <b class="type-medium">B.</b> B. Processes of Care
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk3" name="chk3" />
                  <label for="chk3">
                    <span><b></b></span>
                    <b class="type-medium">C.</b> Medication
                </label>
            </div>
            <div class="checkbox_wrap">
                <input class="styled-checkbox " type="checkbox" id="chk4" name="chk4" />
                <label for="chk4">
                    <span><b></b></span>
                    <b class="type-medium">D.</b> Administration
                </label>
            </div>
        </div><!-- end of .question -->
        <div class="question-nav">
            <button class="btn btn--primary btn--secondary btn--prev">Prev question</button>
            <button class="btn btn--primary btn--secondary btn--next">Next question</button>
            <input type="submit" class="btn btn--primary btn--secondary btn--finish" value="Finish">
        </div><!-- end of .question-item__nav -->
    </form>
    <div class="results">
        <div class="layout layout--middle">
            <div class="layout__item large-and-up-5/12">
                <div class="chart" id="graph" data-percent="92"></div>
            </div>
            <div class="layout__item large-and-up-7/12">
                <h2>Your Result</h2>
                <div class="results--percents">
                    <span><strong>92 %</strong> Correct answers</span>
                    <span><strong>8 %</strong> Incorrect answers</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo ultricies dignissim.</p>
            </div>
        </div>
        <div class="question-nav">
            <button class="btn btn--primary btn--secondary btn--wva">Watch video again</button>
        </div><!-- end of .question-item__nav -->
    </div>
    <div class="results">
        <div class="layout layout--middle">
            <div class="layout__item large-and-up-5/12">
                <div class="chart" id="graph" data-percent="100"></div>
            </div>
            <div class="layout__item large-and-up-7/12">
                <h2>Congratulation!</h2>
                <div class="results--percents">
                    <span><strong>100 %</strong> Correct answers</span>
                    <span><strong>0 %</strong> Incorrect answers</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a rutrum nunc. Ut ac auctor quam. Morbi a quam sit amet justo <a href="javascript:;">download certificat</a></p>
            </div>
        </div>
        <div class="question-nav">
            <button class="btn btn--primary btn--secondary btn--wva">proceed to step 4</button>
        </div><!-- end of .question-item__nav -->
    </div>
</div><!-- / .training-popup -->