<form action="">
    <div class="audit-header">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span class="audit-header__title">Document</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <select id="selectOne" data-custom-class="select--audit">
                  <option value="option1">Monday</option>
                  <option value="option2">Tuesday</option>
                  <option value="option3">Wednesday</option>
                  <option value="option4">Thursday</option>
                  <option value="option4">Friday</option>
                  <option value="option4">Saturday</option>
                  <option value="option4">Sunday</option>
                  <option value="option4">Average</option>
                </select>
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-header -->
    <div class="audit-content" id="option1">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option2">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option3">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option4">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option5">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option6">
       <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option7">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
    <div class="audit-content" id="option8">
        <div class="layout layout--flush">
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Fax</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>EDT</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Electronic / practice email</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Patient delivered</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
               <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>Post</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-3/4">
                <span>TOTAL</span>
            </div><!-- /.layout__item -->
            <div class="layout__item small-1/2 large-and-up-1/4">
                <input type="text" class="input input--audit" />
            </div><!-- /.layout__item -->
        </div><!-- /.layout layout--flush -->
    </div><!-- /.audit-content -->
</form>