
<div class="container container--narrow">
    <div class="number-info-panel-wrap">
        <div class="number-info-panel">
            <div class="layout layout--middle layout--flush">
                <div class="layout__item large-and-up-2/5 text-center">
                    <span class="number-info-panel__digit"></span>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Vestibulum tempus</h2>
                    <p>Mauris blandit tempus finibus. Quisque congue dignissim felis tincidunt scelerisque. Etiam sollicitudin congue ex in posuere. Maecenas bibendum elit vitae vestibulum lobortis. Integer pharetra, tortor vitae congue porttitor, libero urna fringilla justo, non lobortis risus nisl a justo. </p>
                </div>
            </div>
            <div class="layout layout--middle layout--rev layout--flush">
                <div class="layout__item large-and-up-2/5 text-center">
                    <span class="number-info-panel__digit"></span>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Etiam element condiment</h2>
                    <p>Mauris blandit tempus finibus. Quisque congue dignissim felis tincidunt scelerisque. </p>
                    <p>Etiam sollicitudin congue ex in posuere. Maecenas bibendum elit vitae vestibulum lobortis. Integer pharetra, tortor vitae congue porttito.</p>
                </div>
            </div>
            <div class="layout layout--middle layout--flush">
                <div class="layout__item large-and-up-2/5 text-center">
                    <span class="number-info-panel__digit"></span>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Vestibulum tempus</h2>
                    <p>Mauris blandit tempus finibus. Quisque congue dignissim felis tincidunt scelerisque. Etiam sollicitudin congue ex in posuere. Maecenas bibendum elit vitae vestibulum lobortis. Integer pharetra, tortor vitae congue porttitor, libero urna fringilla justo, non lobortis risus nisl a justo. </p>
                </div>
            </div>
        </div>
    </div>
</div>