<section class="bgr-second">
    <div class="container container--narrow">
        <div class="info-panel entry-content">
            <div class="layout layout--middle">
                <div class="layout__item large-and-up-2/5">
                    <picture>
                        <source srcset="images/about-us/about-1.png, images/about-us/about-1-retina.png 2x">
                        <img srcset="images/about-us/about-1.png, images/about-us/about-1-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Aim of this toolkit</h2>
                    <ol>
                        <li>Reduction in average GP administration time from 60 min/day to 5 min/day. </li>
                        <li>Upskill and enhance the roles of non-clinical staff </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.info-panel -->
    </div><!-- /.container container--middle -->
</section><!-- /.bgr-second -->
<section class="bgr-white">
    <div class="container container--narrow">
        <div class="info-panel entry-content">
            <div class="layout layout--middle layout--rev">
                <div class="layout__item large-and-up-2/5">
                    <picture>
                        <source srcset="images/about-us/about-2.png, images/about-us/about-2-retina.png 2x">
                        <img srcset="images/about-us/about-2.png, images/about-us/about-2-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Major challenges facing Primary Care</h2>
                    <p><strong>as described in NHS England, Improving General Practice: A Call to Action April 2016</strong></p>
                     <ul>
                        <li>an ageing population, growing co-morbidities and increasing patient expectations, resulting in a 95% growth in consultation rate</li>
                        <li>growing dissatisfaction with access to services </li>
                        <li>growing reports of workforce pressures including recruitment and retention problems.</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.info-panel -->
    </div><!-- /.container container--middle -->
</section><!-- section -->
<section class="bgr-third">
    <div class="container container--narrow">
        <div class="info-panel entry-content">
            <div class="layout layout--middle">
                <div class="layout__item large-and-up-2/5">
                    <picture>
                        <source srcset="images/about-us/about-3.png, images/about-us/about-3-retina.png 2x">
                        <img srcset="images/about-us/about-3.png, images/about-us/about-3-retina.png 2x" />
                    </picture>
                </div>
                <div class="layout__item large-and-up-3/5">
                    <h2>Potential problems with current document management processes</h2>
                    <ul>
                        <li>Unmanageable growth in number of documents</li>
                        <li>Multiple routes in which documents are received into the practice leading to possible duplication</li>
                        <li>Lack of consistency in the manner in which documents are processed</li>
                        <li>Non-standardised clinical coding processe</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.info-panel -->
    </div><!-- /.container container--middle -->
</section><!-- section -->