<section class="hero-slider-wrap">
    <div class="hero-slider">
        <div style="background-image: url('images/hero-slider/hero-img3.jpg');">
            <div class="tableize tableize--full tableize--middle">
                <div class="tableize__cell">
                    <div class="container fade-in-top">
                        <div class="heading-blue"><h1>Document Handling: EZ Docs </h1></div>
                        <p>Our administrative staff are now the first point of contact for all GP correspondence, reducing admin time for GPs from one hour to approximately <strong>ten minutes a day</strong></p>
                        <a href="" class="btn btn--primary btn--white">FINDOUT</a>
                    </div>
                </div><!-- end of .tableize__cell -->
            </div><!-- end of .tableize -->
        </div>
        <div style="background-image: url('images/hero-slider/hero-img2.jpg');">
            <div class="tableize tableize--full tableize--middle">
                <div class="tableize__cell">
                    <div class="container fade-in-top">
                        <div class="heading-blue"><h1>Efficiently utilise administrative skills</h1></div>
                        <p>Save your staff up to 4 hours of scanning time through de-duplication and sorting of documentsSave your staff up to 10 hours of coding time as trained administrative staff become “expert coders” </p>
                        <a href="" class="btn btn--primary btn--white">FINDOUT</a>
                    </div>
                </div><!-- end of .tableize__cell -->
            </div><!-- end of .tableize -->
        </div>
    </div><!-- end of .hero-slider -->
</section><!-- end of .hero-slider-wrap -->