<section class="subscription mt">
	<div class="container container--middle">
		<div class="layout layout--middle">
			<div class="layout__item large-and-up-2/5">
				<h1>Subscribe to <br />our newsletter</h1>
			</div>
			<div class="layout__item large-and-up-3/5">
				<form action="" method="post" class="subscription__form">
					<input type="text" class="input input--primary" placeholder="Your email address">
					<input type="submit" class="btn btn--primary btn--text" value="submit" />

					<div class="subscription__message error">
					{{ icon('icon-input-info', 'icon-input-info') }}
					<span><b>Error:</b> Member exists</span>
				</div><!-- end of .subscription__message -->
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /.subscription -->

<section class="subscription mt">
	<div class="container container--middle">
		<div class="layout layout--middle">
			<div class="layout__item large-and-up-2/5">
				<h1>Subscribe to <br />our newsletter</h1>
			</div>
			<div class="layout__item large-and-up-3/5">
				<form action="" method="post" class="subscription__form">
					<input type="text" class="input input--primary" placeholder="Your email address">
					<input type="submit" class="btn btn--primary btn--text" value="submit" />
					<div class="subscription__message error">
					{{ icon('icon-input-info', 'icon-input-info') }}
					<span><b>Address field is empty.</b> Please type your email address and try submitting again.</span>
					</div><!-- end of .subscription__message -->
				</form>

			</div>
		</div>
	</div>
</section>
<!-- /.subscription -->

<section class="subscription mt">
	<div class="container container--middle">
		<div class="layout layout--middle">
			<div class="layout__item large-and-up-2/5">
				<h1>Subscribe to <br />our newsletter</h1>
			</div>
			<div class="layout__item large-and-up-3/5">
				<form action="" method="post" class="subscription__form">
					<input type="text" class="input input--primary" placeholder="Your email address">
					<input type="submit" class="btn btn--primary btn--text" value="submit" />

					<div class="subscription__message success">
						{{ icon('icon-input-info', 'icon-input-info') }}
						<span>Thank you for subscribing.</span>
					</div><!-- end of .subscription__message -->
				</form>

			</div>
		</div>
	</div>
</section>