 <div class="layout">
    <div class="layout__item large-and-up-1/4">
        <div class="members__image members__image--circle" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
        </div><!-- /.members__image -->
        <h3>Company Name</h3>
    </div><!-- /.layout__item -->
    <div class="layout__item large-and-up-1/4">
        <div class="members__image members__image--circle" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
        </div><!-- /.members__image -->
        <h3>Company Name</h3>
    </div><!-- /.layout__item -->
    <div class="layout__item large-and-up-1/4">
        <div class="members__image members__image--circle" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
        </div><!-- /.members__image -->
        <h3>Company Name</h3>
    </div><!-- /.layout__item -->
    <div class="layout__item large-and-up-1/4">
        <div class="members__image members__image--circle" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
        </div><!-- /.members__image -->
        <h3>Company Name</h3>
    </div><!-- /.layout__item -->
</div><!-- /.layout -->