 <div class="flex-grid">
    <div class="flex-grid__left" style="background-image:url(images/statistics/img-1.jpg)">
        <div class="flex-grid__content">
            <dl>
                <dt>6h</dt>
                <dd>Per week reduction in gp admin</dd>
            </dl>
        </div><!-- /.flex-grid__content -->
    </div><!-- /.flex-grid__left -->
    <div class="flex-grid__right">
        <div class="flex-grid__half">
            <div class="flex-grid__content">
                <dl>
                    <dt>10h</dt>
                    <dd>Per week saved in gp read coding</dd>
                </dl>
            </div><!-- /.flex-grid__content -->
        </div><!-- /.flex-grid__half -->
        <div class="flex-grid__half" style="background-image:url(images/statistics/img-2.jpg)">
            <div class="flex-grid__content">
                <div>Over</div>
                <dl>
                    <dt><span class="count">70</span>%</dt>
                    <dd>Reduction in document</dd>
                </dl>
            </div><!-- /.flex-grid__content -->
        </div><!-- /.flex-grid__half -->
        <div class="flex-grid__full">
            <div class="flex-grid__content">
                <dl>
                    <dt>4h</dt>
                    <dd>Per week saved in scanning</dd>
                </dl>
            </div><!-- /.flex-grid__content -->
        </div><!-- /.flex-grid__full -->
    </div><!-- /.flex-grid__right -->
</div><!-- /.flex-grid -->