<form action="">
  <div class="layout">
    <div class="layout__item large-and-up-1/2">
        <div class="datepicker-wrap">
            <input id="date-from" class="input input--border datepicker datepicker--one" placeholder="Start date" type="text">
            {{icon('icon-calendar', 'icon-calendar')}}
        </div><!-- /.datepicker-wrap -->
    </div>
    <div class="layout__item large-and-up-1/2">
        <div class="datepicker-wrap">
            <input id="date-to" class="input input--border datepicker datepicker--two" placeholder="Completition date" type="text" disabled>
            {{icon('icon-calendar', 'icon-calendar')}}
        </div><!-- /.datepicker-wrap -->
    </div>
</div>
</form>