<section class="subscription">
	<div class="container container--middle">
		<div class="layout layout--middle">
			<div class="layout__item large-and-up-2/5">
				<h1>Subscribe to <br />our newsletter</h1>
			</div>
			<div class="layout__item large-and-up-3/5">
				<form  action="" method="post" class="subscription__form">
					<input type="text" class="input input--primary" placeholder="Your email address">
					<input type="submit" class="btn btn--primary btn--text" value="submit" />
				</form>
			</div>
		</div>
	</div>
</section>
<!-- /.subscription -->