 <div class="training">
    <form action="">
        <h3>1. Which of these is a Read Code Category </h3>
        <p>(select the 3 correct answers)</p>
        <div class="checkbox_wrap">
            <input class="styled-checkbox is-correct" type="checkbox" id="chk10" name="chk" />
            <label for="chk10"><span><b></b></span><b class="type-medium">A.</b> Diagnoses </label>
            <span>That's correct. Process of Care codes start with a number</span>
        </div>
        <div class="checkbox_wrap">
          <input class="styled-checkbox is-wrong" type="checkbox" id="chk11" name="chk" />
          <label for="chk11"><span><b></b></span><b class="type-medium">B.</b> Processes of Care</label>
          <span>That's not correct. This is not a diagnosis Read Code. FH means Family History</span>
        </div>
        <div class="checkbox_wrap">
          <input class="styled-checkbox is-correct" type="checkbox" id="chk12" name="chk" />
          <label for="chk12"><span><b></b></span><b class="type-medium">C.</b> Medication </label>
        </div>
        <div class="checkbox_wrap">
          <input class="styled-checkbox is-correct" type="checkbox" id="chk13" name="chk" />
          <label for="chk13"><span><b></b></span><b class="type-medium">D.</b> Administration </label>
        </div>
    </form>
</div><!-- /.training -->