<aside class="sidebar">
    <div class="sidebar__resume">
        <h4>AT Medics Learning: Key changes
    and benefits</h4>
    <ul>
        <li><a href="#fax-log">Fax-log</a></li>
    </ul><!-- /.sidebar__resume -->
    </div><!-- /.sidebar__resume -->
    <div class="sidebar__list">
        <h4>Check list</h4>
        <ul>
            <li>Identify key processes in pathway, removal of unnecessary steps</li>
            <li>Contact departments that are still sending paper post and request for Electronic transfer of documents</li>
            <li>Ensure processes are in place to sort and de-duplicate</li>
            <li>Identify how letters would be assigned and to whom</li>
            <li>Additional training sessions arrangeds</li>
        </ul>
    </div><!-- /.sidebar__list -->
</aside>