<table class="table table--secondary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Modified</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-th="Name"><img src="images/icon-pdf.svg" alt="" class="icon-file" /><span>Lorem ipsum dolor sit.pdf</span></td>
      <td data-th="Type">PDF</td>
      <td data-th="Modified">6/14/2016</td>
      <td data-th="Download"><a href="" class="icon-wrap">{{ icon('icon-download', 'icon-download') }}</a></td>
    </tr>
    <tr>
      <td data-th="Name"><img src="images/icon-docs.svg" alt="" class="icon-file" /><span>Lorem ipsum dolor sit.doc</span></td>
      <td data-th="Type">Document</td>
      <td data-th="Modified">6/14/2016</td>
      <td data-th="Download"><a href="" class="icon-wrap">{{ icon('icon-download', 'icon-download') }}</a></td>
    </tr>
    <tr>
      <td data-th="Name"><img src="images/icon-xls.svg" alt="" class="icon-file" /><span>Lorem ipsum dolor sit.xls</span></td>
      <td data-th="Type">Spredsheet</td>
      <td data-th="Modified">6/14/2016</td>
      <td data-th="Download"><a href="" class="icon-wrap">{{ icon('icon-download', 'icon-download') }}</a></td>
    </tr>
    <tr>
      <td data-th="Name"><img src="images/icon-ptt.svg" alt="" class="icon-file" /><span>Lorem ipsum dolor sit.ptt</span></td>
      <td data-th="Type">Presentation</td>
      <td data-th="Modified">6/14/2016</td>
      <td data-th="Download"><a href="" class="icon-wrap">{{ icon('icon-download', 'icon-download') }}</a></td>
    </tr>
  </tbody>
</table>