<div id="open-signup" class="login-popup login-popup--signup magnific-popup mfp-hide magnific-animate--fade">
  <div class="login-popup__form">
      <h2>SIGN UP</h2>
      <p>If you already have account plase login <a href="#open-login" class="js-login-popup">here</a></p>
      <form action="javascript:;">
          <input type="text" class="input input--primary" placeholder="Practice name">
          <select data-custom-class="" data-placeholder='Position'>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
          </select>
          <input type="email" class="input input--primary" placeholder="Your email address">
          <input type="password" class="input input--primary" placeholder="Password">
          <input type="password" class="input input--primary" placeholder="Repeat password">
          <button type="submit" class="btn btn--primary btn--secondary btn--full">SIGN UP</button>
      </form>
  </div><!-- /.login-popup__form -->

</div><!-- /.login__popup -->

