<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Value</th>
      <th>Value</th>
      <th>Value</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-th="Item">Lorem ipsum dolor sit</td>
      <td data-th="Value">541</td>
      <td data-th="Value">1156</td>
      <td data-th="Value">1423</td>
      <td data-th="Value">18</td>
    </tr>
    <tr>
      <td data-th="Item">Sed do eiusmod tempor incididunt ut labore</td>
      <td data-th="Value">1423</td>
      <td data-th="Value">541</td>
      <td data-th="Value">18</td>
      <td data-th="Value">1156</td>
    </tr>
    <tr>
      <td data-th="Item">Ut enim ad minim veniam quis </td>
      <td data-th="Value">1423</td>
      <td data-th="Value">1156</td>
      <td data-th="Value">18</td>
      <td data-th="Value">541</td>
    </tr>
    <tr>
      <td data-th="Item">Consectetur adipisicing</td>
      <td data-th="Value">1156</td>
      <td data-th="Value">541</td>
      <td data-th="Value">18</td>
      <td data-th="Value">1423</td>
    </tr>
  </tbody>
</table>