<!-- Book wokrshop popup -->
<div id="open-workshop" class="workshop-popup magnific-popup mfp-hide magnific-animate--fade">

    <div class="workshop-popup__header">
        <h2>Book Workshop</h2>
        {{ icon('icon-book-workshop', 'icon-book-workshop') }}
    </div><!-- end of .workshop-popup__header -->

    <form action="javascript:;">
        <div class="layout">
            <div class="layout__item large-and-up-1/2">
                 <input type="text" class="input input--border" placeholder="Name">
            </div><!-- end of .layout__item -->
            <div class="layout__item large-and-up-1/2">
                 <input type="text" class="input input--border" placeholder="Practice">
            </div><!-- end of .layout__item -->
            <div class="layout__item large-and-up-1/2">
                <input type="text" class="input input--border" placeholder="Practice">
            </div><!-- end of .layout__item -->
            <div class="layout__item large-and-up-1/2">
                <input type="text" class="input input--border" placeholder="Your phone number">
            </div><!-- end of .layout__item -->
            <div class="layout__item large-and-up-1/2">
                <div class="datepicker-wrap">
                  <input class="input input--border datepicker" placeholder="Dates requested" type="text">
                  {{icon('icon-calendar', 'icon-calendar')}}
                </div><!-- /.datepicker-wrap -->
            </div><!-- end of .layout__item -->
            <div class="layout__item">
                <textarea class="input input--border input--textarea" placeholder="Message" onkeyup="auto_grow(this)"></textarea>
            </div><!-- end of .layout__item -->
            <div class="layout__item">
                <input type="submit" class="btn btn--primary btn--secondary" value="Book workshop" />
            </div><!-- end of .layout__item -->
        </div><!-- end of .layout -->
    </form>
</div><!-- /.book workshop -->
<!-- End of book wokrshop popup -->