<nav class="nav-secondary">
  <a href="javascript:;" class="nav-secondary__active">About</a>
  <ul>
    <li {% if about %}class="is-active"{% endif %} >
      <a href="about.html">About EZ Docs</a>
    </li>
    <li {% if howitworks %}class="is-active"{% endif %}>
      <a href="how-it-works.html">How it Works</a>
    </li>
    <li {% if casestudy %}class="is-active"{% endif %}>
      <a href="case-study.html">Case Study</a>
    </li>
    <li {% if team %}class="is-active"{% endif %}>
      <a href="our-team.html">Meet the Team</a>
    </li>
    <li {% if members %}class="is-active"{% endif %}>
      <a href="our-members.html">Our Members</a>
    </li>
    <li {% if faq %}class="is-active"{% endif %}>
      <a href="faq.html">FAQs</a>
    </li>
    <li {% if contact %}class="is-active"{% endif %}>
      <a href="contact.html">Contact Us</a>
    </li>
  </ul>
</nav>