<header class="header-main">
	<div class="justifize">
		<div class="justifize__box">
			<div class="logo-wrap">
				<a href="home.html" class="logo"><img src="images/logo.svg" alt=""></a>
				<a href="home.html" class="logo-small"><img src="images/logo-small.svg" alt=""></a>
			</div>
		</div>
		<div class="justifize__box">
			<nav class="nav-primary">
				<div>
					<ul>
						<li class="has-dropdown">
							<a href="javascript:;">About</a>
							<span class="icon-arrow">
								<img src="images/icon-select-box-arrow-down-dark.svg" alt="">
							</span>

							<ul>
								<li {% if about %}class="current-menu-item"{% endif %}>
									<a href="about.html">About EZ Docs</a>
								</li>
								<li {% if howitworks %}class="current-menu-item"{% endif %}>
									<a href="how-it-works.html">How it Works</a>
								</li>
								<li {% if casestudy %}class="current-menu-item"{% endif %}>
									<a href="case-study.html">Case Study</a>
								</li>
								<li {% if team %}class="current-menu-item"{% endif %}>
									<a href="our-team.html">Meet the Team</a>
								</li>
								<li {% if members %}class="current-menu-item"{% endif %}>
									<a href="our-members.html">Our Members</a>
								</li>
								<li {% if faq %}class="current-menu-item"{% endif %}>
									<a href="faq.html">FAQs</a>
								</li>
								<li {% if contact %}class="current-menu-item"{% endif %}>
									<a href="contact.html">Contact Us</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="get-started.html">Get Started</a>
						</li>
						<li>
							<a href="resources.html">Resources</a>
						</li>
						</ul>
						{% if page != "user-profile" %}
							<div class="nav-primary__login">
								<a href="#open-login" class="btn btn--primary btn--secondary-border js-login-popup">login</a>
								<a href="#open-signup" class="btn btn--primary btn--secondary js-login-popup">sign up</a>
							</div><!-- end of .nav-primary__login -->
						{% elseif page == "user-profile"  %}
						<ul class="user-profile-link">
							<li class="has-dropdown">
								<a href="">
									<span>Tegan Mils</span>
								</a>
								<span class="icon-arrow">
									<img src="images/icon-select-box-arrow-down-dark.svg" alt="">
								</span>
								<ul>
									<li>
										<a href="">Weekly Audit</a>
									</li>
									<li>
										<a href="">Logout</a>
									</li>
								</ul>
							</li>
						</ul>
					{% endif %}
				</div>
			</nav>
			<div class="nav-trigger"><span></span></div>
		</div>
	</div>
</header>
{% include "partial.login-popup.html" %}
{% include "partial.signup-popup.html" %}
