<div class="contact-form">
    <div class="contact-form__item">
        <h2>Get in Touch</h2>

        <form action="">
            <div class="input-wrap">
                <input class="input input--border" type="text" placeholder="Name" />
            </div><!-- end of .input-wrap -->
            <div class="input-wrap">
                <input class="input input--border" type="email" placeholder="Your email address" />
            </div><!-- end of .input-wrap -->
            <div class="input-wrap">
                <input class="input input--border" type="text" placeholder="Subject" />
            </div><!-- end of .input-wrap -->
            <div class="input-wrap">
                <textarea class="input input--border input--textarea" placeholder="Message" onkeyup="auto_grow(this)"></textarea>
            </div><!-- end of .input-wrap -->
            <button class="btn btn--primary btn--secondary 1/1">Send Message</button>
        </form>

    </div><!-- end of .contact-form__item -->
    <div class="contact-form__item flex">
        <div class="contact-form__item-data">
            <h2>Office Address</h2>
            <ul class="list-bare list-contact">
                <li>AT Medics Head Office</li>
                <li>26-28 Streatham Place</li>
                <li>London, SW2 4QY</li>
            </ul>

            <strong>Business Hours:</strong>
             <ul class="list-bare list-contact">
                <li>Monday-Friday: 9am – 5pm</li>
            </ul>

            <a href="#map" onclick="myClick(0);">View on map</a>
        </div><!-- end of .contact-form__item-data -->
    </div><!-- end of .contact-form__item -->
</div><!-- end of .contact-form -->