<div class="layout">
    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-8" class="js-open-popup">Kings Road Medical Centre</a></h2>
                <div class="members__contact">
                    <div>529 Kings Road, London, SW10 0UD</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-8" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Kings Road Medical Centre</h2>
                            <div class="members__contact">
                                <div>529 Kings Road, London, SW10 0UD</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-9" class="js-open-popup">Barlby Surgery</a></h2>
                <div class="members__contact">
                    <div>St Charles’ Centre for Health and Wellbeing, Exmoor Street,London, W10 6DZ</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-9" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Barlby Surgery</h2>
                            <div class="members__contact">
                                <div>St Charles’ Centre for Health and Wellbeing, Exmoor Street,London, W10 6DZ</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-10" class="js-open-popup">Thamesmead Health Centre</a></h2>
                <div class="members__contact">
                    <div>4-5 Thames Reach, Thamesmead, London, SE28 0NY</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-10" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Thamesmead Health Centre</h2>
                            <div class="members__contact">
                                <div>4-5 Thames Reach, Thamesmead, London, SE28 0NY</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-11" class="js-open-popup">Trowbridge Surgery</a></h2>
                <div class="members__contact">
                    <div>18 Merriam Avenue, London, E9 5NE</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-11" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Trowbridge Surgery</h2>
                            <div class="members__contact">
                                <div>18 Merriam Avenue, London, E9 5NE</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-12" class="js-open-popup">Bank House Surgery</a></h2>
                <div class="members__contact">
                    <div>84 High Street, Farnborough, BR6 7BA</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-12" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Bank House Surgery</h2>
                            <div class="members__contact">
                                <div>84 High Street, Farnborough, BR6 7BA</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-13" class="js-open-popup">Kings Cross Surgery</a></h2>
                <div class="members__contact">
                    <div>The Bloomsbury Building, St. Pancras Hospital, 4 St PancrasWay, London, NW1 0PE</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-13" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Kings Cross Surgery</h2>
                            <div class="members__contact">
                                <div>The Bloomsbury Building, St. Pancras Hospital, 4 St PancrasWay, London, NW1 0PE</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-14" class="js-open-popup">Parkway Health Centre</a></h2>
                <div class="members__contact">
                    <div>Parkway, New Addington, Croydon, CR0 0JA</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-14" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Parkway Health Centre</h2>
                            <div class="members__contact">
                                <div>Parkway, New Addington, Croydon, CR0 0JA</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->

    <div class="layout__item large-and-up-1/2">
        <div class="members">
            <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
            </div><!-- /.members__image -->
            <div class="members__info">
                <h2><a href="#open-popup-15" class="js-open-popup">Thornton Road Surgery</a></h2>
                <div class="members__contact">
                    <div>299 Thornton Road, Croydon, CR0 3EW</div>
                </div><!-- /.members__contact -->
            </div><!-- /.members__info -->
        </div><!-- /.members -->
        <div id="open-popup-15" class="members__popup magnific-popup mfp-hide magnific-animate">
            <div class="container">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                         <div class="members__image" style="background-image:url(http://placehold.it/2000?text=IMAGE);">
                            <img src="http://placehold.it/2000?text=IMAGE" alt="image" />
                        </div><!-- /.members__image -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="members__info">
                            <h2>Thornton Road Surgery</h2>
                            <div class="members__contact">
                                <div>299 Thornton Road, Croydon, CR0 3EW</div>
                            </div><!-- /.members__contact -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
                            <a href="javascript:;">www.website.co.uk</a>
                        </div><!-- /.members__info -->
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div><!-- /.container -->
        </div><!-- /.members__popup -->
    </div><!-- /.layout__item -->
</div><!-- /.layout -->

