<div class="user">
    <img src="images/thumb-slider/img1-large.jpg" alt="" class="user__img">
    <div class="user__content">
        <h1>Tegan Mils</h1>
        <span class="user__content-title">Description</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aliquam neque excepturi unde non cupiditate repudiandae laudantium, aperiam esse itaque asperiores a ipsam facilis, voluptates! Dolorem facere eligendi, nihil cum!</p>
    </div>
</div><!-- end of .user-profile -->