<ul class="pagination">
	<li class="page-number"><a class="prev" href="#">{{ icon('icon-arrow-left', 'icon-arrow') }}</a></li>
	<li {% if members %} class="page-number is-active" {% elseif !members %} class="page-number" {% endif %}>
		{% if members %}
			1
		{% elseif !members %}
			<a href="our-members.html">1</a>
		{% endif %}
	</li>
	<li {% if members2 %} class="page-number is-active" {% elseif !members2 %} class="page-number" {% endif %}>
		{% if members2 %}
			2
		{% elseif !members2 %}
			<a href="our-members-2.html">2</a>
		{% endif %}
	</li>
	<li {% if members3 %} class="page-number is-active" {% elseif !members3 %} class="page-number" {% endif %}>
		{% if members3 %}
			3
		{% elseif !members3 %}
			<a href="our-members-3.html">3</a>
		{% endif %}
	</li>
	<li {% if members4 %} class="page-number is-active" {% elseif !members4 %} class="page-number" {% endif %}>
		{% if members4 %}
			4
		{% elseif !members4 %}
			<a href="our-members-4.html">4</a>
		{% endif %}

	</li>
	<li class="dots">...</li>
	<li class="page-number">
		<a href="#">8</a>
	</li>
	<li class="page-number">
		<a href="#">9</a>
	</li>
	<li class="page-number">
		<a class="next" href="#">{{ icon('icon-arrow-left', 'icon-arrow icon-arrow--right') }}</a>
	</li>
</ul>
