<form class="fax-log" action="javascript:;">
    <div class="fax-log__header">
        <span>Item number</span>
        <span>Status</span>
    </div><!-- /.fax-header -->
    <div class="accordion accordion--fax">
      <div class="accordion__item">
        <h2 class="accordion__item-title">
            <a href="">Fax log No</a>
            <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
            <span class="fax-log__status"></span>
        </h2>
        <div class="accordion__item-content">
            <div class="layout">
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input class="input input--border datepicker" placeholder="Date fax received" type="text">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Time received">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Department/Consultant received from">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Organisation">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Contact details of department/consultant">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Received by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Role'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input class="input input--border datepicker" placeholder="Date Dept/consultant contacted " type="text">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                     <select data-custom-class="" data-placeholder='Actioned by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <button type="button" class="btn btn--primary 1/1">Complete</button>
                </div><!-- /.layout__item -->
            </div><!-- /.layout -->
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__item-title">
            <a href="">Fax log No</a>
            <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
            <span class="fax-log__status is-completed"></span> <!-- add class .is-completed if all fields are valid -->
        </h2>
        <div class="accordion__item-content">
            <div class="layout">
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input class="input input--border datepicker" placeholder="Date fax received" type="text" required="">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Time received">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Department/Consultant received from">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Organisation">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Contact details of department/consultant">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Received by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Role'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input class="input input--border datepicker" placeholder="Date Dept/consultant contacted " type="text">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                     <select data-custom-class="" data-placeholder='Actioned by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <button type="button" class="btn btn--primary 1/1">Complete</button>
                </div><!-- /.layout__item -->
            </div><!-- /.layout -->
        </div>
      </div>
      <div class="accordion__item">
        <h2 class="accordion__item-title">
            <a href="">Fax log No</a>
            <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
            <span class="fax-log__status"></span>
        </h2>
        <div class="accordion__item-content">
            <div class="layout">
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input id="fl1" class="input input--border datepicker" placeholder="Date fax received" type="text">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Time received">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Department/Consultant received from">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Organisation">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <input type="text" class="input input--border" placeholder="Contact details of department/consultant">
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Received by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <select data-custom-class="" data-placeholder='Role'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <div class="datepicker-wrap">
                        <input class="input input--border datepicker" placeholder="Date Dept/consultant contacted " type="text">
                        {{icon('icon-calendar', 'icon-calendar')}}
                    </div><!-- /.datepicker-wrap -->
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                     <select data-custom-class="" data-placeholder='Actioned by'>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div><!-- /.layout__item -->
                <div class="layout__item large-and-up-1/2">
                    <button type="button" class="btn btn--primary 1/1">Complete</button>
                </div><!-- /.layout__item -->
            </div><!-- /.layout -->
        </div>
      </div>
       <div class="accordion__item hidden"> <!-- Insert here form default data (when we click on add fax log button new empty fax log form will be added) -->
            <h2 class="accordion__item-title">
                <a href="">Fax log No</a>
                <span class="icon-arrow">{{ icon('icon-arrow-down', 'icon-arrow-down') }}</span>
                <span class="fax-log__status"></span>
            </h2>
            <div class="accordion__item-content">
                <div class="layout">
                    <div class="layout__item large-and-up-1/2">
                        <div class="datepicker-wrap">
                            <input class="input input--border datepicker" placeholder="Date fax received" type="text">
                            {{icon('icon-calendar', 'icon-calendar')}}
                        </div><!-- /.datepicker-wrap -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <input type="text" class="input input--border" placeholder="Time received">
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <input type="text" class="input input--border" placeholder="Department/Consultant received from">
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <input type="text" class="input input--border" placeholder="Organisation">
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <input type="text" class="input input--border" placeholder="Contact details of department/consultant">
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <select data-custom-class="" data-placeholder='Received by'>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <select data-custom-class="" data-placeholder='Role'>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <div class="datepicker-wrap">
                            <input class="input input--border datepicker" placeholder="Date Dept/consultant contacted " type="text">
                            {{icon('icon-calendar', 'icon-calendar')}}
                        </div><!-- /.datepicker-wrap -->
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                         <select data-custom-class="" data-placeholder='Actioned by'>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                    </div><!-- /.layout__item -->
                    <div class="layout__item large-and-up-1/2">
                        <button type="button" class="btn btn--primary 1/1">Complete</button>
                    </div><!-- /.layout__item -->
                </div><!-- /.layout -->
            </div>
        </div>
    </div> <!-- / .accordion -->

    <button type="button" class="btn btn--primary btn--secondary-border js-add-fax-log">{{icon('icon-plus', 'icon-plus')}} Add fax log</button>
    <button type="submit" class="btn btn--primary btn--secondary">Generate report</button>
</form><!-- /.fax-log -->