/* --------------------------------------------------------------------------------------
+
+ LINK
+
-------------------------------------------------------------------------------------- */

a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
