/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $base-title-color;

    > a {
        color: inherit;
    }
}

h1,
.h1 {
	font-weight: 900;
	text-transform: uppercase;
	@include font-size(35px);
	line-height: 51px;

	.bgr-base & {
		display: inline-block;
		color: white;
	}

	@include max-screen($breakpoint-large) {
		@include font-size(25px);
	}
}

h2 {
	font-weight: 700;
	@include font-size(25px);

	@include max-screen($breakpoint-large) {
		@include font-size(20px);
	}
}

h3 {
	font-weight: 500;
	@include font-size(21px);
}

h4 {
	font-size: 17px;
	font-weight: normal;
}