/*------------------------------------*\
    #PAGE
\*------------------------------------*/

$breakpoint-header: 						960px;
$breakpoint-steps: 							1135px;

html {
    font-family: $base-font-family;
    font-weight: 300;
}

body {
	padding-top: 116px;

	@include max-screen($breakpoint-header) {
		padding-top: 76px;
	}

	&.header-no-border {
		padding-top: 111px;

		@include max-screen($breakpoint-header) {
			padding-top: 71px;
		}

	}
}

.main-content {
	margin-top: -12px;
}

.page-template-template-fags {

	.accordion {
		padding-top: 45px;
		padding-bottom: 100px;
	}
}

.privacy-policy,
.terms-and-conditions {
	padding-bottom: 130px;

	h1 {
		color: #fff !important;
	}

	@include max-screen($breakpoint-large) {
		padding: 50px 0;
	}
}

.page-content {
	display: flex;
	flex-flow: row wrap;
	margin-left: -40px;

	@include max-screen($breakpoint-steps) {
		margin-left: 0;
	}
}

	.sidebar {
		width: 25%;
		padding-left: 40px;

		@include max-screen($breakpoint-steps) {
			width: 100%;
			padding-left: 0;
		}
	}

	.main-content {
		width: 75%;
		padding-left: 40px;

		@include max-screen($breakpoint-steps) {
			width: 100%;
			padding-left: 0;
		}
	}

.page-template-template-case-study {
	.heading-blue {
		+ h2 {
			margin-top: 26px !important;
		}
	}

	p {
		+ h3 {
			margin-top: 37px;
		}
	}

	h3 {
		+ table {
			margin-top: 10px;
		}

		strong {
			text-transform: uppercase;
		}
	}

	table {
		+ blockquote {
			margin: 70px 0 !important;
		}
	}

	p {
		+ h2 {
			margin-top: 70px;
		}
	}

	dl {
		margin-left: 20px;
	}

	dd {
		margin-left: 40px !important;
	}

	.entry-content {
		padding-bottom: 75px;
	}
}

#pieChart,
#barChart,
#multilineChart {
	margin: 70px 0;
}