/*------------------------------------*\
    #ENTRY CONTENT
\*------------------------------------*/

/**
 * Typographical base selectors.
 */

/**
 * Horizontal rules.
 */
hr {
    background-color: none;
    border: none;
    border-bottom: 1px solid $base-border-color;
    height: 1px;
    margin-bottom: $spacing-unit;
}

.text-style-1,
%text-style-1 {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $color-secondary-2;
}

.text-style-2,
%text-style-2 {
    font-weight: 500;
    color: $color-primary;
    text-transform: none;
    margin-bottom: 10px;
}

.text-style-3,
%text-style-3 {
    position: relative;
    font-size: 21px;
    color: #3f4245;
    padding-bottom: 20px;

    &:after {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

/**
 * Entry content.
 */
.entry-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $base-title-color;

        > a {
            color: inherit;
        }
    }

    h1,
    .h1 {
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(35px);
        line-height: 51px;

        .bgr-base & {
            display: inline-block;
            color: white;
        }
    }

    h2 {
        font-weight: 700;
        @include font-size(25px);
    }

    h3 {
        font-weight: 500;
        @include font-size(21px);
    }

    img,
    p,
    ul,
    ol,
    pre,
    blockquote,
    .embedded {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    i,
    em {
        font-style: italic;
    }

    b,
    strong {
        font-weight: 700;
    }


    ul, ol {
        list-style-type: none;
        margin-left: 30px;

        li {
            position: relative;
            padding-left: 33px;
            margin-bottom: 20px;

            &:before {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $color-base;
                position: absolute;
                left: 0;
                top: 8px;
            }

            ul, ol {
                padding-top: 20px;
                margin-left: 10px;

                li {

                    &:before {
                        border: 2px solid $color-base;
                        background-color: transparent;
                    }

                    ul, ol {

                        li {

                            &:before {
                                border: none;
                                background-color: $color-base;
                                height: 2px;
                                top: 11px;
                            }
                        }
                    }
                }
            }
        }
    }


    ol {
        counter-reset: list-ordered-first;

        > li {
            counter-increment: list-ordered-first;

            &:before {
                content: "" counter(list-ordered-first, decimal) ".";
                background-color: transparent !important;
                border: none !important;
                display: inline-block;
                position: absolute;
                top: 0 !important;
                left: 0 !important;
                color: $color-base;
                font-weight: bold;
            }

            ol {
                counter-reset: list-ordered-second;
                margin-left: 5px;

                li {
                    counter-increment: list-ordered-second;
                    padding-left: 45px;

                    &:before {
                        content: counter(list-ordered-first, decimal) "." counter(list-ordered-second, decimal) ".";
                        margin-right: 10px;
                    }

                    ol {
                        counter-reset: list-ordered-third;
                        margin-left: -5px;

                        li {
                            counter-increment: list-ordered-third;
                            padding-left: 58px;

                            &:before {
                                content: counter(list-ordered-first, decimal) "." counter(list-ordered-second, decimal) "." counter(list-ordered-third, decimal) ".";
                            }
                        }
                    }
                }
            }

            ul {
                li {
                    &:before {
                        content: '' !important;
                        display: block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $color-base !important;
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }
    }

    dl {
        counter-reset: def-list;
    }

    dt {
        font-size: 21px;
        font-weight: 500;
        color: $color-secondary-2;
        padding-bottom: 18px;
        counter-increment: def-list;

        &:before {
            content: counter(def-list, decimal) '. ';
        }
    }

    dd {
        margin-left: 0;
        padding: 0 0 18px 25px;
        position: relative;

        &:before {
            content: '';
            width: 8px;
            height: 8px;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            left: 0;
        }
    }

    .page-template-template-steps & {
        margin-bottom: 0;
    }

}

.heading-blue {
    background-color: $color-base;
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 24px;

    @include max-screen($breakpoint-medium) {
        display: block;
        text-align: center;
    }

    @include max-screen($breakpoint-large) {
        padding: 7px 24px;
    }

    h1 {
        margin-bottom: 0;
        color: white;
    }
}

.text-highlighted {
    font-weight: 500;
    color: $color-secondary-2;
    font-size: 19px;
}

figure {
    margin-bottom: 60px;

    figcaption {
        position: relative;
        padding-left: 35px;
        margin-top: 15px;
        font-size: 13px;
        line-height: $base-line-height;
        font-weight: 300;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            display: block;
            width: 25px;
            height: 2px;
            background-color: $color-base;
        }
    }
}

blockquote {
    font-size: 25px;
    font-weight: 500;
    line-height: 33px;
    color: $color-secondary-2;
    padding-left: 30px;
    position: relative;
    margin-bottom: 50px;

    @include max-screen($breakpoint-large) {
        @include font-size(18px);
    }

    &:before {
        content: '';
        display: inline-block;
        width: 2px;
        height: 100%;
        background-color: $color-primary;
        position: absolute;
        right: 100%;
    }
}

.quote-intro {
    font-weight: 300;
    line-height: 1.3;
    color: #3f4245;
    padding-left: 0;

    .page-template-template-get-started & {
        margin-bottom: 90px;
    }

    h2 {
        color: $color-primary;
    }

    p {
        margin-bottom: 10px;
    }

    cite {
        display: inline-block;
        font-size: 15px;
        color: #4b4c4e;
        font-style: normal;
        position: relative;
        padding-left: 35px;
        margin-top: 15px;
        font-weight: 300;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            display: block;
            width: 25px;
            height: 2px;
            background-color: $color-base;
        }
    }

    &:before {
        display: none;
    }

    h1 {
        @include max-screen($breakpoint-large) {
            @include font-size(21px);
        }
    }
}

.quote-example {
    font-weight: 300;
    line-height: 1.3;
    color: #3f4245;
    padding-left: 0;
    margin-bottom: 50px !important;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -25px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: block;
        width: 25px;
        height: 2px;
        background-color: $color-base;
    }

    &:before {
        display: none;
    }

    h2 {
        color: $color-primary;
        margin-bottom: 3px;
    }

    p {
        margin-bottom: 10px;
    }


    h1 {
        @include max-screen($breakpoint-large) {
            @include font-size(21px);
        }
    }
}