/*------------------------------------*\
    #STYLEGUIDE STYLES
\*------------------------------------*/

/**
 * These styles are used only for styleguide page, not for production.
 */

/**
 * Styleguide container.
 */
.styleguide-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;

    > h2 {
        color: #5fccf5;
    }
}

/**
 * Styleguide block.
 */
.styleguide-block {
    border-bottom: 1px solid rgba(#dddcdc, .5);
    margin-bottom: 40px;
    padding-bottom: 40px;

    a[name] {
        color: #89969f;

        &,
        &:hover {
            text-decoration: none;
        }
    }

    > h2 {
        color: #5fccf5;
    }
}

/**
 * As seen on http://paularmstrong.github.io/swig/docs/tags, remixed with
 * http://prismjs.com/ okaidia theme.
 */
pre,code,samp,var,kbd {
    background: #272822;
    color: #f8f8f8;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
}

pre {
    border-collapse: separate;
    margin-bottom: 3rem;
    overflow: auto;
    padding: 1.5em 0;
}

code {
    direction: ltr;
    padding: 1.5em;
    text-align: left;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    white-space: pre;
    word-break: normal;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;


    .token--comment,
    .token--prolog,
    .token--doctype,
    .token--cdata {
        color: slategray;
    }

    .token--punctuation {
        color: #f8f8f2;
    }

    .token--namespace {
        opacity: .7;
    }

    .token--property,
    .token--tag,
    .token--constant,
    .token--symbol {
        color: #f92672;
    }

    .token--boolean,
    .token--number{
        color: #ae81ff;
    }

    .token--macro,
    .token--selector,
    .token--attr-name,
    .token--string,
    .token--builtin {
        color: #9b703f;
    }


    .token--operator,
    .token--entity,
    .token--url,
    .language-css .token--string,
    .style .token--string,
    .token--variable {
        color: #f8f8f2;
    }

    .token--atrule,
    .token--attr-value
    {
        color: #e6db74;
    }


    .token--keyword{
    color: #66d9ef;
    }

    .token--regex,
    .token--important {
        color: #fd971f;
    }

    .token--important {
        font-weight: bold;
    }

    .token--entity {
        cursor: help;
    }
}
